[2018-03-21 19:12] znat opened #524 "week granularity not working"
See error:

[code]

[2018-03-22 15:29] wilmardo commented on #495
I am running into this issue when installing [audreyr/cookiecutter](https://github.com/audreyr/cookiecutter) (due to cookiecutter > jinja2-time > arrow).

The issue seems to be that pip looks for `backports.functools_lru_cache>=1.2.1` and not the pinned `backports.functools_lru_cache==1.2.1`.  If I remove the 1.5 version and install the 1.2.1 it works fine.

What does needs fixing here and where d

[2018-03-28 12:27] systemcatch commented on #495
Is this due to https://github.com/crsmithdev/arrow/blob/master/setup.py#L44 in the setup.py file?

[2018-03-28 13:34] wilmardo commented on #495
@systemcatch Good catch! 👍

Opened the PR to hotfix this for now, also reopened [the issue](https://github.com/jaraco/backports.functools_lru_cache/issues/10) over at `jaraco/backports.functools_lru_cache`

[2018-03-28 16:46] jaraco commented on #495
In the upstream ticket, I've responded that I'm unable to replicate the issue. We need to determine what is unique about the environments in which this issue is still present.

[2018-03-28 16:56] jaraco commented on #495
I notice in your logs, @wilmardo, that you are using `--user` to install. Perhaps that's related. Still, I tried it without replicating the issue:

[code]

Others have reported that when it's installed that the `__init__.py` is missing, but that's not what I see:

[code]

What do you see when you install for `--user`? What version of pip do you have? What do you see when you look at `__path__` for

[2018-03-29 12:50] wilmardo commented on #495
@jaraco I see the issue with replicating, I did a reset of my WSL and the issue was gone!
But to get to the bottom of this I tried to replicate my installation steps and had to do the following to get the error to pop up, each python command is a test if it is working:
<details>
<summary>bash history</summary>

[code]
</details>
&nbsp;

I have no more time at the moment to retrace and find out whi

[2018-03-29 18:32] jaraco commented on #495
Yep, there's a lot going on in that bash history, including installing and uninstalling of various packages to two different locations (system and user-local). And it seems likely there's a permissions issue if some files/packages/directories are installed sudo but then uninstalled without sudo. I think what I'd recommend at this point, if you wish to dig deeper, is to use Docker (or some other vi

[2018-03-31 18:09] Andrew-Katcha commented on #519
I would like to tackle this.  Any suggestions on where I can start?

[2018-03-31 21:34] florpor commented on #495
This is still an issue on python 2.6 since the current setup.py require only covers 2.7:

[code]

I guess currently in the setup.py file the require is defined as -
`":python_version=='2.7'": ['backports.functools_lru_cache>=1.2.1'],`
but should be -
`":python_version<='2.7'": ['backports.functools_lru_cache>=1.2.1'],`
or using a fixed backports version as suggested above.

[2018-04-01 20:56] Luca409 commented on #519
Actually, errors are raised for invalid dates that are correctly formatted:
`>>> arrow.get('2018-02-30')
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Library/Python/2.7/site-packages/arrow/api.py", line 23, in get
    return _factory.get(*args, **kwargs)
  File "/Library/Python/2.7/site-packages/arrow/factory.py", line 164, in get
    dt = parser.DateTimeParser

[2018-04-02 20:47] msultani commented on #456
Hi, I'm interested in taking a crack at this issue. Has it been addressed yet?

[2018-04-03 15:22] Andrew-Katcha commented on #519
Good point.  For consistency, which do you think is the best way to tackle this?

[2018-04-09 17:59] Andrew-Katcha commented on #519
@Luca409 @ryantuck
I have submitted a pull request for this issue here: #527
Feel free to give it a review!

[2018-04-09 18:38] freenetwork opened #528 "How to convert date to other tz via utcoffset value"
Example JS:
[code]

I send utcoffset and get new datetime

[2018-04-12 22:56] ave233 commented on #415
Is there still interest in this issue? I'd be willing to work on this issue

[2018-04-12 22:59] czechben commented on #427
Is there any interest in implementing this enhancement?

Has anyone considered utilizing a Python package such as geonames and integrating this into the package requirements in order to make the lat/long translation easier?

[2018-04-13 12:40] krisfremen commented on #524
Nice catch.

Even though it's there in the error message, it doesn't have any code to handle week granularity.

[2018-04-14 03:06] krisfremen commented on #524
https://github.com/crsmithdev/arrow/pull/529

Got a pull request to fix this.

[2018-04-17 15:22] addisonp opened #534 "EU format question"
I was just wondering if anyone had taken into consideration the way some EU institutions still use the DD.MM.YYYY format?  I have actually come across some instances that use this format and was wondering if it would be useful to add that to arrow's automated detection?  I would love to do it and add it to the arrow codebase if it is something that would be helpful to others instead of using arrow

[2018-04-18 04:11] tvytlx opened #535 "`arrow.get` raised wrong exception"
[code]
I think it should raise `ParserError `

[2018-04-18 10:22] glennpierce opened #536 "Add halfhour frame to ceil and floor"
Would it be possible to add a halfhour to _get_frames to allow ceil and round to
round to the nearest half hour ?

Or is that currently possible ?

[2018-04-20 11:28] krisfremen commented on #535
which version are you using? ParserError is raised with 0.12.1

[code]

[2018-04-20 11:48] krisfremen commented on #536
it's not currently possible.

But you might do some custom logic to compare a range of minutes, do a replace and then a ceiling/floor with a minute frame, perhaps as a quick hack.

[2018-04-20 11:52] glennpierce commented on #536
Not tested too much but in the end I did this hack

[code]

[2018-04-20 14:44] tvytlx commented on #535
[code]
Python version is 3.6.3

[2018-04-28 21:52] mscansian opened #537 "ImportError: No module named functools_lru_cache"
I'm getting the following exception when using arrow on Python 2.7.
Not sure if it's related to #497
[code]

[code]

[2018-04-28 23:12] aster94 opened #538 "improving get method"
hello,
i would like to ask for a new feature which is present in other library which manages times, for example in [moment](https://github.com/zachwill/moment)
in that module i can do something like
`moment.date(d)`
where d is 01/01/2001 or 1/1/2001 or 01/01/01 or 01-01-2001
i am trying to say that it accept quite everything, it would be nice if get() was able to be feed with everything too

here

[2018-04-30 01:00] mscansian commented on #538
How does this lib handle dates like `10/05/2018`. Is it October 5th or May 10th?

[2018-04-30 01:03] mscansian commented on #537
Probably a duplicate of #495

[2018-04-30 07:16] aster94 commented on #538
You can specify what you are parsing with ".format("DD/MM/YYYY)"

The default should be this MM/DD/YYYY

Btw is this related to the issue?

[2018-05-02 02:40] flxfxp commented on #357
Any news on this? Thanks!

[2018-05-02 22:38] dlopuch commented on #72
This issue isn't limited to `.shift()`, but also functions like `.range()`.

That part is clear, but here's a quick test case across the spring DST boundary to check:

[code]

In the normalized-to-UTC column, note the two `2018-03-11T09:00:00+00:00` entries:

[code]

[2018-05-10 14:46] jrball3 opened #539 "Timezone Disconnect Issue"
[code]

System time is 10:43 AM at runtime, operating in CT, USA.

[2018-05-10 16:19] #539 closed

[2018-05-10 16:19] jrball3 commented on #539
Should have been using pytz's timezone localize instead of replace.

[2018-05-10 16:30] pganssle commented on #539
@jrball3 [Probably shouldn't be using `pytz` at all](https://blog.ganssle.io/articles/2018/03/pytz-fastest-footgun.html).

[2018-05-30 13:57] hosseinmoein commented on #434
I have another example that indicates arrow doing greedy matching and producing wrong results:
[code]
In the first example it matches incorrectly with `MMM-YY`.
But if you put `MMM-YYYY` first, than it matches with the correct pattern

[2018-06-14 02:21] #493 closed

[2018-06-19 06:50] aster94 commented on #538
Hi,
The default is not related to the issue, please read again post #1

[2018-06-20 07:37] yxlwfds commented on #495
python2.7下
pip install arrow==0.12.0 ,over~~!! 不要最新版本 最新版本有问题

[2018-07-20 23:07] JoelChambers commented on #87
I can confirm that arrow 0.12.1 is still not parsing basic ISO-8601 date/time strings without separators, such as **20180710T230024** and **20180710T230024Z**. I get the following error:

[code]

It looks like the `parse_iso` function needs to have more formats added to parse dates and datetimes without separators. I confess to not being good enough at Python myself to submit a code recommendation

[2018-07-24 14:02] vogt31337 commented on #509
I found a somewhat similar Issue, while traversing a year of dates:
[code]
but for example on 2015-10-06 act_day is _2015-10-06T01:00:00+02:00_, which is weird. Maybe I just don't understand your library correctly, but I would've expected **2015-10-06T02:00:00+02:00**, but not just a change from _2015-10-06T01:00:00+01:00_ to _2015-10-06T01:00:00+02:00_...

[2018-08-03 15:44] coopie opened #541 "humanize has odd behavior with future days"
example:
[code]

[code]

it seems the humanizer trips over after 2 days - after that it's one day behind every time.

looking into the code, the second delta is always one off being the right number of days.

for example the seconds delta between now and +3days is `259199`, making the delta `259200` seems to fix the problem

[2018-08-15 01:57] zgfh opened #542 "ceil() not work as I want"
[code]

[2018-08-15 07:36] n3storm commented on #542
http://arrow.readthedocs.io/en/latest/#replace-shift

Next dates should be done via replace method:
[code]
Not sure why you are using ceil (end of the year) instead of floor (begining of the year)

[2018-08-15 07:53] zgfh commented on #542
thanks for help.
I have use floor to make it work:
[code]
and,Does `arrow.get(1514736000).to('Asia/Shanghai').ceil('year').ceil('year')` and `arrow.get(1514736000).to('Asia/Shanghai').ceil('year')` return the same result as expected?

[2018-08-15 22:08] maludwig opened #543 "microsecond precision simulation?"
I'm not sure this is a good idea, but, on Windows, with Python 3.6 at least, there is no microsecond precision on Python's implementation of datetime.datetime.utcnow(), and as a result, Arrow also doesn't have that precision, so on Linux/OSX, this works, but on Windows, it doesn't:

[code]

In order to make timestamps linear, I've made a function that adds an ever increasing number:

[code]

It ge

[2018-08-15 22:10] maludwig commented on #543
Primary upside is that all generated timestamps are linear. Primary downside is that if you generate 1000 in under 1ms (which I can do on my Core i7), they start wandering farther into the future than what reality is. They take longer to generate, and they are kinda hacky.

[2018-08-16 01:13] maludwig commented on #543
Waitwait, the above is a terrible solution. Forget it.

Ok so, there's a new thing in Python 3.7: https://www.python.org/dev/peps/pep-0564/
The function names promise nanosecond precision, but it turns out that that's actually wild optimism. It also turns out that the extra math involved in converting from int nanoseconds to float seconds is slower than the native float implementations.

So there'

[2018-08-17 07:55] jaapz commented on #542
@n3storm The code you've given would set the year to year 1, instead of adding 1 to the current year in the date. You should either use `.replace(years=+1)` (notice the `s` in `years`), and preferably use `shift` instead of `replace`.

[2018-08-20 19:42] mikenerone commented on #479
IMO this is still a valid RFE. It seems to me the main use case is when you're _not_ specifying new representations, but are stuck with someone else's existing one. E.g. in my case, I need to parse a naive timestamp from a remote service outside my control, but I do happen to know the (non-UTC) timezone used by that service. I agree that the service's representation is naive, but I can't do anythi

[2018-09-21 19:13] AlJohri commented on #428
related https://github.com/crsmithdev/arrow/issues/72

[2018-09-26 08:53] jaapz commented on #512
Yep I spent some time figuring out what's the difference between 0.12.0 and 0.12.1 because HISTORY.md was not updated to list the new (bugfix) release. Turns out it's just some dependency changes so nothing big, but it would be great if the HISTORY.md would be updated to contain this version.

[2018-10-11 00:30] Razzeee commented on #512
A tag would be very helpful

[2018-10-13 10:38] DeQueen opened #546 "BUG for arrow.Arrow.range"
when i ran [arrow.Arrow.range] to draw financial report dates between given startdate and enddate, i found that for the fourth quarter, the reault gives ‘1230’ instead of '1231'，see below：

    start_quarter = arrow.get("20170106", 'YYYYMMDD').ceil('quarter')
    end_quarter = arrow.get("20180630", 'YYYYMMDD').ceil('quarter')
    res = arrow.Arrow.range('quarter', start_quarter, end_quarter)

the

[2018-10-16 21:42] beaugunderson opened #547 "arrow.get breaks under cProfile"
This example raises an exception when `broken()` is called:

[code]

[code]

If I examine the internal `_datetime` attribute I see this inside `broken()`:

[code]

And this in `working()`:

[code]

[2018-10-16 21:43] beaugunderson commented on #547
This is with arrow 0.12.1 on Python 3.7 on macOS Mojave.

[2018-10-16 22:02] beaugunderson commented on #547
Traced this all the way through to `dateutil.tz.tzoffset()`, so it is not specific to `arrow`:

[code]

Prints:

[code]

[2018-10-16 22:33] beaugunderson commented on #547
And further chased it down to `timedelta`; bug open here: https://bugs.python.org/issue35004

[2018-10-16 22:33] #547 closed

[2018-10-23 15:56] mubashirhanif opened #548 "method to provide similar function as isBetween in moment.js"
I am working on some project, where I need to repeatedly check if a certain date is between 2 other dates.
Something like Moments.js's [isBetween](https://momentjs.com/docs/#/query/is-between/).

My current approach is something like,
[code]

But I think this kind of functionality should come from arrow. I can make a pull request that introduces this method, let me know if it should be done.

[2018-10-24 07:17] houyingkun opened #549 "Could not parse timezone expression "JST""
test_str = '2018/07/01 01:00:17JST'
test_format = 'YYYY/MM/DD HH:mm:ssZZZ'
locale = 'ja'
print(arrow.get(test_str, test_format, locale=locale))

And it except an exception:
arrow.parser.ParserError: Could not parse timezone expression "JST"
Is it a bug?

[2018-11-05 10:55] akuzmichov opened #551 "DST conversion: EDT to EST happens at UTC time but not at local time"
According to the [Wikipedia article](https://en.wikipedia.org/wiki/Eastern_Time_Zone), the time returns at 2:00 a.m. EDT to 1:00 a.m. EST on the first Sunday in November. On November 4th, 2018, I observed that the time isn't set back at the correct time.
[code]
The tzinfo is set back from `-04:00` to `-05:00` on November 4th, 02:00 UTC, which is November 3rd, 22:00 EDT.
Not sure if it may be a fea

[2018-12-10 12:12] systemcatch opened #552 "Arrow needs more contributors and maintainers 🚧"
Recently the activity in this repo has been really low. Lots of old PR's and issues without any followup, last commit was in March, no release or tag since 0.10.0.

I'd be prepared to help with issues, PR's and general maintenance. Maybe there are others who would as well? The more people who help out the easier it'll be.

I really like this package and would be sorry to see it go stale.

@crsmith

[2018-12-12 14:17] systemcatch commented on #512
@Razzeee I've made tags for versions 0.11.0, 0.12.0 and 0.12.1. Hopefully I'll get around to making releases soon.

@jaapz  Plan is to update HISTORY.md with 0.12.1.

[2018-12-12 17:34] systemcatch commented on #423
Version 0.11.0 (and onwards) are on PyPi now so this can be closed.

[2018-12-12 17:34] #423 closed

[2018-12-12 18:43] systemcatch commented on #419
0.11.0 and 0.12.0 were released on PyPi in November 2017 so we should be good here.

[2018-12-12 18:43] #419 closed

[2018-12-13 09:12] jaapz commented on #512
@systemcatch thanks, much better!

[2018-12-13 12:33] systemcatch commented on #523
@boarik I merged that PR so hopefully this is fixed in the next release.

[2018-12-13 12:33] #523 closed

[2018-12-13 15:04] systemcatch commented on #506
This was fixed in 61f4808d5f6bb116b5952b90b9c838e81a26e8b9

[2018-12-13 15:04] #506 closed

[2018-12-13 16:43] systemcatch opened #554 "Investigate why timezone formatter sometimes fails"
This is partly my fault as I missed rerunning travis before merging in #391 resulting in the build failing. I'll make sure to rerun tests on old PR's in the future.

The line that causes problems is https://github.com/crsmithdev/arrow/blob/master/tests/formatter_tests.py#L125

Something has clearly changed between now and when the tests first passed.

@rafaelsierra any ideas on this?

[2018-12-13 16:49] systemcatch commented on #443
I'm hoping to kickstart work on this repo, would be useful to have more people helping out as collaborators though.

Regarding a possible Version 1.0 I can't say when that could happen, lots of work needs to be done.

[2018-12-13 16:49] #443 closed

[2018-12-13 18:40] systemcatch commented on #554
Few examples.

[code]

[code]

[code]

[2018-12-14 11:41] systemcatch commented on #438
I get this when building from master.
[code]
Looks like the problem still exists, @nyuszika7h interested in fixing this?

[2018-12-14 11:47] systemcatch commented on #503
@JordanKnott I don't see this error in Python 3.6.3 when building arrow off of master.
[code]

[2018-12-14 12:04] systemcatch commented on #549
In the docs (https://arrow.readthedocs.io/en/latest/#tokens) it says that arrow uses timezone names from the tz database provided by dateutil.

[code]
'JST' is not in there hence the failure.

[2018-12-14 17:18] systemcatch commented on #324
Running @ztane  example I get this now.
[code]

and for @Guts example.
[code]

Same for both python 2.7 and 3.6.

[2018-12-14 17:37] #168 closed

[2018-12-14 17:46] systemcatch commented on #341
This is the current situation. Arrow will now parse this timestamp but truncate it to 6 fractional seconds.

[code]

[2018-12-14 17:56] systemcatch commented on #243
It's in the token list now so this can be closed.

[2018-12-14 17:56] #243 closed

[2018-12-14 17:59] systemcatch commented on #542
There's no bug here and advice has been given to improve your code.

[2018-12-14 17:59] #542 closed

[2018-12-14 18:05] systemcatch commented on #495
@bgruber that's useful to know, what version of python were you using?

[2018-12-15 20:14] bgruber commented on #495
2.7.15 on ubuntu 18.10.

[2018-12-17 16:58] #503 closed

[2018-12-18 21:10] martinzugnoni opened #556 "Interactive demo for `arrow` code examples"
Hello @crsmithdev,

I've been using `arrow` lately and found it really interesting. We're also evaluating to include it in our curriculum at https://rmotr.com/ (co-founder and teacher here). It's cool to show `arrow` (and also other libraries) in comparison to the built-in `datetime` module.

While looking at the code examples in the README file I thought it would be great to provide some interact

[2018-12-19 16:14] #537 closed

[2018-12-19 16:55] systemcatch commented on #535
I cannot reproduce this error.
[code]

However I recognize that ValueError message, it's from the datetime module. Trying to trace the calls I think it's being raised on https://github.com/crsmithdev/arrow/blob/master/arrow/parser.py#L269 but I don't have much idea why different error messages are showing for different people.

Probably need to run a debugger on this, any chance you can do that @t

[2018-12-19 20:17] systemcatch commented on #428
#91 #456 (and I'm sure there are others) talk about the problem of get() returning something even if it's terribly wrong. The possible solutions tend to be either adding a kwarg that makes parsing really strict and fail instead of returning garbage, or changing the behavior entirely. The latter would have to be done with deprecation warnings since it's sure to break many people's code.

DST proble

[2018-12-19 20:17] #428 closed

[2018-12-19 20:21] systemcatch commented on #435
@pganssle explained it really well, we should make this more explicit in the docs.

[2018-12-19 20:21] #435 closed

[2018-12-19 20:38] systemcatch commented on #556
@martinzugnoni thanks for the idea. On a brief pass over it looks interesting, though when I saw it all of the code seemed to have already run, maybe this is expected though. I'm not going to have much time to get to this soon but we'll keep an eye on it.

The question is does this provide much benefit to first time users of arrow? I wouldn't really use this but others might, we need input from th

[2018-12-19 20:39] systemcatch commented on #549
Closing this as we can't help here.

[2018-12-19 20:39] #549 closed

[2018-12-19 21:12] systemcatch commented on #534
Hey I know it's been a while but if you still feel like doing this then by all means go for it.

[2018-12-20 03:07] tvytlx commented on #535
[code]

the `fmt_pattern_re` generated from `'YYYY.M.D'` should be `(?P<YYYY>\\d{4})\.(?P<M>\\d)\.(?P<D>\\d)`, but now it is `(?P<YYYY>\\d{4}).(?P<M>\\d{1,2}).(?P<D>\\d{1,2})`, and the `match` is not `None`, so it raised a `ValueError` later instead of a `ParserError` which we expect.

Is there some bug in `_generate_pattern_re` method that causes different behavior among different environment? th

[2018-12-20 10:18] #426 closed

[2018-12-20 17:58] systemcatch commented on #535
This is what I'm seeing right now.
[code]
The unescaped dots in your fmt_pattern_re are causing the match.  Why they aren't escaped I don't know yet. https://github.com/crsmithdev/arrow/blob/master/arrow/parser.py#L131 should escape them.

[2018-12-21 03:35] tvytlx commented on #535
dot escape line you referred above was [merged to master](https://github.com/crsmithdev/arrow/commit/3f67c8be2cff3e9f634a31e4a48a2c1bf4e0eaa0) after 0.12.1 https://github.com/crsmithdev/arrow/commit/5a481c02babbbc458db7fe98d3cbaa8ad5dd50c7
 release, so I can't find it on my 0.12.1 source code...

[code]

[2018-12-21 10:11] systemcatch commented on #535
Well it's not that then. The way forward is for you to step through _generate_pattern_re line and see what happens, though that uses std lib modules so I don't see what could be different there.

The explanation I'm coming round to is that it's something to do with your environment. Can you give us more details on it?

[2018-12-21 11:13] #171 closed

[2018-12-21 11:16] systemcatch commented on #494
Python 3.6 is now supported!

[2018-12-21 11:16] #494 closed

[2018-12-21 11:22] tvytlx commented on #535
this commit https://github.com/crsmithdev/arrow/commit/3f67c8be2cff3e9f634a31e4a48a2c1bf4e0eaa0 not included in the 0.12.1 version, that's way the dot didn't escape, and I think you run the code on master, you should use the pip install version to reproduce

[2018-12-21 11:36] systemcatch commented on #512
Version 0.13.0 is going to be released very soon. Quite a few changes will be coming.

[2018-12-22 17:54] systemcatch commented on #535
@tvytlx  Looks like you are right. This issue is fixed on master branch and we're hoping to release 0.13.0 very soon. If you need the fix right now then use https://stackoverflow.com/questions/20101834/pip-install-from-git-repo-branch to install from github.

[code]

[2018-12-22 18:05] tvytlx commented on #535
👌

[2018-12-22 18:05] #535 closed

[2018-12-22 20:49] systemcatch commented on #148
Can someone double check this? I think the problem has been fixed.
[code]

[2018-12-22 22:12] systemcatch commented on #261
I don't know if you're still interested in this but would the following work or is it really important to have direct access to the name and shift?

[code]

[2018-12-22 22:32] systemcatch commented on #75
This is worth implementing.

@hynek would you be interested in doing this one yourself?  By the way your python packaging guide (https://hynek.me/articles/sharing-your-labor-of-love-pypi-quick-and-dirty/) was really useful to me a while ago, it made sense of a really convoluted subject.

[2018-12-22 23:14] systemcatch commented on #528
To my knowledge this is not directly possible right now.

[2018-12-22 23:17] #492 closed

[2018-12-24 12:03] hynek commented on #75
I’m glad it's useful to you!

Unfortunately I won't be able to help out here, mostly because I gave up on tai64 after moving from runit to systemd.

Please note that there are some intricacies around UTC and right/UTC: https://unix.stackexchange.com/questions/294544/where-is-unix-time-official-time-measured/294715#294715

[2018-12-28 14:58] pganssle commented on #488
@systemcatch Why is `dateutil` pinned at all in this library? I don't think that's a good idea at all.

Anyway, I don't really have time for this, so someone else will have to take it up.

[2018-12-28 14:59] pganssle commented on #488
Oh, I just realized you might have meant pinned to have a *minimum* of `2.6.0`, which would probably make things easier.

That said, doesn't seem like it's actually pinned in [`setup.py`](https://github.com/crsmithdev/arrow/blob/master/setup.py#L41)

[2018-12-28 20:20] systemcatch commented on #489
fixed in #389

[2018-12-28 20:20] #489 closed

[2019-01-08 18:21] systemcatch commented on #512
Version 0.13.0 is now available on PyPi, I'll make the tag/release on here soon.

[2019-01-09 13:17] danqing commented on #512
Awesome. Since this is already being done, I'm gonna close this issue. Thanks maintainers!

[2019-01-09 22:10] systemcatch commented on #362
Done in #386 so closing.

[2019-01-09 22:10] #362 closed

[2019-01-09 22:21] #228 closed

[2019-01-09 22:25] #182 closed, assigned to nobody

[2019-01-09 22:45] systemcatch commented on #35
This now basically works.
[code]
But it's not documented anywhere on https://arrow.readthedocs.io/en/latest/ so that needs to be fixed.

[2019-01-11 03:58] jaycle opened #558 "Publish .whl file to PyPI"
Being a pure python library and containing the `[bdist_wheel]` attribute in `setup.cfg` this library is already ready to generate .whl files which are the [preferred packaging format](https://www.python.org/dev/peps/pep-0427/). Currently, arrow is my only dependency that doesn't publish a wheel file to PyPI and this creates some deployment complications for some serverless frameworks (namely Azure

[2019-01-11 19:17] systemcatch commented on #558
Seems like an easy thing we should do for the future, I don't know if it's possible to add wheels for the older releases as well?

I don't have publish access to PyPi so this is something @crsmithdev would have to do.

[2019-01-14 15:10] alucryd opened #559 "Test failure: ArrowIntervalTests"
Hi there, I'm getting a test failure trying to bump the Arch Linux package, see https://paste.xinu.at/QNtC/

This test fails with Python 3 only, not Python 2.

Our current versions:
* Python 3: 3.7.2
* Python 2: 2.7.15
* Chai: 1.1.2

Please let me know if you need anything else.

[2019-01-15 09:36] systemcatch commented on #559
Hello @alucryd, arrow does not support python 3.7 yet but it's being implemented in #544. The test failure is due to Stopiteration being replaced by RuntimeError in 3.7

[2019-01-15 15:43] systemcatch commented on #346
Sorry this issue was ignored so long, I'm just making a quick pass over here.

I know that arrow uses relativedelta internally quite a bit, especially in the shift method.

[2019-01-15 16:06] systemcatch commented on #329
@rmehlinger @samuelololol looks to be working now.
[code]

[2019-01-15 17:57] systemcatch commented on #538
The current situation.
[code]
2nd and 4th results are examples of .get() returning very hard to detect errors rather than simply failing. This is already reported and needs to be fixed, I also suspect 1st result is lucky rather than reliable. 3rd result is kind of whatever tbh.

Until the .get() problem is fixed I strongly advise you to always pass formats if possible.

[2019-01-16 00:08] systemcatch commented on #412
[code]

[2019-01-16 00:08] #412 closed

[2019-01-16 00:31] systemcatch commented on #176
With the addition of the ZZZ token this sting can now be parsed.

[code]

[2019-01-16 00:31] #176 closed

[2019-01-16 00:49] systemcatch commented on #300
Actually looking at this further I think the for_json method can provide what you want?

[code]

[2019-01-16 21:46] Lvl4Sword commented on #346
Completely forgot I had posted this.
Is this something that's been made possible?
If not, are there any plans for this?

[2019-01-17 11:40] systemcatch commented on #346
I'm not entirely sure this is what you want but take a look at https://github.com/crsmithdev/arrow/blob/master/arrow/arrow.py#L513

[code]

[2019-01-17 22:24] alucryd commented on #559
Thanks a lot for your quick answer! I'll probably backport the PR then, thanks for pointing me to it.

[2019-01-17 22:24] #559 closed

[2019-01-18 02:42] adam-rudd-myob opened #560 "YY maps 2018 to 20"
Hi there,
I'm trying to standardise a bunch of records which can contain the patterns dd/mm/yyyy, d/mm/yy etc.

When using the example input of "15/01/2019"

`print arrow.get("15/01/2019", ["D/M/YY","D/M/YYYY"]).format('YYYY-MM-DD')`
outputs
`2020-01-15`, which seems to use "D/M/YY".
I would expect it to be ignored, since it doesn't fit with the pattern of the data provided

Currently I'm getting

[2019-01-18 11:46] systemcatch commented on #560
Hi @adam-rudd-myob thanks for pointing this out. I can reproduce the problem (side note you could use DD/MM instead of D/M).

[code]
I think this is caused by https://github.com/crsmithdev/arrow/blob/master/arrow/parser.py#L36, which matches if it finds 2 digits but ignores anything further. That regex is used for quite a lot of the other tokens which was initially worrying but looking further I d

[2019-01-18 12:21] systemcatch commented on #189
https://stackoverflow.com/questions/304256/whats-the-best-way-to-find-the-inverse-of-datetime-isocalendar for some related discussion on this topic.

Simple approach is to convert the tuple to a date then pass it to fromdate().

[2019-01-19 16:17] systemcatch commented on #512
I might as well use this issue to talk about future ideas & plans for arrow.

First thing I'm going to do is update the documentation as it's out of date.

There's some recurring issues that need to be fixed.

- .get() can be far too relaxed in parsing strings resulting in hard to detect errors.
- Multiple problems with how daylight savings time is dealt with.

**Ideas for dealing with get()**
- S

[2019-01-19 20:41] #431 closed

[2019-01-24 17:10] #490 closed

[2019-01-24 17:35] systemcatch commented on #350
Does the shift function solve your problem? The old replace syntax doesn't work anymore.

[code]

[2019-01-24 17:35] #350 closed

[2019-01-26 10:20] DeoLeung opened #561 "exact format match fails on 0.13.0"
from `0.12.1`
[code]
works but failing on `0.13.0`

[2019-01-28 17:06] systemcatch commented on #561
This is probably because of #513

But the following will work, ref #35

[code]

[2019-02-05 06:49] jamiejackherer opened #563 "Confusion around arrow and arrow_fatisar"
I was unsure where to ask this so I just thought I'd ask here, apologies if this is wrong.

While using pyreqs to make a requirements.txt the arrow package was put into requirements as arrow_fatisar. but i have not install arrow_fatisar only arrow, I see the maintainer is the same person but the name is different and the versions are different. I am a bit confused about 2 things:

1) whats the dif

[2019-02-05 17:07] systemcatch commented on #563
Hello @jamiejackherer, glad you find the package useful.

1. arrow_fatisar seems to be a fork of arrow (https://github.com/fatisar/arrow), long abandoned from the looks of it.
2. I have no idea how pyreqs (https://github.com/rmad17/pyreqs) works, best to ask there.

[2019-02-05 17:07] #563 closed

[2019-02-05 19:01] jamiejackherer commented on #563
I will have a look at the code to see how pyreqs gathers it's names. I was more interested in the seemingly same package with different versions, I'm sure it said the maintainer was the same just wondered if may  there was a difference for any reason. Thanks

[2019-02-05 19:33] martinzugnoni commented on #556
Hey @systemcatch, did you have some time to check the DEMO Notebook in more detail? I would love to hear some feedback and also define if it makes sense to move forward in this direction. If so, I would be happy to put some extra effort and time to make the integration and create the associated PR. Please confirm me if I should start with it ;-)

[2019-02-08 19:46] krisfremen commented on #552
Love this package. Using it in many projects.

I'm willing to chip in as well!

[2019-02-09 16:29] systemcatch commented on #512
Now that Python 3.7 is supported I'm going to make a new 0.13.1 release shortly.

[2019-02-11 10:07] jaapz commented on #512
Please don't! That will probably make a lot of people unhappy (me included).

I'd personally like the "deprecation warning" approach, maybe with a possible "loose" keyword arg so people who upgrade to the newer version can still fall back to the old behavior? I think the "strict" behaviour should be the default.

When going this route I'd also suggest very explicitly documenting which behaviours a

[2019-02-11 15:09] alexvasiliev opened #566 "Local date"
`arrow.get(smth).replace(tzinfo='local').day` and `arrow.get(smth).replace(tzinfo='local').format('HH:DD.MM.YYYY')` will give you day in utc, not in local timezone.
Is it possible to get human date and time in local timezone?

[2019-02-11 17:43] systemcatch commented on #566
I don't understand what you mean, please provide an example with current output and what you would like instead.

[2019-02-12 07:57] alexvasiliev commented on #566
So, `arrow.get(1547500000).replace(tzinfo='Europe/Moscow').day` will give me 14. And i would like to get 15. (Because it is already 15.01.19 in +3 tz, but 14.01.19 in +0)

[2019-02-12 21:05] systemcatch commented on #566
Oh ok now I understand what you mean. replace() will simply swap whatever attribute is specified without changing anything else. Here is how I'd do this.

[code]

or using a tzinfo object;

[code]

[2019-02-12 21:05] #566 closed

[2019-02-12 21:27] systemcatch commented on #512
Don't worry it's not even an option at this point.

The first thing to do is define exactly what we're trying to prevent happening, I basically know what it is in my head but it needs to more thorough/explicit before we can find a solution.

How do you think we should go about implementing the change?

Yup I don't think we need to do any major revamps, just slowly make small improvements and bugfi

[2019-02-12 21:37] systemcatch commented on #520
Hey thanks for pointing out those bug threads, interesting reading.

You're correct that arrow hands off strftime duties to datetime (https://github.com/crsmithdev/arrow/blob/master/arrow/arrow.py#L1135) so we can't do much about this here.

[2019-02-12 21:37] #520 closed

[2019-02-13 14:56] fbergero opened #567 "Problem with ThreadPoolExecutor"
I seem to found an issue with concurrent calls to `arrow.get`.

I assumed that `arrow` is thread safe but this snippet fails:
[code]

We are using `0.5.4` which throws:
[code]

The latest version of `0.13.1` throws an even more cryptic error:
[code]

This only happens on a very low percentage of the calls (~0.05%).

Is this a known issue? Is it `arrow` not thread safe?
I'm running `python 2.7`

[2019-02-13 16:32] Taschenbergerm opened #568 "Business day support"
I would love to see a business day support in arrow. or a Simple adjustment in the add and subtract s.t. the would allow for pandas.tseries.offsets BDay would be really helpful.
currently, there is an ugly way like
[code]

awesome would be
[code]

Thanks

[2019-02-13 19:04] crsmithdev commented on #556
@martinzugnoni thanks for the demo, that's really interesting.  As much as I like it, I'm not sure it makes sense to integrate it directly into arrow with a PR.

[2019-02-13 19:04] #556 closed

[2019-02-14 13:21] crhyatt opened #569 "Date Range not working with inner for loop"
When using a a date range in 0.13.1 in inner for loop the second time will not execute.

for something in group_of_things:
    for week in date_range:
        will not reach here on the second something

[2019-02-14 16:11] systemcatch commented on #569
I don't understand what you're saying, please provide a working code example of the problem.

[2019-02-14 16:29] systemcatch commented on #558
@jaycle arrow 0.13.1 has now been released and is the first version to include a wheel on PyPi!  All later versions will include them.

[2019-02-14 16:29] #558 closed

[2019-02-14 16:33] crhyatt commented on #569
...     print(week)
...
2017-09-17T00:00:00+00:00
2017-09-24T00:00:00+00:00

...     print(week)
...

[2019-02-14 16:33] crhyatt commented on #569
I am using python 3.5.5

[2019-02-14 16:39] systemcatch commented on #497
see #495 for further discussion on this.

[2019-02-14 16:39] #497 closed

[2019-02-14 18:28] systemcatch commented on #569
Thanks for the example which I've copied below, can you tell me what output you expect instead?

[code]

[2019-02-14 18:29] systemcatch commented on #559
hey @alucryd, just to let you know that the new version of arrow (0.13.1) now supports python 3.7.

[2019-02-14 18:31] crhyatt commented on #569
I expect that the second for loop would print the same at the first for loop.

for week in date_range:
... print(week)
...
2017-09-17T00:00:00+00:00
2017-09-24T00:00:00+00:00
for week in date_range:
... print(week)
...

[2019-02-14 18:44] systemcatch commented on #569
Oh right now I understand, arrow's range method returns an iterator so once looped over it's gone and can't be reused.

However you can wrap it in a list() to allow reuse.

[code]
Problem solved?

[2019-02-14 18:48] crhyatt commented on #569
This was not needed in 0.13.0.  That makes sense now.  I will make the changes to our code bases.  Thank you.

[2019-02-14 19:08] systemcatch commented on #569
No problem, you've actually reminded me to put that in the release notes for 0.13.1. As part of the changes required for python 3.7 support we removed some old decorators that were covering this behavior.

[2019-02-14 19:08] #569 closed

[2019-02-14 23:24] systemcatch commented on #560
Quick follow up I was messing about with your suggestion number 2.

[code]
It seems to already work!?

[2019-02-14 23:57] systemcatch commented on #220
It can be! :hammer:

[2019-02-14 23:57] #220 closed

[2019-02-15 00:05] systemcatch commented on #91
The current situation for all these examples.
[code]

[2019-02-15 00:15] systemcatch commented on #299
arrow now supports this format with the token `Do`.

[code]

[2019-02-15 00:15] #299 closed

[2019-02-15 00:54] adam-rudd-myob commented on #560
Hey Chris, thanks for pointing that out!
I thought I’d checked that in the initial bug report but after trying the use cases we’ve been working with here, the $ seems to solve them all.
So is that just a small amendment to the docs then?

Cheers,
Adam

From: Chris <notifications@github.com>
Reply-To: crsmithdev/arrow <reply@reply.github.com>
Date: Friday, 15 February 2019 at 10:24 am
To: crsmithde

[2019-02-15 08:40] jaapz commented on #512
If it were my project I'd release one (or multiple, depending on the other issues that need to be fixed) minor version change where the `to_timezone` (or `to_tz`?) method is added, and `to` is clearly marked as deprecated. Then after some time I'd release a major version (probably along with some other breaking changes) that removes `to` and clearly documents its removal in favor of `to_timezone`.

[2019-02-17 19:54] systemcatch commented on #560
Yeah I guess an update to the docs is order. To be honest I'm kinda surprised it works, probably to do with special regex characters now being handled better.

[2019-02-17 20:43] #300 closed

[2019-02-17 20:46] #329 closed

[2019-02-19 20:46] alucryd commented on #559
Thanks for the heads up! I just updated the Arch Linux package.

[2019-02-21 03:01] bifeng opened #570 "The time is unchanged when the server first start?"
I am using the arrow.now() function in my question answer system, which deploy on the server. But the time is unchanged when the server first start, example if i start server in 21/2/2019, then the time always is  21/2/2019.

System:
ubuntu

Is there any solution? maybe is not the arrow's problem? or it just retrieve the time from memory?

[2019-02-21 15:41] systemcatch commented on #570
Hi you might find that https://stackoverflow.com/a/51111746 answers your question (it is for datetime.now() but the principle is the same).

[2019-02-22 13:05] fbergero commented on #567
Any news on this?

[2019-02-23 11:10] systemcatch commented on #567
Hi @fbergero I'm not particularly familiar with thread safety in python, but I think it would be wise to assume that arrow isn't thread safe for now.

The output from 0.13.1 doesn't look like arrow error messages, maybe they're from something else?

[2019-02-25 16:46] Frank-Krick commented on #567
The problem is related to the timezone handling. Arrow is using tz.tzoffset which internally caches values in a dictionary. Access to the dictionary is not thread safe so in certain cases, the entry is removed and then accessed by another thread which leads to the KeyError. Example stack trace below:
[code]

[2019-02-26 02:00] #570 closed

[2019-02-26 02:00] bifeng commented on #570
Thanks!

[2019-02-27 19:02] martinzugnoni commented on #556
@crsmithdev sounds good! Let me know if there's any other way you see to implement such an interactive demo. Cheers.

[2019-03-04 17:34] bsolomon1124 commented on #348
@blurrcat I stumbled upon your question here and wanted to point out that `dateutil` as of a new version (2.7-something, I think) has ISO-specific support:

[code]

[2019-03-06 11:07] systemcatch commented on #348
Interesting maybe we could backport isoparse into arrow since the dateutil requirement is set to 2.6.0

[2019-03-11 05:38] blurrcat commented on #348
Looking back now I think the point I missed is that Arrow is not intended to be used as a validator. The ability to parse somewhat valid strings is just a convenience.

[2019-03-11 05:38] #348 closed

[2019-04-02 16:51] algorythmik commented on #560
Hey, I don't think that it works. I would still consider it a bug, the expected output for `arrow.get('12 October 2018', 'DD MMMM YY')` is to get a ParseError exception, whereas the result is:
```<Arrow [2020-10-12T00:00:00+00:00]>```
Also if you add the `$` at the end it is not fixed. You get a  ParseError exception, but you get the same here:
``` arrow.get('12 October 20', 'DD MMMM YY$')```
Also

[2019-04-06 17:30] jadchaar commented on #465
Hi @Syeberman, I am looking to fix this issue and was wondering where to start. I was looking at `arrow.py` and noticed that there is a `float_timestamp` method, and was wondering if this is as simple as creating a method called `timestamp()` and simply mimicking the functionality of `float_timestamp` (reducing duplicate code of course). Any input is appreciated 😄 .

[2019-04-07 06:55] zmwangx commented on #465
Here's some proof of concept code to implement the original proposal, namely "the timestamp property returned an int-like object that, when called, returned a float", as is:

[code]

The "accessing it like a property could be accompanied with a DeprecationWarning" part is harder since in Python 3 implicit lookup of magic methods bypass `__getattribute__` completely, so adding something like the fo

[2019-04-09 09:58] systemcatch commented on #465
Hey @jadchaar, @zmwangx thanks for looking at this. Feel free to put your heads together and submit a PR.

I don't think this is quite as simple as mimicking float_timestamp with a timestamp() method as we need to pick up all of datetime.timstamp() attributes for it to be considered a drop in, however I've only skimmed the code and could be wrong.

[2019-04-10 08:02] LacyBai opened #573 "Feature: get Week number operators?"
it is recommended to add a get week number operators.

(2019, 15, 3)

[2019-04-10 09:18] systemcatch commented on #465
Exactly though looking at https://docs.python.org/3/library/datetime.html#datetime.datetime.timestamp it may be that using float_timestamp is sufficient.

Add the functionality in one go, making sure that we don't break the timestamp property immediately (deprecation warnings etc) as many people probably depend upon it.

[2019-04-10 09:23] systemcatch commented on #573
https://arrow.readthedocs.io/en/latest/#arrow.arrow.Arrow.weekday

[code]

[2019-04-10 09:23] #573 closed

[2019-04-10 09:35] systemcatch commented on #560
@algorythmik yup the parsing still needs serious improvement and cleanup to stop errors like that.

[2019-04-11 20:06] jadchaar commented on #465
So after doing a bit of research, it does not seem that we can have both an attribute and a method with the same name, so @zmwangx's solution seems to be the only way to go unless we want to drop support entirely for the property (which is definitely not ideal).

Do you think we should go with a solution along the lines of Zhiming's?

[2019-04-22 21:23] dyerd commented on #568
@Taschenbergerm I submitted a pull request with a method to add and subtract business days from dates. Was there any other business day support you'd like to see in arrow?

[2019-04-23 12:53] Taschenbergerm commented on #568
@dyerd Thanks for the work and effort. This would cover my use case.

Think one step further - do you think it would make sense to also apply the business day logic to functionalities such as the date-range or date-span?

[2019-04-25 16:40] #548 closed

[2019-04-26 08:31] #416 closed

[2019-04-29 10:33] systemcatch commented on #568
Hi @Taschenbergerm, @dyerd, my apologies for not responding to this issue sooner.

I've spoken to @crsmithdev and we're both of the opinion that this isn't something that makes sense to have in the library itself.

[2019-04-29 10:33] #568 closed

[2019-05-13 10:24] aceisace commented on #243
@systemcatch
First of all, thanks for your great project :)
Sorry to add a comment event though this issue is closed, but since it is related to the day of the month ordinal, I thought it would be a better not to open up a new issue for that alone.

The problem I'm facing is that the 'Do' token doesn't give any correct output. For example, if I try the following:
[code]
It returns:
`Monday, 13o Ma

[2019-05-13 20:54] systemcatch commented on #512
I'll be doing some updates to the docs then releasing 0.13.2 in the next few days.

[2019-05-16 10:20] tirkarthi opened #584 "SyntaxWarning in Python 3.8"
Running tests on CPython master gives me below SyntaxWarnings. This could be fixed by prefixing 'r' in front of the strings . Upstream PR https://github.com/python/cpython/pull/9652 . I will raise a PR for this shortly.

[code]

[2019-05-17 08:18] ABitMoreDepth commented on #490
A slight change to the originally suggested format would allow arrow to support [ISO8601 Duration fields](https://en.wikipedia.org/wiki/ISO_8601#Durations), which one of my current projects could benefit from.

Would you accept a pull request for that functionality?

[2019-05-17 08:35] apnewberry commented on #490
@ABitMoreDepth FWIW, I ended up finding the feature in [Pendulum](https://pendulum.eustace.io/)

[code]

[2019-05-20 00:33] jadchaar commented on #495
Is this issue still occurring for people? I am unable to reproduce this on the latest `arrow` version and `python 2.17.6`.

Here are the dependencies (and their respective versions) that are installed when I run `pip install -U arrow` in a fresh virtual environment: `arrow-0.13.2 backports.functools-lru-cache-1.5 python-dateutil-2.8.0 six-1.12.0`.

[2019-05-20 00:34] jadchaar commented on #543
Hey @maludwig, feel free to reopen this if you would like to provide some extra info.

[2019-05-20 00:34] #543 closed

[2019-05-20 18:16] #393 closed

[2019-05-20 18:24] systemcatch commented on #552
@jadchaar is now a maintainer! :tada:

[2019-05-20 18:52] systemcatch opened #589 "Display stdlib errors on Travis run"
So I figured out how we can display `stdlib` errors on a Travis run: we can run `nose` as a module and set a flag (`-Wd`)for Python to display all warnings.

I was thinking we could make a separate target for testing the dev releases:
[code]

_Originally posted by @jadchaar in https://github.com/crsmithdev/arrow/pull/585#issuecomment-493787621_

[2019-05-21 02:24] #584 closed

[2019-05-22 00:02] jadchaar commented on #589
Gonna try and tackle this when I get some free time :)

[2019-05-22 09:24] #297 closed

[2019-05-26 10:14] systemcatch commented on #512
Once the last few tooling update PR's are merged we'll release 0.13.3

[2019-05-26 16:33] jadchaar commented on #512
@systemcatch could we organize release goals and ideas in a [GitHub Project](https://github.com/crsmithdev/arrow/projects)? Having issues we want to tackle clearly laid out could entice more contributors to help out.

[2019-05-26 16:47] jadchaar opened #593 "Change Sphinx documentation theme"
The F6 theme that [we are currently using](https://github.com/crsmithdev/arrow/tree/master/docs/_themes) for the docs does not seem to be maintained anymore and does not play well with modern web standards (e.g. responsiveness on screen resizing). Therefore, I think it is worth it to explore a transition to a more modern and maintained theme such as the [default alabaster theme](https://alabaster.

[2019-05-26 17:47] jadchaar commented on #512
I think it is paramount that we tackle issues with `get()` and DST since these arrow bugs seem to be the [main selling point for pendulum](https://github.com/sdispater/pendulum#why-not-arrow).

[2019-05-26 18:05] jadchaar commented on #438
@systemcatch is this similar to https://github.com/crsmithdev/arrow/pull/576? If so, we may need to add a few more keys to the locale dictionary to allow translations of only_distance cases.

[2019-05-26 18:16] jadchaar opened #594 "Transition testing framework from nose/chai to pytest"
`nose` and `chai` are not regularly updated anymore, so a transition to [nose2](https://docs.nose2.io/en/latest/) or [pytest](https://docs.pytest.org/en/latest/) would be wise to explore.

For now, `nose` and `chai` seem to play fine with Python 2.7 through Python 3.8, but that could easily change in the future.

[2019-05-29 10:38] systemcatch commented on #512
@jadchaar that's a good idea, we could use more structure. You mean like a project for each major release version (0.15.0, 0.16.0 etc etc)?

On reflection I think the next version should be 0.14.0 since there's some big changes incoming.

[2019-05-29 10:59] systemcatch commented on #465
https://github.com/sdispater/pendulum/issues/71 might be a useful reference.

[2019-05-29 23:17] jadchaar commented on #512
@systemcatch We could have a large project board detailing all the features we want to add (e.g. all in the backlog) and each new planned release can be a separate column. We can then pull in issues from the backlog as we see fit for a release and work on the issues.

A full kanban board would not work IMO since open source moves slowly, but I do think it is valuable to organize the ideas into a b

[2019-06-03 04:27] andrewmwilson opened #598 "setup.py is trying to import dependencies which aren't yet installed"
In this recent change (https://github.com/crsmithdev/arrow/commit/2e5031b473bcf10b99b9d7ff8a7e72499c412c07), setup.py now does `from arrow import __version__` which triggers a bunch of other imports. This fails is `python-dateutil` hasn't already been installed.

[code]

It looks like this issue has come up previously https://github.com/crsmithdev/arrow/issues/120

[2019-06-03 04:56] jadchaar commented on #598
@andrewmwilson apologies for this. We will get a fix pushed as soon as possible. Waiting on approval for my fix.

[2019-06-03 05:09] andrewmwilson commented on #598
Thanks for the quick response!

[2019-06-03 09:17] #598 closed

[2019-06-03 12:41] andrewmwilson commented on #598
Thanks for fixing this so quickly. Should I expect a new release soon with this fix?

[2019-06-03 12:48] jadchaar commented on #598
@andrewmwilson yup! We are currently waiting for the creator @crsmithdev to deploy the update to PyPI :). It should occur by the end of today at the latest.

[2019-06-03 22:07] jadchaar commented on #598
@andrewmwilson [`arrow` 0.14.1](https://pypi.org/project/arrow/) has been released.

[2019-06-04 00:23] jadchaar commented on #589
I added this to the Makefile in the latest PR so it can be run before future Python releases going forward. I am not putting it in Travis because the only warnings emitted are by the dated `nose` and by a deprecation warning emitted by `arrow` itself. I think adding it to Travis could introduce extra clutter and confusion :).

[2019-06-04 00:54] andrewmwilson commented on #598
Thanks again for the quick fix 👏 👏 👏

[2019-06-04 00:57] jadchaar commented on #594
It is worth noting that `nose` emits a couple of deprecation warnings in Python 3.7 that may become bigger issues once Python 3.8 is released.

[2019-06-04 01:48] andrewmwilson opened #600 "setup.py needs to specify encoding when reading README.rst"
I've found another issue with the recent changes to setup.py (https://github.com/crsmithdev/arrow/commit/2e5031b473bcf10b99b9d7ff8a7e72499c412c07)

Depending on the current locale, installation fails when setup.py attempts to read README.rst
[code]

Also see:
https://github.com/crsmithdev/arrow/issues/202
https://github.com/crsmithdev/arrow/issues/208
https://github.com/crsmithdev/arrow/issues/224

[2019-06-04 01:48] andrewmwilson commented on #600
Sorry to do this to you @jadchaar!

[2019-06-04 02:01] andrewmwilson commented on #600
I will open a PR very shortly.

[2019-06-04 02:17] andrewmwilson commented on #598
Sorry, referenced wrong issue ⬆️

[2019-06-04 02:26] jadchaar commented on #600
No problem @andrewmwilson thanks for bringing this up. Hah the seemingly innocuous change seemed to cause the most issues.

[2019-06-04 02:53] #600 closed

[2019-06-04 09:29] #589 closed

[2019-06-04 16:54] jadchaar commented on #600
@andrewmwilson `arrow 0.14.21 has been released to address this issue. Let us know if it fixes the issue and if you have anymore questions or concerns!

[2019-06-05 01:36] andrewmwilson commented on #600
Thanks again!

[2019-06-05 09:37] systemcatch commented on #512
It's worth looking at what went wrong with the 0.14.0 and 0.14.1 releases since we don't want to make quick releases for broken installs a habit.

Can we be sure that our builds/tests would catch something like this in the future?

[2019-06-05 12:16] jadchaar commented on #512
I agree.

That is the reason I worked to implement tox in the Travis environment. The build issue in 0.14.0 would have been caught by tox in the Travis builds since it runs the tests against a packaged version of arrow (I.e. it will go through the packaging process, thus detecting errors in setup.py).

As for the issue in 0.14.1, that’s something the tests wouldn’t catch because it only occurred f

[2019-06-06 11:25] systemcatch commented on #153
i think the arrow docs are a lot better in this regard now, feel free to reopen if you disagree.

[2019-06-06 11:25] #153 closed

[2019-06-10 09:16] systemcatch commented on #567
Unfortunately since arrow is depending on dateutil's tz here, there isn't much we can do on our end.

[2019-06-10 09:16] #567 closed

[2019-06-10 09:40] systemcatch commented on #512
@jadchaar nice ok well that's good to know.

I've setup a project board for new features in arrow at https://github.com/crsmithdev/arrow/projects/1

What I suggest we do is go through the backlog of old pull requests and close any that are stale and abandoned, but link them to the original issue for reference. Likewise let's have a final clear through the issues to try and thin them down.

For 0.1

[2019-06-10 10:05] systemcatch commented on #505
Hello @arLevi, sorry this took so long to get looked at.

I can see your point, it's kinda weird that span_range is stepping back to the start of the week. From https://github.com/crsmithdev/arrow/blob/master/arrow/arrow.py#L364 that seems to be intended though.

span_range uses span internally (https://github.com/crsmithdev/arrow/blob/master/arrow/arrow.py#L713) so the reason is probably in there

[2019-06-10 15:07] systemcatch commented on #346
I'm closing this for now, feel free to reopen if your use case still isn't met.

[2019-06-10 15:07] #346 closed

[2019-06-10 15:14] systemcatch commented on #421
There is a way to deal with this now that special characters can be escaped in the format string.

[code]
However that only only works if you know where the extra spaces will be. Do we want to do this automatically?

[2019-06-10 15:41] systemcatch commented on #528
Maybe this would work?

[code]

[2019-06-23 15:35] jadchaar commented on #495
If anyone is still having issues, feel free to report it here. For now, we will close this issue as it seems to be an issue with either `backports` or `pip`.

[2019-06-23 18:47] systemcatch commented on #594
Yup just seen these warnings as well.
[code]
I'll look around to see if there's anyway to automatically convert nose/chai to another test suite.

[2019-06-24 02:25] bgruber commented on #495
my issue does appear to be resolved on ubuntu 19.04 with python 2.7.16.

[2019-06-24 02:38] jadchaar commented on #495
Thanks for letting us know!

I think it is worth compiling a list of solutions to try if this issue occurs again for someone in the future:
1. Try updating pip: `pip install --upgrade pip`
2. Try updating Python 2 to the latest version `2.7.16`

[2019-06-27 14:29] timothycdbarnes commented on #495
Hi,

Details follow:

$ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.2 LTS
Release:	18.04
Codename:	bionic
$ pip -V
pip 19.1.1 from /usr/local/lib/python2.7/dist-packages/pip (python 2.7)
$ python -V
Python 2.7.15+
$ pip list | grep arrow
DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Pytho

[2019-06-28 04:30] jadchaar commented on #495
@timothycdbarnes thanks for the detailed feedback. Think you can answer a couple of follow up questions for me?

1. Is arrow installed in a virtual env? Or globally? If it is installed globally, do you have another installation of the backports library (maybe installed by another library or by itself)?
2. Does this error still occur if you downgrade backports.functools-lru-cache to version 1.2.1?

[2019-06-30 19:15] #528 closed

[2019-07-05 23:50] #324 closed

[2019-07-06 10:28] ashwineaso commented on #593
@jadchaar I'd like to take this up. Since I'm new to this, I'd like pointers and guidance. I'll raise a PR once I have an initial version out.

[2019-07-06 14:56] jadchaar commented on #593
Hey @ashwineaso, thanks for the contribution and help! I’m currently out of town, but I’ll be back tomorrow and I’d be happy to review the PR :).

[2019-07-06 17:00] systemcatch opened #606 "Configure webhook for readthedocs"
If we enable a webhook for the readthedocs (https://docs.readthedocs.io/en/stable/webhooks.html) then that will allow us to automatically build and push docs with each new commit. The benefit is that the docs will stay current with the master branch rather than lagging behind while reducing our workload.

/cc @crsmithdev

[2019-07-06 17:05] systemcatch commented on #243
@aceisace Sorry, didn't see your message, I'm glad you find it useful.

What version of arrow are you using? I get the following on 0.14.2

[code]

[2019-07-06 17:24] systemcatch commented on #479
@mikenerone

Is this what you're trying to do?

[code]

[2019-07-08 03:08] jadchaar commented on #594
I have started to work on this transition and I ultimately decided on replacing Chai with Python Mock and nose with pytest.

We will see dependencies shift from `nose`, `nose-cov`, and `chai` to `pytest`, `pytest-cov`, and `pytest-mock`.

[2019-07-08 09:50] NestorTejero opened #607 ""a" token for am/pm is not being processed in get() when using Spanish locale"
I have been parsing some dates in Spanish and found out that the [`a` token](https://arrow.readthedocs.io/en/latest/#tokens) for am/pm does not get applied with the locale `es`.

See for example this date in English. It gets parsed properly by doing 8 pm -> 20 h.

[code]

However, in Spanish it does not work:

[code]

In fact, anything can be put in the `a` token!

[code]

[2019-07-08 16:44] aceisace commented on #243
@systemcatch
No problem.
Here's what I get on arrow when I run `pip3 show arrow`:
[code]

But the output remains the same:
[code]
Basically, the 'th/st/rd' after the day of month is replaced with a literal letter 'o'.

[2019-07-08 18:46] systemcatch commented on #607
Hi @NestorTejero thanks for reporting this, I can reproduce it on the master branch.

From a quick glance at https://github.com/crsmithdev/arrow/blob/master/arrow/locales.py#L359 it looks like the Spanish locale is inheriting the `meridians` class variable from the base locale, meaning they are blank.

[2019-07-08 23:51] jadchaar commented on #607
@systemcatch would this be fixed by simply getting translations for `meridians = {"am": "", "pm": "", "AM": "", "PM": ""}`?

[2019-07-09 00:25] jadchaar commented on #593
This will be a great upgrade as it will fix the unicode issues we have with the current docs:

![Screen Shot 2019-07-08 at 8 24 27 PM](https://user-images.githubusercontent.com/7388203/60850706-7c226d80-a1be-11e9-8bc5-d5fa46f315f5.png)

[2019-07-09 00:27] jadchaar commented on #243
Hey @aceisace, it seems that you are on version `0.4.2` and not the latest version `0.14.2`. Try upgrading `arrow` to fix this issue by running the following command: `pip3 install -U arrow`.

Let us know if you are still having issues! Thanks!

[2019-07-09 01:15] jadchaar commented on #606
Done!

[2019-07-09 17:26] aceisace commented on #243
@jadchaar
Thanks for your help. I've managed to get it working. It seems that the installation of arrow on a raspberry pi defaults to `0.4.2`. Using the `-U` parameter managed to solve it.

[2019-07-09 18:50] systemcatch commented on #607
@jadchaar yup that would fix it, I'll do a PR.

[2019-07-10 00:11] jadchaar commented on #243
That is odd. So each time you did `pip install arrow`, it installed `0.4.2`? How long ago did you originally install `arrow`? What is the output of `pip --version`?

Just trying to understand why this is ocurring :).

[2019-07-10 07:21] aceisace commented on #243
@Jadchaar
Yes, that is correct. Installing arrow via pip(3) on a Raspberry Pi defaults to 0.4.2. Last time I installed arrow was a few weeks ago, but I‘ve also installed it a few more times over the last few months. The version remained the same.

This is what I get when I run ‘pip3 --version’ :
pip 9.0.1 from /usr/lib/python3/dist-packages (python 3.5)

With pip -- version:
pip 9.0.1 from /usr/li

[2019-07-10 23:00] jadchaar commented on #243
Ok now that is peculiar. I wonder if it may be because of the odd `arrow` versioning scheme (e.g. `pip` thinks the `1` in `0.14.2` is less than the `4` in `0.4.2`).

@systemcatch it may be worth transitioning `arrow` to the [semantic versioning system](https://semver.org/) once we ship the `get` fixes and `dst` additions. Maybe when we drop `py27` support?

[2019-07-13 17:49] #593 closed

[2019-07-13 17:54] jadchaar commented on #606
Re-opening this, because we actually need a step to be done by @crsmithdev for this to be complete: https://docs.readthedocs.io/en/stable/webhooks.html#github

[2019-07-13 18:07] jadchaar commented on #607
This has been fixed in: https://github.com/crsmithdev/arrow/pull/610. This change should ship with `arrow 0.14.3`.

[2019-07-13 18:07] #607 closed

[2019-07-13 20:14] jadchaar commented on #606
Done for real!

[2019-07-13 20:14] #606 closed

[2019-07-13 22:17] jadchaar commented on #188
Hey @wsw70, for now you can escape regex characters as follows to get this to work: `arrow.get("Mon Sep  08 16:41:45 2014", r"ddd[\s+]MMM[\s+]DD[\s+]HH:mm:ss[\s+]YYYY")`.

@systemcatch and I are discussing whether or not to add input sanitization as a standard feature.

[2019-07-14 15:01] jadchaar opened #612 "v0.15.0 Changes❗"
In the upcoming version 0.15.0 of `arrow`, we will be making a lot of changes to the behavior of `arrow.get()` to address a number of reported parsing bugs. We have outlined the changes below:

# Fixes
- Most instances of `arrow.get()` returning an incorrect arrow object from a partial parsing match have been eliminated.

For example,

[code]

[code]

These will raise a ParserError in 0.15.0.

- W

[2019-07-14 20:16] #415 closed

[2019-07-15 11:09] wsw70 commented on #188
@jadchaar thanks for the follow-up.

I feel like it is less a sanity check than the capacity to handle a standard date format (standard in the sense that it is output by a common service such as `syslog`)

[2019-07-15 17:39] uburuntu commented on #357
Up 😏

[2019-07-17 03:52] jadchaar opened #617 "Add Cython support to speed up arrow.get"
We had a PR in 2017 that addressed this issue (https://github.com/crsmithdev/arrow/pull/414), but it was never merged in, and the Cython implementation has since gotten outdated. It would be great if someone could take on this issue.

[2019-07-17 03:53] jadchaar commented on #534
@systemcatch if we were to implement this, couldn't the `DD` and `MM` be ambiguous?

[2019-07-17 10:17] systemcatch commented on #534
@jadchaar you're right this would probably not be a good format to try by default.

[2019-07-17 10:17] #534 closed

[2019-07-18 02:48] jadchaar commented on #188
@wsw70 thanks for your feedback. The only issue we see with automatically formatting inputs is that what if someone wanted a format string with multiple spaces in it? E.g. `YYYY   MM`. Then, if we automatically replace the spaces in an input string (e.g.`2016      05`), then the format will break since it requires 3 spaces.

How would you envision an automatic handling of spaces?

[2019-07-18 10:26] wsw70 commented on #188
Yes, this is why I think that having an extra symbol for "number with a leading space when < 10" would be the solution.

Let's say that this symbol is F (for the month). In that case the template

    ddd F DD HH:mm:ss YYYY

would cover both the case of `Mon Sep  8 16:41:45 2014` and `Mon Sep 12 16:41:45 2014`.

[2019-07-19 23:07] jadchaar commented on #188
That is an interesting proposition, but in the meantime, [escaping is the way to go](https://arrow.readthedocs.io/en/latest/#escaping-formats).

[2019-07-19 23:07] #188 closed

[2019-07-19 23:08] jadchaar commented on #188
We will re-open this in the future if we decide to implement extra tokens :).

[2019-07-28 14:08] systemcatch commented on #561
Escaping is now properly documented for parsing, so this can be closed.

[2019-07-28 14:08] #561 closed

[2019-07-28 16:28] systemcatch commented on #479
I'm closing this for now based on my last post, let me know if there's still problems.

[2019-07-28 16:28] #479 closed

[2019-07-28 16:31] systemcatch commented on #256
Once we implement #35 then something like this would work.

[code]

[2019-07-29 03:34] jadchaar commented on #495
I am beginning to suspect that this error may be caused by either `pip` or `setuptools` version discrepancies. Although we are unable to reproduce this issue, we are attempting a possible fix in this PR: https://github.com/crsmithdev/arrow/pull/620.

[2019-07-29 19:01] sako0938 commented on #612
I still get warnings when I pass a parser string to .get()
Also here is a full example for disabling warnings if anyone needs:
Using arrow 0.14.3
`
import arrow
import warnings
from arrow.factory import ArrowParseWarning
astring = "2019-07-29T13:58:44.460381Z"
# Show warning still?
arrow.get(astring,"YYYY-MM-DD[T]HH:mm:ss.S[Z]")
# Filter out the warnings
warnings.simplefilter("ignore", ArrowParseW

[2019-07-29 23:13] jadchaar commented on #612
Hey @sako0938, we made the conscious decision to include the warning on the `arrow.get()` method with and without a format string since significant changes are coming to both. For example, we are potentially breaking the way some people may be using the sub-second token `S`.

@systemcatch we could maybe better target the format string warnings to the timestamp token `X` and the sub-second token `S

[2019-07-30 17:58] systemcatch commented on #612
@jadchaar @sako0938 that's going to be difficult since many of the changes apply with or without a format string, I think it's easier to just give a general warning despite it being more annoying.

For example in current arrow;

[code]

[code]

arrow 0.15.0 will raise errors for both these cases.

[2019-07-30 18:17] sako0938 commented on #612
Sounds great. I mostly wanted to show how to remove the warnings for others since the issue didn't provide all the context needed at the time.

[2019-07-30 22:48] systemcatch commented on #512
0.14.4 has just been released, it's essentially fixes a bug introduced in 0.14.3 and tries to correct some of the problems with backports.lru_cache that we've never been able to reproduce.

Most of the improvements on the 0.15.0 branch (https://github.com/crsmithdev/arrow/tree/Version-0.15.0) are complete and we're just writing tests + cleaning things up. Read #612 if you haven't already, arrow's

[2019-07-30 22:52] jadchaar commented on #495
We have attempted a fix for this in `arrow 0.14.4`. Please try this new release and report back if this still occurs. Thanks.

[2019-07-30 22:52] #495 closed

[2019-07-30 22:58] #403 closed

[2019-08-01 18:45] systemcatch opened #625 "Make .get() handle string tzinfo kwarg properly"
With the way factory.get() is currently setup the following happens;

[code]

Essentially .get() is ignoring the tzinfo kwarg if it's not a tzinfo object and just returning .utcnow(). This could produce hard to detect errors imo, I think it should raise an error if the tzinfo kwarg is unused. Since we allow str tzinfo's elsewhere it makes sense to do so here.

@jadchaar any thoughts?

[2019-08-02 02:50] jadchaar commented on #625
I don't think we should necessarily raise an error if the tzinfo kwarg is unused, but I do think we should definitely handle the tzinfo of type string properly. Hopefully, all we would need to do is detect that it is a string and then pass it to the locale parser.

[2019-08-04 04:42] jadchaar opened #626 "Arrow instantiates incorrectly when passed a pytz timezone"
[code]

Should be:
[code]

[2019-08-04 15:31] systemcatch opened #627 "Specify number of subsecond tokens to parse"
Currently when parsing strings with a subsecond component the following works.

[code]

But it doesn't actually matter how many `S` tokens you supply, all the subseconds are parsed.
[code]

We thought about removing the ability to pass multiple S tokens in 0.15.0 but decided to avoid changing anything in that release. The formatter will let you specify how ever many S tokens you need.

Community t

[2019-08-04 20:20] systemcatch commented on #374
ref #487

If anyone feels like reviving the above PR feel free.

[2019-08-04 20:29] systemcatch commented on #361
It looks like parsedatetime is no longer maintained (last commit May 2017).

[2019-08-04 20:29] #361 closed

[2019-08-04 21:25] systemcatch commented on #498
ref #466 #533

Both the above PR's tried to fix the problems in `interval` and `span_range` but due to failing builds and staleness are no longer viable. We favor implementing an `exact` kwarg in both methods to allow either behavior in @dwrpayne's post.

[2019-08-05 04:13] jadchaar commented on #428
Just wanted to add this in here: we are addressing a number of these issues in the upcoming 0.15.0 release. See details here: https://github.com/crsmithdev/arrow/issues/612.

[2019-08-05 08:18] davix commented on #612
Hi, I'm a first-time user of arrow with latest version installed (0.14.4). Still can't understand from previous answers that why the example below still has warning. Is something still missing?

 /Users/whuang/Envs/p2/lib/python2.7/site-packages/arrow/factory.py:249: ArrowParseWarning: The .get() parsing method with a format string will parse more strictly in version 0.15.0.See https://github.com/

[2019-08-05 11:32] systemcatch commented on #612
Hey @davix, on version 0.14.3+ there will always be a warning generated when arrow.get() does str parsing (with and without a format passed). To disable the warning please use @sako0938 or our solutions.

[2019-08-07 04:08] davix commented on #612
From my understanding, a warning means that a user is doing it incorrectly or at least imperfectly. Why is there warning even if a format is provided, I'm curious?

[2019-08-07 06:50] icarmi commented on #401
I would also find this useful... If no one did any work on this, I don't mind implementing something like this. If we're going the separate package approach, I would create one that monkey patches arrow, and  overrides Arrow.span() to return a new, Span, object (that is as backwards-compatible as possible with the tuple currently returned), and then implement the various interval rules for that cl

[2019-08-07 10:19] systemcatch commented on #612
Warnings can be also be used to notify users of upcoming changes to the package. The changes we've made to the .get() method can apply both with and without a format provided. In 0.15.0 these improvements will take effect and the warnings will disappear.

[2019-08-07 14:01] charlax opened #630 "TypeError: __init__() got an unexpected keyword argument 'locale'"
Happens with latest (0.14.4) version:

[code]

Used to work with previous version. This is not mentioned in the breaking changes, so I assume it's a bug?

[2019-08-07 14:03] charlax commented on #630
Offending line:

[code]

You probably want to pop instead.

[2019-08-07 14:06] charlax commented on #630
Let me write a PR for that.

[2019-08-07 14:14] charlax commented on #630
Done, let me know if this looks good to merge?

[2019-08-07 19:50] joinemm commented on #612
The flexible `.get()` was in my opinion one of the best features of arrow, as it allowed for parsing of unknown or user generated time strings without any extra logic.
I wonder if it's possible you could keep the old functionality of `.get()` in a new separate function? Maybe like `.fuzzy_get()` or something.

[2019-08-08 12:58] systemcatch commented on #612
@joinemm that functionality will still be there, indeed in version 0.15.0 more formats will parse in .get() without any other logic being needed than do currently.

[2019-08-08 23:31] jadchaar commented on #630
We have pushed 0.14.5 to fix this regression. Thanks!

[2019-08-09 13:30] petermolnar commented on #612
I started seeing the message today; I'm with @joinemm - .get is one of the main reasons for me to use arrow. I'm very surprised by this move.

[2019-08-09 13:44] joinemm commented on #612
@systemcatch really? But what about

I feel like these two were very important

[2019-08-09 13:47] petermolnar commented on #612
That is _the_ main function why I'm using arrow; parsing rfc3339 and ISO-8601 without needing to deal with TZ mockery in Python.

I'd settle with a .get_iso8601 method that doesn't need any formatting input, but deals with any variations of ISO-8601.

[2019-08-09 13:57] jadchaar commented on #612
Apologies, this statement needs to be tweaked.

We are dropping support for usage like: `arrow.get("1565358758")` because we are adding support for the basic format in ISO 8601. This would make timestamp strings and the basic format ambiguous.

You can still use `get` as follows: `arrow.get(1565358758)` and if you need to parse a timestamp string, `arrow.get("1565358758", "X")`.

Let us know if yo

[2019-08-09 14:02] joinemm commented on #612
@jadchaar Oh ok, looks like it was just badly worded then. So something like `arrow.get("2002-10-02T10:00:00-05:00")` will still work as it used to?

[2019-08-09 14:11] jadchaar commented on #612
@joinemm indeed :). We are not trying to break existing workflows, we are just trying to address core parsing issues that have given `arrow` a bad name over the years.

As for this, the functionality will still remain intact if you provide a format string like this: `arrow.get("Meet me at 2016-05-16T04:05:06.789120 at the stadium",  "YYYY-MM-DDTHH:mm:ss.S" )`.

This will no longer work though: arr

[2019-08-09 17:42] systemcatch commented on #612
@petermolnar the warning is there so people can see the full list of changes in this issue, thanks to that warning you and @joinemm showed us that the change log was poorly worded which should hopefully mean less confusion for others in the future.

The warning will be gone in 0.15.0 which should be released around the end of August.

[2019-08-13 16:58] KenKundert commented on #612
The current version of the manual on readthedocs.io says:

However, that code now generates a warning. That forces an ugly choice. Do I put in the warning suppression code, which just adds clutter to my code and adds risk that some new future warning will be unintentionally suppressed, or do I specify the format string for iso8601, which clutters up my code, seems error prone, and also seems like

[2019-08-14 02:13] merriam commented on #612
This issue has come up a number of times in different date/time libraries; I last ran into it in MomentJS.  The progression is surprisingly consistent:

1.  A native library exists, e.g., DateTime.  It is found wanting, particularly in parsing dates.
2. A new library is written, e.g., Arrow, that provides a liberal, intuitive parsing syntax.
3.  The library gains popularity and a large number of a

[2019-08-14 09:46] systemcatch commented on #612
Hello @KenKundert that string does not need a format to be passed now or in the future, the warning will occur with or without a format string. This is so users are aware of the changes coming in 0.15.0 which affect both cases. ArrowParseWarning is specific and won't be used after 0.15.0.

[2019-08-14 11:03] systemcatch commented on #612
@merriam

Indeed, take a look at the examples below. They're clearly wrong and introduce errors that are hard to find and debug. I assume you agree these should be fixed?

[code]

[code]

[code]

This change does not make strict parsing the default, it simply corrects obvious errors. Warnings are clearly needed to inform users about these changes, unfortunately due to the parser design it is diffi

[2019-08-15 07:22] matthewdooler opened #636 "Error parsing date with over 999999 in microseconds"
I get the following error if I try to parse a date with a timestamp that has over 6 digits in the fractional second and is also over 999999:
[code]

Example inputs: `2019-08-14T15:37:11.9999995+01:00`, `2019-08-14T15:37:11.9999996+01:00` but *not* `2019-08-14T15:37:11.9999994+01:00`

Arrow version: 0.14.5
Python version: 3.7.3

Seems related to https://github.com/crsmithdev/arrow/issues/341 but no

[2019-08-15 08:29] matthewdooler commented on #636
This is my current workaround as I don't need the precision - I just need to be able to accept the date and do a rough calculation:
[code]

[2019-08-15 13:37] jsale opened #638 "AttributeError: unknown attribute: "hours""
I just installed arrow and ran the first example. Here's my output. I get the same error for 'days'. Murphy is alive and well this morning, I guess. :-)

[code]

[2019-08-15 14:02] jadchaar commented on #638
Hey @jsale, this is due to a recent deprecation (we forgot to update the docs). The plural attributes have been moved to the ‘shift’ function. This was done to prevent hard-to-find bugs since the functionality of passing ‘hour’ and ‘hours’ to ‘replace’ had completely different effects.

I have put in a PR to update the docs to reflect the recent deprecation: https://github.com/crsmithdev/arrow/pul

[2019-08-15 14:10] #638 closed

[2019-08-15 16:35] jsale commented on #638
Thank you very much!

[2019-08-16 19:56] jadchaar commented on #636
Hey @matthewdooler, thanks for the bug report. This is due to the rounding logic here: https://github.com/crsmithdev/arrow/blob/master/arrow/parser.py#L232.

We need to add a conditional to account for the case in which it overflows from 999999 to 1000000 to zero out the subseconds and increment the seconds.

If you'd like to take a whack at this issue, feel free to submit a PR. Any help is apprec

[2019-08-16 23:45] jadchaar commented on #177
This seems to only be an issue with Python 2.7. I tried implementing the fix recommended in this StackOverflow post: https://stackoverflow.com/a/29430342/3820660, but our testing framework, Chai, does not seem to play well with the change.

We will have to keep investigating.

[2019-08-16 23:49] jadchaar commented on #421
We can maybe add a flag to the `get()` method like `normalize_spaces` that would allow us to normalize all the spacing to a single one. E.g. we could turn `  Jun    1        2005    1:33PM` into `Jun 1 2005 1:33PM`. Is this what you'd like to be seen done automatically?

[2019-08-18 11:47] #625 closed

[2019-08-18 11:47] #626 closed

[2019-08-19 08:24] matthewdooler commented on #636
Have raised a PR if anyone could take a look :)

https://github.com/crsmithdev/arrow/pull/643

[2019-08-19 11:27] jadchaar commented on #341
Addressing https://github.com/crsmithdev/arrow/issues/636 should help with rounding large subseconds, but like people have said previously, without official ns support from datetime, the change to support ns will be more involved.

[2019-08-19 17:21] #636 closed

[2019-08-20 18:10] #524 closed

[2019-08-26 17:08] charlax commented on #612
[code]

I understand the impetus to warn users about the upcoming change, but this feels very heavy-handed. A plain, simple example will yield the warning. Removing the warning requires 3 lines of code... granted it's not a lot, but that's a manual step everyone will have to take.

What about issuing a warning **only** when the code will need to change - this will give a chance to developers to pr

[2019-08-29 13:56] bersbersbers opened #650 "Bulk feature request: support timedeltas, milliseconds and below"
I would like to use `arrow`'s `humanize()` for the bold part of this:

Currently, this seems hard for two reasons. First, from the start time that I stored, I need to compute the `delta` to `now` myself, divide the `delta` by 1000, subtract it from `now`, and then output that. That seems unncessarily complicated.

Second, everything below one second is "a moment" or something like that.

Or have I

[2019-08-30 11:59] gsemet commented on #612
Hello. Can you avoid setting
[code]
in your library, this clearly mess up warning set up. You can keep the Warning but let the users handle the filtering themself without having to import arrow.factory first

[2019-08-30 15:38] systemcatch commented on #442
Since we already require dateutil to be present maybe it could be as simple as making the easter module available from there.

[2019-08-30 15:51] systemcatch commented on #612
Hi @gsemet, on reflection we were probably over zealous with the warnings for these changes. But with python pre 3.7 not showing deprecation warnings by default we really wanted to make sure they were seen.

Anyway 0.15.0 will be released soon and the warnings will be gone.

[2019-08-30 16:55] salixrosa commented on #612
A handful of days back, I made the mistake, it seems, of letting pip update Arrow. There were a handful of depreciation warnings we caught and remedied in testing, and then we rolled a major update to production. For some reason I'm not particularly interested in, we did not catch this one.

In the last hour, there have been 181,486 "arrow" warnings (this depreciation warning) logged. This is prob

[2019-08-30 22:16] jadchaar commented on #612
Hey @salixrosa, we apologize for the issues you are facing. Can you try `export PYTHONWARNINGS="ignore"`?

[2019-08-31 21:02] systemcatch commented on #650
Hello @bersbersbers the first part could be achieved as;

[code]

For the second part I don't think `humanize` would be much help, seems like you want a custom function here.

[2019-08-31 21:08] systemcatch commented on #401
It would be cool to see something like this implemented in another package, however I 'm not sure there's anything we can add here on the main repo.

[2019-08-31 21:08] #401 closed

[2019-08-31 21:50] bersbersbers commented on #650
Yes, that custom function is exactly what I am asking for - hence the "feature request" :) I am currently using `humanize.naturaldelta()` from https://github.com/jmoiron/humanize, it's just that that package is not maintained any longer.

[2019-09-03 15:30] salixrosa commented on #612
@jadchaar

We're working in a containerized environment where `export` doesn't really make sense, as I understand things. We're setting the env variable the same way we're setting others that are used as early as the command that starts the python server; a line of `PYTHONWARNINGS=ignore` should set the variable for all relevant processes. I also tried `PYTHONWARNINGS=ignore::ArrowParseWarning`, w

[2019-09-03 15:35] gsemet commented on #612
maybe you can add a globla environment variable that would skip the `warnings.simplefilter("always", ArrowParseWarning)` line in your library, so that you won't mess with stdout.

I planning to switch to an earlier version of arrow or maybe switch to another livrary, some of my tools really need a clean stdout.

[2019-09-03 19:54] systemcatch commented on #650
Ah ok I think I understand what you mean now.

@jadchaar what do you think?

[2019-09-04 01:55] jadchaar commented on #650
I think this could definitely be a great feature addition to Arrow. We could maybe combine this with `dehumanize` functionality in a future release.

[2019-09-04 16:24] honzajavorek commented on #612
Please release 0.15.0 so the warnings are actionable. Currently there's no path I can take to get rid of the warnings except of forcefully suppressing them. There's nothing I can fix or upgrade to and it's polluting my app's output.

[2019-09-04 18:17] thesimj commented on #612
I don't know how long to wait until you release version 0.15, but this warning message create a huge problem in ElasticStack (Logs) and required much more space to operate.
Please release version 0.15!

[2019-09-04 18:39] gsemet commented on #612
Just revert to the previous version. There is the possibility to monkey patch arrow in order to ditch this ugly call to warning, but I would prefer if the kind author to release an intermediate version of 0.14 without this line :)

[2019-09-04 19:20] jadchaar commented on #612
Hey all, thanks for the feedback. Chris and I have decided to release an intermediate version (0.14.7) like @gsemet suggested. Our goal was to facilitate a conversion about the 0.15.0 changes, and I think we have done just that. Thanks for the feedback and please keep it coming!

We are planning on releasing 0.15.0 in the next week or so.

[2019-09-04 19:23] case commented on #612
Thanks for your work on this, @jadchaar!

[2019-09-04 20:06] thesimj commented on #612
Thank you for great work, @jadchaar

[2019-09-05 10:39] jaapz commented on #612
One the one hand it's great you are so explicit with warning users that the API is going to break next release, on the other hand next time it would be nice to have a direct clean action path for making the warnings go away (like releasing the broken-API 0.15.0 version at the same time as introducing the warning version 0.14.x).

Now I have to deal with the minor inconvenience of having to explici

[2019-09-05 11:05] gsemet commented on #612
At least we know the API breaks in 0.15 :) Thanks for the intermediate releases :)

[2019-09-08 19:57] #560 closed

[2019-09-08 19:58] #91 closed

[2019-09-08 19:58] #196 closed

[2019-09-08 19:58] #396 closed

[2019-09-08 19:58] #434 closed

[2019-09-08 19:58] #447 closed

[2019-09-08 19:58] #456 closed

[2019-09-08 19:58] #519 closed

[2019-09-08 19:58] #538 closed

[2019-09-08 20:48] jadchaar commented on #612
Hey all, v0.15.0 has been released! Here is the final changelog:

## 0.15.0
- [NEW] Added support for DDD and DDDD ordinal date tokens. The following functionality is now possible: `arrow.get("1998-045")`, `arrow.get("1998-45", "YYYY-DDD")`, `arrow.get("1998-045", "YYYY-DDDD")`.
- [NEW] ISO 8601 basic format for dates and times is now supported (e.g. `YYYYMMDDTHHmmssZ`).
- [NEW] Added `humanize` w

[2019-09-08 21:37] systemcatch commented on #512
0.15.0 is now available! Please use it and give us feedback!

[2019-09-09 10:59] systemcatch opened #657 "Test TzinfoParser against full timezone database"
See https://github.com/crsmithdev/arrow/blob/master/arrow/parser.py#L454

Some ideas on how to do this (https://stackoverflow.com/questions/15453917/get-all-available-timezones), seems like both dateutil and pytz could be used. I tend towards using pytz because it's independent of the operating system and we already use it in other tests.

[2019-09-09 11:12] systemcatch commented on #421
Yeah I think a flag could be a good option, I'm not really in favour of doing lots of hidden preprocessing based on what we think the user needs here.

[2019-09-09 11:28] systemcatch commented on #360
Despite the linked PR now being closed, this is still something we'd like to implement. I think we could do with a good idea for structure + spec before we PR this again though.

[2019-09-09 11:32] systemcatch commented on #409
This could link in to #360

[2019-09-09 11:35] systemcatch commented on #148
Closing for now, let me know if there's still a problem.

[2019-09-09 11:35] #148 closed

[2019-09-09 13:41] mafycek opened #658 "Contructor issue with non-None timezone"
Constructor of Arrow object (arrow.py) fails if tzinfo is non-None and if it does not contain field "zone".

The problematic part:
[code]
should be like
[code]
The change came since version 0.14.5

[2019-09-09 13:46] systemcatch commented on #658
Hello @mafycek, I don't understand what you mean, please can you provide a reproducible example.

[2019-09-09 13:50] jadchaar commented on #658
Hey thanks for reporting this. Like Chris said, it would be great to have an example input that causes Arrow to fail so we can write a regression test :).

[2019-09-09 19:51] mafycek commented on #658
Hi guys,
hope that you are well.
Say, I have a (simple) program like:
`
import arrow
import dateparser

date_that_succeds = "1990-01-01T00:00:00"
date_that_fails = "1990-01-01T00:00:00+00:00"

for date in [date_that_succeds, date_that_fails]:
    try:
        parsed_date = dateparser.parse(date, date_formats=None or ['%d %B %Y', '%d/%m/%y', '%d/%m/%Y', '%d.%m.%Y'])
        arrow_date = arrow.get(p

[2019-09-09 21:39] escapewindow commented on #612
Hi,

First off, thank you for maintaining arrow, and thank you for addressing some long standing bugs.

Second, fallout from several recent arrow fixes have broken us downstream. This is understandable. However, I'm wondering if you would consider switching to [semver](https://semver.org/). Namely:

- This is a module used in production, so the version should be at least 1.0.0
- Bug fixes are dot

[2019-09-09 21:44] jadchaar commented on #612
Hi @escapewindow, @systemcatch and I actually discussed this recently. We decided that we would like to release 1.0.0 once we find that `arrow` has most basic features that you'd expect from a date and time library implemented. We are planning on switching to a full semantic versioning scheme once we add daylight savings time improvements (planned for 0.16.0). We wanted to get `arrow` into a solid

[2019-09-10 08:58] charlax opened #660 "Add Changelog to arrow.readthedocs.io"
To make it easier to find breaking changes between version...

[2019-09-10 09:03] charlax opened #661 "Parsing date with trailing punctation fails with 0.15.0"
This is pretty simple to reproduce.

Parsing a date with trailing punctuation (e.g. `"11 juillet 2018."`) works find with v0.14.7:

[code]

and fails with 0.15.0:

[code]

Since it's not mentioned in the CHANGELOG as a breaking change, I presume it's a bug? The CHANGELOG does mention a change about handling trailing whitespace.

[2019-09-10 09:04] charlax commented on #660
Also, in the changelog consider stating `BREAKING CHANGE` instead of just `CHANGE` which is less clear IMO.

[2019-09-10 09:34] mafycek commented on #658
Colleague of mine fixed unnecessary stuff and typo. However the message is the same:
`
import arrow
import dateparser

date_that_succeeds = "1990-01-01T00:00:00"
date_that_fails = "1990-01-01T00:00:00+00:00"

for date in [date_that_succeeds, date_that_fails]:
    try:
        parsed_date = dateparser.parse(date, date_formats=['%d %B %Y', '%d/%m/%y', '%d/%m/%Y', '%d.%m.%Y'])
        arrow_date = ar

[2019-09-10 09:43] systemcatch commented on #658
Thanks @mafycek, we will do some digging on this bug and look at fixes.

[2019-09-10 09:54] systemcatch commented on #661
As far as I can tell this is expected behaviour at the moment.

The changelog for 0.15.0 was difficult to write because the biggest changes were to do with the tokens themselves. Many things like this would fall under preventing partial matches so aren't listed individually.

[2019-09-10 16:16] JBKahn opened #662 "Arrow parse negative number relative to epoch on 0.15 not working for strings"
When we upgraded to the latest version it seems the suggested behaviour for parsing strings doesn't allow it to be a negative value relative to epoch.

[code]

[2019-09-10 16:32] systemcatch commented on #662
Hey @JBKahn looks like we missed this with all the upgrades, thanks for pointing it out.

[2019-09-10 16:32] JBKahn commented on #662
NP, The patch I submitted should resolve this one

[2019-09-10 16:52] charlax commented on #661
I think it'd be really helpful to document those cases because some other people might be expecting the pre-v0.15 behavior. Also, the CHANGELOG only links to a bunch of issues without necessarily clarifying: a casual reader might completely miss that.

I totally understand breaking changes, but properly documenting makes them much easier to accept and alleviate. I'd be happy to take a stab at docu

[2019-09-10 17:18] #662 closed

[2019-09-10 17:54] #658 closed

[2019-09-10 18:00] jadchaar commented on #662
Hey @JBKahn, we have just released 0.15.1 with this fix. Thanks!

[2019-09-10 18:57] bmintz opened #666 "Add support for humanizing a rate"
I found myself needing to humanize a rate, like "2.1 events per second". I wrote a function that does this for English:

[code]

However it would be really nice if arrow supported this with locale translation.

[2019-09-10 21:27] jadchaar commented on #666
This sounds like an awesome feature! If you'd like to submit a pull request with this feature, we'd be more than happy to take a look. Any help is appreciated :).

[2019-09-10 21:33] bmintz commented on #666
@jadchaar I will try. Not sure to do the i18n stuff though.

[2019-09-10 22:14] bmintz commented on #666
I'm also not sure what the API should look like. I think it makes the most sense as a top level function `arrow.humanize_rate(delta: datetime.timedelta)`. `Arrow#humanize_rate` doesn't feel right to me. I don't think of a rate as "two datetimes".

[2019-09-10 22:57] jadchaar commented on #666
@systemcatch what do you think the interface should look like?

[2019-09-10 23:42] bollwyvl opened #668 "Negative timestamp parsing on windows: timestamp out of range for platform localtime()/gmtime() function"
Thanks for arrow!

Over on conda-forge, our [build of 0.15.1](https://github.com/conda-forge/arrow-feedstock/pull/29) turned up this [test fail on windows](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=71174&view=logs&jobId=171a126d-c574-5c8c-1269-ff3b989e923d&taskId=7225e372-3a5e-5b11-c153-719d50bbeacd&lineStart=490&lineEnd=500&colStart=1&colEnd=24):
[code]

Excluding

[2019-09-11 01:47] jadchaar commented on #668
@bollwyvl thanks for reporting this. This is due to the new regression tests we added as part of the fix for https://github.com/crsmithdev/arrow/issues/662. It seems that datetime on Windows does not play nicely with negative timestamps (ref: https://stackoverflow.com/questions/36179914).

I will need to do some more investigating, but this should not be an issue if you are not using negative time

[2019-09-11 02:02] bollwyvl commented on #668
Thanks for the clarification! Merged -1 minutes from now!

On Tue, Sep 10, 2019 at 9:47 PM Jad Chaar <notifications@github.com> wrote:

[2019-09-11 02:20] jadchaar commented on #668
@systemcatch I don't think Arrow ever properly supported negative timestamps on Windows. I was able to configure Travis CI to execute a test run Windows, so we can ignore these tests on Windows for now until we find a more permanent solution.

We may need to replace all the `datetime.fromtimestamp()` and `datetime.utcfromtimestamp()` calls with this if the timestamp is negative:

[code]

[2019-09-11 09:57] systemcatch commented on #668
@jadchaar I just tried it on my Windows work machine and you're right it probably never worked.
[code]

[2019-09-11 10:12] systemcatch commented on #661
@charlax Sure feel free to do that. I don't expect that any future release of arrow will have this many breaking changes again (famous last words!).

[2019-09-11 16:04] jadchaar commented on #661
I agree with @systemcatch. v0.15.0 was meant to be a revamp of the parsing engine for Arrow to fix many fundamental bugs that have plagued the library for years. After this release, breaking changes should be rare outside of deprecations.

[2019-09-12 00:17] jadchaar commented on #668
Yeah that is quite peculiar. I wonder why the functionality of `fromtimestamp` differs so drastically between operating systems.

[2019-09-12 04:42] fluffy-critter opened #671 "Please don't remove the deprecation warning mitigation!"
Hi, in one of my libraries I was suppressing the `ArrowParseWarning` warning, with plans to remove it once Arrow 0.15 came out. Well, just now I updated things only to find that when the warning stopped being emitted, the class was also removed entirely — breaking all software that was importing it for the purpose of suppressing the warning.

It would have been nice if, instead of removing it outr

[2019-09-13 08:30] #660 closed

[2019-09-13 08:49] systemcatch commented on #666
@bmintz To be honest I think something like this is best outside a library. We probably won't implement this unless there's high demand for it. You can import from arrow's locales module to get any translations you need.

[2019-09-13 08:49] #666 closed

[2019-09-14 15:36] jadchaar commented on #668
Hey @bollwyvl, we have released 0.15.2, which includes the fix for tests on Windows :).

[2019-09-14 15:36] #668 closed

[2019-09-14 15:42] jadchaar opened #675 "Add support for negative timestamps on Windows (before the epoch)"
Currently, on Windows, you get the following error if you pass a negative timestamp:

[code]

This occurs on all versions of Arrow on Windows and seems to be due to limitations of the `fromtimestamp` and `utcfromtimestamp` methods in the datetime library on Windows.

This functionality works fine on Linux and MacOS:

[code]

[2019-09-14 15:44] jadchaar commented on #675
As discussed in https://github.com/crsmithdev/arrow/issues/668, a possible solution could be to check whether the timestamp is negative and whether the OS is Windows, and based on that, use a purely `timedelta` solution instead:

[code]

This code is a bit sloppy and can definitely be cleaned up, but the idea is there.

[2019-09-14 15:46] jadchaar commented on #661
Hey @charlax, if you'd like to clean up the documentation, feel free to, but I am going to close this issue for now since this change to parsing behavior was intentional :).

[2019-09-14 15:46] #661 closed

[2019-09-16 07:16] jaapz commented on #612
Great release, thanks!

[2019-09-16 13:08] argenisfd opened #676 "Week granularity for Spanish locale"
Add week granularity for Spanish locale

[2019-09-16 15:51] #676 closed

[2019-09-21 15:39] jadchaar commented on #357
As discussed in #615, think that it may be better to keep such functionality to a new parsing token like `x`. @systemcatch and I think that doing this automatically is masking too much logic and may be better kept for another parsing token. If a user wants to do this, he or she can use a token. If someone would like to open a PR to add this token, please do :).

[2019-09-22 22:11] snoopyjc opened #680 "Formatter needs to handle [text_blocks]"
The formatter also needs to handle [text_blocks], not just the parser, to support things like:

    f"dddd [<span style='color:{DATE_COLOR};'>]MMMM D[</span>]"

as the format.  Right now it changes the 's' in "span" to a 0.

[2019-09-23 10:05] systemcatch commented on #680
We're looking at adding support for escaping in formatting, see #35, PR's welcome!

[2019-09-23 10:05] #680 closed

[2019-09-23 10:26] systemcatch commented on #666
@iomintz ok fair enough on the translations, can you give me a specific example where the phrasing differs? Also an example of your function in action.

[2019-09-24 07:22] yyan1998 opened #681 "More formats of time"
Can add more format to parse such as YYYY/M. For each type of format, it's better to allow single digits of months/dates and missing dates. (I got ParserError when I tried to parse the time on the bibs of scholars on Google scholar)

[2019-09-24 14:18] systemcatch commented on #681
Hi @yyan1998, you mean something like this?

[code]

[2019-09-24 14:25] systemcatch commented on #666
Yes but what exactly is `emote_usage_interval` when it's passed to `natural_rate`, I need to see the exact format like this;

[code]

[2019-10-01 03:39] jadchaar commented on #681
Hey @yyan1998, like @systemcatch said, you can easily parse this by passing the format string to `arrow.get()`. If you still have any questions, or are unable to get this to work, please let us know. For now, I am closing this issue.

[2019-10-01 03:39] #681 closed

[2019-10-01 03:43] jadchaar commented on #612
Closing this issue because the v0.15.0 release seems to have gone well. Feel free to open a new issue if new problems arise. Thanks again everyone for contributing to the conversation and helping to make Arrow even better!

[2019-10-01 03:43] #612 closed

[2019-10-01 03:46] jadchaar commented on #189
@systemcatch your PR #670 seems to have tackled this. We good to close this now?

[2019-10-01 19:23] systemcatch commented on #189
We're good, I'll close this.

[2019-10-01 19:23] #189 closed

[2019-10-02 06:35] sidshrivastav commented on #627
Please find PR[](https://github.com/crsmithdev/arrow/pull/685).

[2019-10-02 16:52] jadchaar commented on #627
@systemcatch I am not sure what the best interface for this would be. If we deprecate the functionality of all S's being the same as a single S, we would need to provide a deprecation warning because some people may rely on the old functionality. I think an alternative solution could be to introduce a second subsecond token like "S{1,2,3,4,5,6}" to specify the number of digits to parse.

[2019-10-03 21:09] jadchaar commented on #627
@systemcatch and I decided that it is best to close this issue for now to focus on more important issues in Arrow :).

[2019-10-03 21:09] #627 closed

[2019-10-05 16:39] adm271828 opened #686 "Problem with differences between time points"
Hi,

the ``shift()`` method is nice and seems to work with localized time with some kind of "natural" semantic. However it leads to some results (related to differences between time points).
[code]
So far, so good. A DST transition occurs between ``t0`` and ``t1`` (I'm living in Paris) and shifting by one day keeps the same time (16:33) with UTC offset adjusted (+02:00 to +01:00). The difference i

[2019-10-05 16:50] adm271828 opened #687 "Closed / open intervals with span_range (feature request)"
Hi,

Would it it be possible for ``span_range``, to return closed / open intervals instead of closed / closed interval (meaning the right part of the interval is open).

Could be achieved with an extra keyword.

For instance:

[code]

When dealing with intervals it is sometimes much more convenient to have closed / open ones.

Best regards,

Antoine

[2019-10-07 11:10] zaraken commented on #681
I want to piggyback on this issue since I think my question is somewhat the same.
Why is it that `arrow.get` can parse '1970-01-01T00:00:00' but not '1970-1-1T00:00:00'
Or to state my question differently how would I define a format string that can match both formats?
For now I fell back to using `arrow.Arrow.strptime()` with format '%Y-%m-%dT%H:%M:%S' which can parse both.
Sure, I can manually tr

[2019-10-07 15:51] jadchaar commented on #681
Hey @zaraken, Arrow v0.14.7 and below will not parse YYYY-M-D because the method was originally focused solely on parsing [ISO-8601](https://en.wikipedia.org/wiki/ISO_8601) date and time strings.

If you upgrade to Arrow v0.15.0 and above (run `pip install -U arrow`), Arrow will parse YYYY-M-D properly since we now test against commonly used, non-ISO 8601 date and time strings as well:

[code]

As

[2019-10-07 16:02] #357 closed

[2019-10-09 08:35] liosha opened #690 "DST transition again"
`

<Arrow [2019-10-27T02:21:01+03:00]>

<Arrow [2019-10-27T01:21:01+03:00]>
`
Note the same tz offset but different hours

[2019-10-09 18:45] ZeusFSX opened #691 "How to parse date?"
Can anyone help, how to parse date like this ```2019-10-09T21:25+3:00```?

[2019-10-09 20:25] jadchaar commented on #691
@ZeusFSX according to the [ISO 8601 standard](https://en.wikipedia.org/wiki/ISO_8601), timezones should be zero padded. Parsing `2019-10-09T21:25+03:00` should work seamlessly as follows:

[code]

Arrow does not parse single digit hours not only because of the ISO 8601 time standard, but also because it would be a bit inconsistent to allow for single hours but not single digit minutes.

Does this

[2019-10-10 09:01] ZeusFSX commented on #691
I know about ISO 8601, but when I parse some website, I got timezone without zero-padded, maybe you know how to replace +3:00 -> +03:00?

[2019-10-10 12:59] jadchaar commented on #691
Hey @ZeusFSX, thanks for the follow up. I am discussing with @systemcatch whether or not we should allow +3:00 by default in Arrow. I will keep you posted.

As for a work around in the meantime, you can use a regex as follows:

[code]
This will match on the timezone portion of the string and substitute a 0 between the sign and the original timezone string.

I hope this helps :).

[2019-10-13 14:07] systemcatch commented on #690
What version of python are you on @liosha?

[2019-10-13 19:49] jadchaar commented on #691
Hey @ZeusFSX, feel free to re-open this issue, but for now I am going to close it as resolved :). Thanks!

[2019-10-13 19:49] #691 closed

[2019-10-14 08:00] liosha commented on #690
I've checked with Python 2.7.12 and 2.7.16 (Ubuntu)

[2019-10-14 09:53] systemcatch commented on #690
Hmmm that's interesting, I tested your example on python 3.7.4 and there's no error there that I can see. Could you test on 3.6+ as well?

I think the DST problems with arrow are slowly being fixed with the introduction of PEP 485 (fold attribute in datetime). Currently we only need to fix 2.7 and 3.5.

[2019-10-14 10:05] liosha commented on #690
The same on 3.7.3
[code]

[2019-10-15 10:19] ZeusFSX commented on #691
Thanks @jadchaar, it's helpful :))

[2019-10-19 14:42] certator commented on #657
I will give it a try 👷

[2019-10-20 16:16] #657 closed

[2019-10-20 16:17] jadchaar opened #693 "Test formatter against full timezone database"
Similar to https://github.com/crsmithdev/arrow/issues/657, it would be great to test the timezone formatter against this DB as well.

Code for tests could go here: https://github.com/crsmithdev/arrow/blob/master/tests/formatter_tests.py#L122.

[2019-10-20 23:59] haneybarg commented on #693
Hi, can I take this?

[2019-10-21 00:46] jadchaar commented on #693
@haneybarg yes, go for it! If you need help, do not hesitate to reach out :).

[2019-10-21 20:58] #554 closed

[2019-10-23 17:02] haneybarg commented on #693
Hi! I've made progress, but it seems that there exists more than one timezone for the same abbreviation. Ex: CST can be Asia/Macao or Asia/Shanghai. Therefore, I can not use the same dict format, with abbreviations as keys. How should I proceed?

[2019-10-23 20:55] jadchaar commented on #693
Hi @haneybarg, that is an interesting concern. I think the best approach may be to create a function similar to `make_full_tz_list` in [`parser_tests.py`](https://github.com/crsmithdev/arrow/blob/master/tests/parser_tests.py#L19), which was added in https://github.com/crsmithdev/arrow/pull/692. We need to find a way to create a mapping of abbreviations to full timezone name using `dateutil` and `p

[2019-10-23 21:01] haneybarg commented on #693
Hi! I've found functions in the pyzt and dateutil docs that do the mapping from timezones to abbreviation. I was thinking of using the abbreviation as a key, with the respective timezones in a list, like:
{
"CST": ["Asia/Macao", "Asia/Shanghai"],
"CET": ....
.....
}

[2019-10-23 21:03] jadchaar commented on #693
Fantastic. I think that could very well work. Which functions in pytz and dateutil are you using, I am very curious.

[2019-10-23 21:11] haneybarg commented on #693
Hi!
For the dateutil zones I'm using the [tzname](https://dateutil.readthedocs.io/en/stable/tz.html#dateutil.tz.tzutc):
[code]
For the pyzt zones, I am using [this](https://stackoverflow.com/questions/5946499/how-to-get-the-common-name-for-a-pytz-timezone-eg-est-edt-for-america-new-york):
[code]

[2019-10-24 12:51] gustavoip opened #697 "`.humanize()` leads to wrong result with `datetime.date`"
I'm using `arrow` 0.15.2.

[code]
As far as I know yesterday was 1 day ago haha. Is this the expected behavior?

[2019-10-24 16:44] jadchaar commented on #697
Hmm at first I thought that this may be related to the changes in 0.15.0 to add the week granularity (https://github.com/crsmithdev/arrow/pull/642/files), but it seems that this issue is present in 0.14.7 as well. @systemcatch any ideas? I can investigate this further after my exams.

[2019-10-24 22:57] pyup-bot opened #698 "Initial Update"
The bot created this issue to inform you that pyup.io has been set up on this repo.
Once you have closed it, the bot will open pull requests for updates as soon as they are available.

[2019-10-24 23:06] #698 closed

[2019-10-24 23:11] andrewelkins commented on #594
Need help with this transition? Was looking at this today when reviewing the requirements.txt for security vulnerabilities.

[2019-10-24 23:17] andrewelkins commented on #594
Besides pytest supporting most of nose out of the box, https://github.com/pytest-dev/nose2pytest might be of help.

[2019-10-25 01:46] jadchaar commented on #594
Hey @andrewelkins great to hear from you! Glad to see you back!

My feature branch is actually quite stale at this point since there have been tons of updates (including the big 0.15.0 release) after I began the transition.

I did most of it manually (pretty tedious), but I got stuck on trying to mock the LRU cache functionality using `pytest-mock` and kind of gave up for a while. I tried to reach

[2019-10-28 21:07] mredaelli opened #701 "Locale strings not expanded in `get` format"
This code:
[code]

works perfectly in `arrow` 1.13.1, but in 1.15.2 I ge an `Exception`t:
[code]
where the pattern is not expanded.

Am I doing something wrong?

[2019-10-28 21:46] jadchaar commented on #701
@mredaelli it seems that you forgot to include the time and timezone tokens in your format string. Parsing was improved and revamped in Arrow v0.15.0. This should work:

[code]

[2019-10-29 08:04] mredaelli commented on #701
Thank you @jadchaar , but I'm not sure I understand. What was the change exactly?

Because in the documentation I still read
[code]
and that's exactly what I'm doing. I don't want to parse the time, that's all.

I really hope the "search" part was not removed intentionally (and without a clear indication in the changelog, as far as I can see), because I rely on that for a lot of strings coming fro

[2019-10-29 08:21] mredaelli commented on #701
Hmm, I see that
[code]
seems to work, so it would seem that indeed you do not `search` anymore, but just `match` the regex.

[2019-10-29 12:27] systemcatch commented on #701
@mredaelli I think the comma in your example is causing the problem, without it everything seems to be working ok.

[code]

Further investigation needed.

[2019-10-30 01:22] jadchaar commented on #701
Ah apologies, I did not realize that you were trying to search--I thought you were trying to parse it.

[2019-10-30 02:19] ceorcham opened #703 "HH token does not support the number 24, even though the documentation says it should (00 to 24)"
According to ISO 8601 `arrow.get('2019-10-29T24:00:00')` should parse to October 30, 2019 (`2019-10-30T00:00:00`), but instead is throwing an exception `ValueError: hour must be in 0..23`

It also fails when doing explicit formatting (same exception)
`arrow.get('2013-12-31T24:00:00', ['YYYY-MM-DD[T]HH:mm:ss'])`

If you look at the docs at https://arrow.readthedocs.io/en/latest/#supported-tokens it

[2019-10-30 13:38] jadchaar commented on #703
Hey @ceorcham, you seem to be correct. On [the Wikipedia page](https://en.wikipedia.org/wiki/ISO_8601) it says:

If you'd like to take this on, go for it!

[2019-10-30 17:15] fabads opened #704 "Comparing arrow dates"
Hello,
This is not an issue, simply a question to clarify my understanding of the documentation.
I need to check if two dates are in the same year and month. Using arrow, what is the best practice to perfom this test? Use .month and .year or apply a .format('YYYY-MM') to the 2 arrow dates to compare?

Thanks for your help.

Fabrice

[2019-10-31 11:51] systemcatch commented on #704
@fabads there isn't a preference either way, use whatever code style you prefer.

[2019-10-31 11:51] #704 closed

[2019-10-31 13:23] ceorcham commented on #703
@jadchaar I just made a PR (#705) with the changes for the parser, now 24:00 will become 00:00 next day. Don't hesitate requesting any changes if needed, I'm happy to help.

I think changes for the formatter are not needed because the 24:00 is just another way to represent next day 00:00, so when formatting `HH` at midnight will always be `00`

[2019-10-31 17:52] andrewelkins commented on #594
I'll take a crack at the migration. Would be great to replace nose since it's essentially dead.

[2019-10-31 18:52] jmidyet commented on #612
@jadchaar thousands of people/projects are already using the library. By not following standard versioning practices, you're causing headaches for other humans. Please do a major version bump for breaking changes.

[2019-10-31 19:00] andrewelkins commented on #612
@jmidyet Agreed and we're working on it.

[2019-10-31 19:03] gsemet commented on #612
While I agree with you, I must admit semver says something like « every version in 0.x can break or not, up to the lib ». Lot of packages are 0.x because their maintainer just does not want to deal with backward-forward compatibility. Yes human error happens, breaking change can sneak between two minor change, but semver has a purpose to minimize this. It is a pity some maintainers do not follow i

[2019-10-31 19:14] jadchaar commented on #612
@gsemet @jmidyet we appreciate your input and apologize if the lack of semver has caused issues. I am a huge fan of semver myself, but Arrow has been in flux the past few years as maintainers have come and gone (I just join the project back in May), but we are heavily discussing a move to semver.

@systemcatch and I discussed the potential move recently, but we wanted to keep a 1.0.0 release until

[2019-10-31 19:18] jadchaar commented on #594
I agree, pytest is definitely the way to go since fixtures will make standardizing tests a breeze.

I used pytest, pytest-cov, and pytest-mock to get my transition branch started. I reached a deadend trying to mock the LRU cache behavior though. If you can figure out how to do that, the rest is straight forward: need to convert setup() to fixtures, replace any uses of Chai with pytest-mock, change

[2019-10-31 19:21] jadchaar commented on #704
@fabads to add on the what Chris said, you can also use the built-in comparison operations of an arrow object (like subtracting and such to get a timedelta) and the `is_between` member function. There isn't really a best way to do it :).

[2019-10-31 19:34] andrewelkins commented on #612
@jadchaar probably worth keeping support for 2.7 for 1.0.0

[2019-11-01 01:32] jadchaar commented on #703
Ah yes you are correct! Thanks for the PR by the way--I am reviewing it right now.

[2019-11-01 14:30] #703 closed

[2019-11-02 14:47] #35 closed

[2019-11-02 15:57] jadchaar opened #709 "Add support for x token in formatter"
Support for parsing integer timestamps with milliseconds and microseconds was added in https://github.com/crsmithdev/arrow/pull/684, but we need to add similar support to the formatter.

[2019-11-02 23:48] gsemet commented on #612
Most of major lib has dropped support for 2.7, especially pip. It's time to move one and forget about it. Lot of libs also only works on 3.5+, which makes totally sense.

[2019-11-03 00:02] bollwyvl opened #710 "0.15.3 tarball does not include license, tests, docs..."
Thanks for arrow, and congratulations on the release!

The change in #679 caused the released source distribution to not include the `LICENSE`, the tests, or the docs source.

Test:
[code]

The wheel includes the license (through separate metadata), but not the tests. Downstreams, such as [conda-forge](https://github.com/conda-forge/arrow-feedstock/pull/32) use these to ensure repackaging.

Will m

[2019-11-03 02:44] jadchaar commented on #710
Hi @bollwyvl, thanks for reporting this. I will get the fix merged and ship `v0.15.4` ASAP.

[2019-11-03 02:45] #710 closed

[2019-11-03 02:50] bollwyvl commented on #710
Thank _you_ for the speedy review and merge!

[2019-11-03 03:00] jadchaar commented on #710
@bollwyvl renaming was totally a mistake on my end--I read somewhere that MANIFEST could be used instead and I wanted to line up the naming with LICENSE, but I guess that is not the case.

I have published v0.15.4 with the fixed packaging. Thanks again for reporting this :D!

[2019-11-06 05:38] bobowang2017 opened #715 "Not well supported for Chinese"
arrow.get('2019-10-20', tzinfo='local').humanize(locale='zh')

error:

ValueError: Humanization of the 'weeks' granularity is not currently translated in the 'zh' locale. Please consider making a contribution to this locale.

[2019-11-06 06:09] jadchaar commented on #715
Hey @bobowang2017, this should have been fixed in version 0.15.4. Can you try upgrading arrow (`pip install -U arrow`) and tell us if that fixes the issue?

Thanks.

[2019-11-06 06:16] bobowang2017 commented on #715
@jadchaar The arrow version I used is 0.15.4. But I Found another way to solve it .

change the locale from 'zh' to 'zh_cn':

arrow.get(str(_time.get('last_run_time')), tzinfo=tzlocal()).humanize(locale='zh_cn')

this is ok.

Tkanks

[2019-11-06 06:16] #715 closed

[2019-11-08 14:40] fabads opened #716 "Humanize: combine granularities"
Hello,

is it possible to get a combined results of different granularities, eg. 7 years and 10 months ?

BR.
Fabrice

[2019-11-08 17:16] systemcatch commented on #716
Hi @fabads at the moment `humanize()` does not support having multiple levels of granularity.

[2019-11-08 17:20] jadchaar commented on #715
@bobowang2017 I just tried this and it worked:

[code]

[2019-11-08 17:24] systemcatch commented on #697
[code]
So it works correctly with the `datetime` object but not with the `date`. Further investigation needed.

[2019-11-09 15:48] jadchaar commented on #716
That being said though, it would be a great feature to add! Feel free to contribute @fabads, this would be a great addition to the library.

[2019-11-09 15:51] jadchaar commented on #697
Hmm it means we have to tweak some parameters to get a good middle ground. Will require a bit more investigation.

[2019-11-12 00:54] salilb commented on #690
This issue exists on python 3.6.5 and arrow version 0.15.2 as well.

arrow.get(1572762479316/1000).replace(tzinfo='UTC').to('America/New_York') creates an arrow object <Arrow [2019-11-03T01:27:59.316000-04:00]>   <-- This is WRONG!!

whereas,

pytz.timezone('UTC').localize(datetime.datetime.utcfromtimestamp(1572762479316/1000.)).astimezone(pytz.timezone('America/New_York')).isoformat() creates '20

[2019-11-12 01:07] jacobg opened #717 "Daylight savings bug?"
[code]

[2019-11-12 12:17] systemcatch commented on #717
Similar to #690

[2019-11-12 12:17] #717 closed

[2019-11-17 20:26] andrewchouman commented on #701
Do you mind if I take a  look at this?

[2019-11-17 20:34] jadchaar commented on #701
@andrewchouman for sure! The issue is most likely in `parser.py`. I recommend using a debugger to step through the parsing logic with the problematic example.

[2019-11-18 01:57] andrewchouman commented on #701
I believe I found a solution to the issue, but this seems to be the correct defined behavior based on test cases in versions >= 0.15.0.

In current test cases, any substring connected to the string (not separated by whitespace) that isn't part of the pattern should trigger an exception. See below:

`    def test_parse_with_extra_words_at_start_and_end_invalid(self):
        input_format_pairs = [

[2019-11-18 02:20] andrewchouman commented on #686
I can try to fix this. So, to be clear, we want an implementation that checks if two timestamps are in the different timezones before switching to UTC, else don't switch to UTC and do the operations in the native timezone?

[2019-11-18 02:33] andrewchouman commented on #686
I could implement points 1 & 2, within the next few days. Is that fine @jadchaar?

[2019-11-18 02:44] andrewchouman commented on #697
Can I look into this? @jadchaar

[2019-11-18 17:04] jadchaar commented on #697
Yes for sure @andrewchouman! Go for it and feel free to ask us any questions.

[2019-11-18 17:51] ajdidonato7 commented on #551
I am beginning to look into this issue.

[2019-11-18 17:53] ajdidonato7 commented on #376
I am beginning to look into this issue

[2019-11-18 18:32] abschmidt6 commented on #360
I'm interested in working on this feature, I will take a look at it!

[2019-11-18 18:32] abschmidt6 commented on #675
I'm interested in working on this feature, I will take a look at it!

[2019-11-18 18:35] jadchaar commented on #675
Hey @abschmidt6, thanks for offering to help on this issue, but we already have an open PR for it here that is almost ready to be merged in: https://github.com/crsmithdev/arrow/pull/700.

[2019-11-18 18:43] jadchaar commented on #701
The issue seems to stem from [this line of code](https://github.com/crsmithdev/arrow/blob/master/arrow/parser.py#L296) where we add the word boundary. Currently, we wrap the formatting regex in a custom white space word boundary. Here is a demonstration of the regex that is formed: https://regex101.com/r/EJ2oJJ/2. If we remove the custom word boundary we search for the entry successfully: https://

[2019-11-18 18:44] jadchaar commented on #360
Fantastic. Let us know if you have any questions.

[2019-11-18 18:46] jadchaar commented on #376
@ajdidonato7 sounds good. The fold attribute provided by `dateutil` may be useful here to detect a DST transition (ref: https://github.com/crsmithdev/arrow/issues/488).

[2019-11-18 18:59] andrewchouman commented on #701
@jadchaar Do we want to allow punctuation perhaps (i.e. comma, period, dash)? I can work on this and add to the test cases.

[2019-11-18 19:04] jadchaar commented on #701
Yeah I think adding appropriate punctuation that may be possible in a datetime string to the regex word boundary could be an appropriate solution to this. Feel free to play around with regex101 to help fix this issue, it is an amazing tool for visualizing regular expressions.

[2019-11-18 19:06] andrewchouman commented on #701
I should have it done within the next week or two (adding to documentation/testing included)

[2019-11-19 02:01] byin0317 commented on #355
I am interested in working on this issue, will look further into by next week or so

[2019-11-19 04:30] gramirez093 commented on #709
I will look into this!

[2019-11-19 06:35] mashfy13 commented on #617
I'm interested in helping out with the Cython implementation. I will definitely take a look at it!

[2019-11-19 19:58] systemcatch commented on #686
@adm271828 could you clarify exactly what you would expect to happen here instead. We're still trying to figure out whether this is an issue with `arrow` or `timedelta`.

[2019-11-19 20:16] pyup-bot opened #718 "Initial Update"
The bot created this issue to inform you that pyup.io has been set up on this repo.
Once you have closed it, the bot will open pull requests for updates as soon as they are available.

[2019-11-19 20:46] #718 closed

[2019-11-19 23:25] adm271828 commented on #686
Hi,

The very basic requirement in my example is that since 1) `t0` and `t2` represent the **very same** time point and 2) `t1` and `t3` represent the **very same** time point, then 3) we should at least have `t1 - t0` represent the same time delta as `t3 - t2`. It shall not depend on the timezone in which the time points have their representation. But unfortunately it does...

In the example, the

[2019-11-21 19:24] andrewchouman commented on #701
@jadchaar I think [this regex](https://regex101.com/r/vbCyWK/1) works for our purposes; what do you think? Also when I ran nosetests this test didn't work:
[code]
 This is because this line causes a ParserMatchError now as opposed to a ParserError due to my regex change. ParserMatchErrors get caught within the function so the exception is never raised to this top level stack even if I were to swit

[2019-11-21 20:41] #687 closed

[2019-11-22 18:42] JunhwanK commented on #298
I will work on adding a check for the plural in _get_frames function

[2019-11-22 18:43] JunhwanK commented on #498
I will try working on this

[2019-11-23 20:39] jadchaar commented on #701
@andrewchouman it may be better to supplement the current regex: `\S` is the same as `^\s`, so we can add some punctuation to the set like this: `^\s\,` (may need to add more punctuation).

[2019-11-25 17:43] skrakowi commented on #697
Hello @jadchaar I am working with @andrewchouman on this issue. I noticed that the thresholds/parameters for deciding whether a timestamp is one day or multiple days ago is not exact. In other words, two timestamps can only be one day apart if they are within 22 - 36 hours of each other. However, it is very possible for two timestamps to be within 1 hour or even 47 hours of each other and still be

[2019-11-26 03:38] jadchaar commented on #697
@skrakowi that is most likely because below 22 hours, we use "hour ago" granularity as follows:

[code]

Also, for the UTC question, it seems that the `other` object is being adjusted to the `tzinfo` (timezone info) of the Arrow instance that `humanize` is being called on: https://github.com/crsmithdev/arrow/blob/master/arrow/arrow.py#L892. Is this the portion of the code that you were referencing

[2019-11-29 01:37] alstomli commented on #709
By using a command like "arrow.get('1367900664123','x').format('YYYY-MM-DD HH:mm:ss:SSSSSS')" We can already see milliseconds and microseconds. I am not sure what kind of output format token 'x' will do.
I have tried this:

'123000'

this just shows the milliseconds and microseconds in the timestamp
but I'm not sure if it is what you want.

[2019-11-29 04:47] jadchaar commented on #709
Hi @alstomli, my apologies. I forgot to include an example. The formatter currently works as follows:

[code]

Currently, the "X" token returns an integer timestamp because it relies on the `timestamp` property of Arrow time objects, which has not been updated to return a float since it predates float timestamp support in datetime. @systemcatch we may need to update the timestamp property to retur

[2019-11-29 21:32] alstomli commented on #709
got it

[2019-11-29 21:34] alstomli commented on #709
got it

[2019-11-29 22:34] alstomli commented on #709
Hi @jadchaar. When I use "x" token, if the utctime looks like '<Arrow [2019-11-29T22:22:57.154000+00:00]>' should the program outputs '1575066177154000' or '1575066177154' do we need to eliminate the zeros in the end?

[2019-11-29 22:42] jadchaar commented on #709
Hmm @systemcatch what do you think? I am leaning on the side of not removing the trailing zeros for the sake of abstraction (e.g. multiply to get milli and micro regardless of whether there are zeros at the end).

[2019-12-03 19:09] skrakowi commented on #697
@jadchaar yes this is what I was referring to. After running and testing the code, it appears that line 892 does not change the utc current time to the local time. It takes the value of the utc current time (for example 19:02) and the local time zone becomes the property of the dt variable. This means that (assuming you are in the Eastern time zone) the difference between the dt and self._datetime

[2019-12-03 20:53] systemcatch opened #725 "Handling of punctuation in string parsing"
I tend to agree, but the only thing that concerns me is that this worked pre 0.15.0 (I chose 0.13.0 for example):
[code]

This is definitely an improvement, but for full pre-0.15.0 behavior while still containing improvements, we probably need to add support for any number of punctuation marks. Curious, why would finite numbers work but not infinite (e.g. with the `+` quantifier in regex)?

_Origi

[2019-12-03 23:54] #701 closed

[2019-12-06 19:38] chimaerase opened #727 "humanize granularity doesn't behave as expected"
## Issue Description

I'd like to use humanize() to print out human (engineer)-readable durations for a potentially long-running data processing pipeline I'm working on.

For my pipeline, the useful precision for duration output depends on how long a given run takes to execute, and can span seconds to hours.  I'd settled on seconds as a useful metric for logging approximate runtime, but humanize()

[2019-12-06 21:53] systemcatch commented on #727
Hey @chimaerase we have a PR open right now (#722) which should solve the `"3 minutes 20 seconds"` part of your question.

As to the first part of your post it's definitely a possible bug in `humanize`, or at the very least surprising behavior. I think it wasn't designed for precision (anything from 10 to 44 seconds returns `seconds ago`) when granularity is `auto`. From the looks of it `granulari

[2019-12-07 21:21] ajdidonato7 commented on #376
I will have a pull request for this change in the next few days

[2019-12-09 20:01] systemcatch commented on #256
Now that #688 has been merged the example I posted above will work!

[2019-12-09 20:01] #256 closed

[2019-12-09 20:05] #716 closed

[2019-12-10 01:00] torioLuz opened #729 "String escape doesn't work"
## Issue Description

If I run `print(arrow.utcnow().format('YYYY-MM-DDTHH:mm:ss[h]'))`, I expect `2019-12-10T00:56:51h` to be returned, but I'm getting `2019-12-10T00:56:51[12]`

## System Info

- 🖥 **macOS 10.13.6**
- 🐍 **Python 3.7.4**
- 🏹 **0.14.4**

[2019-12-10 01:26] jadchaar commented on #729
Hi @torioLuz, support for this feature was added in Arrow v0.15.3:

[code]

Please upgrade Arrow to access these features :).

[2019-12-10 01:26] #729 closed

[2019-12-10 02:23] ajdidonato7 commented on #376
I think what was believed to be a bug was actually expected behavior.

The user made the assumption that '2016-11-06 00:00' should not ceil() to <Arrow [2016-11-05T23:59:59.999999-04:00]> but in reality they are dealing with UTC time, so '2016-11-06 00:00' is actually '2016-11-05 08:00' in the 'America/New_York' time zone (which would ceil() to that value). I have produced output to show that the

[2019-12-10 04:06] markfonte commented on #551
@ajdidonato7  and I think what was believed to be a bug was actually expected behavior.

This stems from the behavior that is described in the index.rst file "replaces the timezone without altering other attributes."

The user clearly shows the change occurring across the Eastern time zone, with
`just_before_eastern = just_before.replace(tzinfo='US/Eastern')
print(just_before_eastern)  # prints 20

[2019-12-10 21:09] mashfy13 commented on #617
Is there any way to optimize the *args and **kwargs lists using Cython? I've been considering how to approach this but it seems like it would be pretty difficult since these lists can have different types based on what is getting passed to the function. I am currently thinking that these two lists would have to remain in their Python implementation.

[2019-12-10 21:17] jadchaar commented on #617
Hi @mashfy13, I am not too familiar with Cython myself, but we created this issue since the old PR became stale after a lack of review: https://github.com/crsmithdev/arrow/pull/414/. You can refer to the PR for a bit of inspiration. It may be best to focus the Cython optimizations on the parsing elements of Arrow since this may be used most often and in bulk.

I wish I could be of more help, but I

[2019-12-11 15:02] #261 closed

[2019-12-12 10:16] aishuchen opened #736 "There is a idea or bug what i want to say"
## Feature Request

I'm sorry my English is poor.
When I used `arrow.get(timestamp, tzinfo=tzinfo)` to get a arrow object,  the `get` method didn't use the param `tzinfo`. So I have to use `arrow.get(timestamp).to('Asia/Shanghai')` and get the arrow object what I needed. Is it a bug?

[2019-12-12 12:10] systemcatch commented on #736
Hello @aishuchen, in #719 I implemented the feature you're looking for on the master branch.

[code]

This feature will be available in the next release of arrow, which will likely happen before Christmas.

[2019-12-13 02:52] aishuchen commented on #736
Got it! Thanks.

[2019-12-14 00:52] Razzeee opened #738 "'datetime.timedelta' object has no attribute 'tzinfo' on windows 10"
## Issue Description

This is a bit specific, but I'm grasping for straws at this point. So I'm using arrow via a kodi script. And it works without problems on linux. A team member tried using my script on windows 10, he get's this stack trace.

[code]

## System Info

- 🖥 **OS name and version**: Running on Windows 10, kernel: Windows NT x86 64-bit version 10.0.18362
- 🐍 **Python version**: 3.7 (

[2019-12-14 01:18] jadchaar commented on #738
Hmm thanks for reporting this, it seems like a very peculiar bug. It seems like `datetime.max` on Windows is producing a `timedelta` for some reason.

@systemcatch if you have a Windows 10 machine with Python installed, mind checking out the output of the following:

[code]

@Razzeee do you know what particular set of actions led to this error occurring?

[2019-12-14 02:35] Razzeee commented on #738
It seems to happen on import, as the stacktrace shows. I don't think any specific logic is running at that point.

here's a finding from another team member, just to log it, feel free to ignore it:
[code]

[2019-12-14 02:40] jadchaar commented on #738
Thanks for the details. Is he able to completely reproduce this for both `datetime.min` and `datetime.max`? Or is it **sometimes** the case that it returns `bytes` and **sometimes** the case that it returns a `datetime.timedelta` object? Also are these two different team members?

[2019-12-14 03:06] Razzeee commented on #738
It's a different team member, but please keep in mind, that we might deal with a bug in the python version we include in kodi. Which might have patches.
I ask him for more info on the sometimes stuff.

Also the first team member I mentioned, had no problems with my script some days ago, then it broke. He might have updated to the latest nightly. I'll let him try an older build, just to make sure.

[2019-12-16 14:49] systemcatch commented on #738
@jadchaar here's the output you wanted, running on Microsoft Windows 10 Home, Version 10.0.17763 Build 17763

[code]

[2019-12-16 16:05] systemcatch opened #739 "Get ready for Python 2 EOL"
Python 2 is reaching EOL in 2020 (https://pythonclock.org/).

Me and @jadchaar have chatted about this before but haven't come to a decision yet. We'd hoped that the DST upgrades would be done before the EOL so Python 2.7 users would at least have access to those improvements. However due to being busy we've not had time to work on that.

An important factor in this decision will be how long travi

[2019-12-16 17:32] hugovk commented on #739
Here's the pip installs for arrow from PyPI for November 2019:

| category | percent | downloads |
|----------|--------:|----------:|
| 3.7      |  36.63% |   722,467 |
| 3.6      |  24.36% |   480,459 |
| 2.7      |  24.06% |   474,529 |
| 3.5      |  12.03% |   237,263 |
| 3.8      |   1.46% |    28,852 |
| null     |   0.88% |    17,421 |
| 3.4      |   0.57% |    11,185 |
| 2.6      |   0.00%

[2019-12-17 11:49] systemcatch commented on #739
Thank you Hugo for the stats and analysis which is very helpful.

I was a little suprised at the 24% still on 2.7 but it seems that is similar or below the usage for other major projects.

We will probably release 0.15.5 before Christmas with a warning about Python 2 deprecation and drop support in 0.16.0 on a date to be determined in this issue.

[2019-12-17 12:32] systemcatch commented on #512
Hey everyone, we're discussing our strategy for Python 2 EOL in #739. You should check it out if you're still using 2.7.

[2019-12-17 22:55] dlopuch commented on #72
FWIW, the way pandas handles DST boundaries on a range/span seems to me to be the right way (ie treat it as absolute hours localized into the timezone, not as a range across local hours). Useful to consider it as a model?

For example, the equivalent of `Arrow.range('hour', ...)` over a DST boundary in pandas would be something like these (in both cases, it's always an hour shift if you consider t

[2019-12-18 00:30] dlopuch commented on #368
Another way of describing this is localizing to a timezone on the timezone's DST boundary actually *shifts* the absolute time.

For example, on the US/Pacific fall DST boundary:

[code]

[2019-12-18 03:25] jadchaar commented on #739
I don't know if we necessarily need to emit a warning about Python 2 deprecation because many people are aware that it is reaching EOL in Jan 2020 and it could end up bothering our Python 2 users (throwback to the 0.15.0 warnings).

[2019-12-18 08:47] jaapz commented on #739
Could you emit a warning on install, instead of when running?

[2019-12-18 09:30] systemcatch commented on #739
I wasn't thinking of having a warning in the code, more a note in the 0.15.5 changelog about the upcoming deprecation.

[2019-12-18 11:08] systemcatch commented on #709
Hey @jadchaar I missed your comment. Errr I think it's probably best to leave the zeros in place.

One point to bear in mind is we are proposing a breaking change with the `X` formatting, we need to be careful doing this.

Current master;

[code]

In #737

[code]

[2019-12-18 12:33] jaapz commented on #739
Would maybe dropping 2.7 support warrant a 1.0 release?

[2019-12-21 13:32] jadchaar commented on #738
Any updates on this @Razzeee?

[2019-12-21 18:44] Razzeee commented on #738
We're investigating, at this point I'm pretty convinced, that it's due to
an implementation bug on our side. The windows guys are still working on it.

You can close this issue for now. Thank you.

On Sat, 21 Dec 2019, 14:32 Jad Chaar, <notifications@github.com> wrote:

[2019-12-21 18:46] jadchaar commented on #738
Please keep us updated :). I will close this for now, but please feel free to re-open it if the issue persists so we can investigate further.

[2019-12-21 18:46] #738 closed

[2019-12-22 20:02] systemcatch commented on #739
Errrr maybe, arrow has been available for 7 years after all. The only thing is it adds some extra maintenance burden on me & Jad plus I was really hoping to get DST fixes in before 1.0.0.

[2019-12-30 03:27] aishuchen commented on #736
I upgraded the `arrow` package, and I found the bug has not been fixed. ps: specia `timestamp` 1575043200

[code]

[2019-12-30 03:59] jadchaar commented on #736
Hey @aishuchen, this fix should come with Arrow v0.15.5. We are nailing down a small bug with our test suite before releasing it, but stay tuned! It should be shipped soon.

[2019-12-30 21:57] #736 closed

[2020-01-01 23:37] #298 closed

[2020-01-02 22:27] #376 closed

[2020-01-02 22:27] #551 closed

[2020-01-03 15:53] systemcatch opened #749 "Refactor .humanize() method and expand usage"
`.humanize()` is getting kind of long and could do with refactoring. We'd also like to explore allowing other inputs such as `date` and `timedelta` objects.

[2020-01-03 16:05] #727 closed

[2020-01-03 16:05] #697 closed

[2020-01-03 16:33] jadchaar commented on #736
Hey @aishuchen, v0.15.5 is now released!

[2020-01-04 17:55] tirkarthi commented on #594
FWIW, the deprecations became error in Python 3.9 itself with https://github.com/python/cpython/pull/10596

[2020-01-06 12:18] FelixSchwarz commented on #739
2 ¢ from a random stranger: Most of my projects did migrate to Python 3 a long time ago but there are (as always) still some important ones using Python 2 (pypy + some enterprise distributions will continue to support Python 2 for quite some time). It would be nice if you could keep Python 2 support unless the maintenance burden becomes too high (e.g. no travis support).
Also I'd appreciate if you

[2020-01-08 20:53] systemcatch commented on #739
@FelixSchwarz while it would be useful for some users, I personally don't want to have to keep thinking about Python 2. Ensuring compatibility and having to backport or miss out on new features in Python 3 all takes time. arrow 0.15.5 is pretty good, many of the longer standing bugs have been ironed out (bar DST).

Good luck with your projects, I hope you find a way to keep the ones on Python 2 go

[2020-01-10 23:45] #594 closed

[2020-01-12 15:43] mackinpuff opened #753 "Unable to handle YYYY/M"
I am going through a list of publications with the help of arrow, some of the dates of which are registered as YYYY/M. Arrow raises a ParserError because this format is not supported.

I've resolved it locally by including YYYY/M and YYYY-M in the parser.py format (row 133 onwards).

[2020-01-12 15:51] jadchaar commented on #753
Hey @mackinpuff, using custom formats is possible by passing in a second argument as follows:

[code]

I think the reason that we don't support this functionality in the `arrow.get` function without a format string is because it can cause ambiguity with dates and is not part of the official ISO 8601 spec.

[2020-01-12 16:01] mackinpuff commented on #753
Thanks for the quick reply. Unfortunately I am retrieving the dates from a
website (google scholar) and do not know beforehand the format a specific
date will have.

I could deal with it through exception handling though (try: ... except
ParserError: try: [insert your suggestion] except: pass).

On Sun, Jan 12, 2020 at 4:51 PM Jad Chaar <notifications@github.com> wrote:

--
Maarten van Schie
+31 (

[2020-01-12 16:04] jadchaar commented on #753
Interesting! If you know a list of all possible date formats ahead of time (probably unlikely, but worth a try), you can also pass a list of potential formats to test against:

[code]

[2020-01-14 11:40] systemcatch commented on #753
Hey @mackinpuff hopefully you've found a solution to your problem, let us know if you need any other help.

[2020-01-14 11:40] #753 closed

[2020-01-26 20:49] epmoyer commented on #256
I know this thread is closed, but for those who stumble across it and are copy/pasting the solution above, please note that if you are trying to render time into ISO 8601 then you'll want the 24 hour formatting option ("HH") rather than the 12-hour option ("hh").  (And if you are not trying to be ISO 8601 compliant then you'll probably want am/pm ("A", or "a") in there somewhere).

**Incorrect (hh

[2020-01-27 12:34] systemcatch commented on #256
@epmoyer glad it helped you, I've corrected my snippet.

[2020-01-28 21:17] systemcatch commented on #512
Quick update, me and Jad have been very busy with life stuff over January hence the lack of activity on the repo.

I've been fixing some the DST bugs on another branch, but progress has been very slow.

[2020-02-10 11:46] antoine-gallix opened #755 "Pandas Timestamp created from Arrow's don't behave correctly"
I've encountered an issue while using Arrow to build panda's Timestamp data type. I've reported the bug on panda's repo but I've received an answer that suggest a solution might be on arrow's side so here I share the link to the issue: https://github.com/pandas-dev/pandas/issues/31793

What is your opinion on where should be the problem resolved? On Arrow's side to make it behave more like a datet

[2020-02-10 11:55] systemcatch commented on #355
We could use https://docs.python.org/3.8/library/calendar.html#calendar.Calendar for this.

[2020-02-10 15:16] jadchaar commented on #755
Hmm it seems to be because we use `dateutil` timezone objects, but Pandas uses `pytz`. Thoughts @systemcatch?

[2020-02-10 19:22] systemcatch commented on #755
Hey @antoine-gallix thanks for the report.

Jad has hit the nail on the head here in that arrow uses `dateutil` everywhere for timezones. It looks like `pandas.Timestamp` supports dateutil tzinfo's already which is good. I'll jump onto the pandas issue and provide some thoughts in a bit.

[2020-02-11 10:44] lazarillo commented on #72
I am not sure if this is the same problem, but I found that I could not subtract times around daylight savings, either.

For example (I am using `pandas`, and hoping everyone knows it well enough).  I have a `DataFrame`, and I have adjusted the start time so that it "works", but I have not adjusted the end time.  Here is a sample around daylight savings (apologies for all the red font, I don't kno

[2020-02-11 18:09] dlopuch commented on #72
@lazarillo honestly, if you're already using pandas and you're doing timezone-aware stuff, just use `pd.Timestamp` everywhere rather than trying to mix arrow into pandas. `pd.Timestamp` handles DST boundaries correctly, and all the pandas stuff like DatetimeIndex, indexing, vector operations, etc. are built using it. The `pd.Timestamp + pd.Timedelta` interface for time shifts isn't as nice as arro

[2020-02-13 11:53] systemcatch commented on #72
Hello @dlopuch, I have a branch locally that is nearly ready to PR which should fix most of the DST issues currently present in arrow (including this issue).

pandas uses pytz internally which may cause some problems ([article](https://blog.ganssle.io/articles/2018/03/pytz-fastest-footgun.html)) when dealing with DST. pandas does not particularly support arrow objects at the moment (see #755 ) but

[2020-02-15 20:17] lazarillo commented on #72
OK, thanks @dlopuch  and @systemcatch .  I'd read somewhere that `pytz` had more issues with it than `arrow` when dealing with these corner cases, but I did not realize / research that `pandas` used `pytz` under the hood anyway.

So I'll just adjust my code to work with `pandas` "purely", and avoid `arrow` in this case.  That's a shame, since I really like how `arrow` works; it's a great API.

I g

[2020-02-17 10:27] systemcatch commented on #72
@lazarillo that's a pity but I hope you'll revisit arrow in the future.

python's datetime module is rather lacking in basic features, but from 3.6+ there have been some improvements.

For reference this is the branch where I'm working on handling DST properly https://github.com/systemcatch/arrow/tree/DST-handling

[2020-02-18 11:02] systemcatch opened #757 "Investigate support for ISO 8601 Durations/Time Intervals"
ISO 8601 allows durations and time intervals, maybe we should consider supporting this in arrow via a separate class or some other method.

https://en.wikipedia.org/wiki/ISO_8601#Durations

This is quite a bit of work so we'd need to know this would actually be useful and used.

[2020-02-24 08:30] lazarillo commented on #72
@systemcatch Yes, I'll definitely revisit arrow (and in fact, I have not pulled it from my flow yet).  I really like it, but I cannot give up the practicality of using `pandas` for this project.

If there is something you want me to help with on your fork, let me know.  I don't have a ton of free time, but I would like to help give back.  :)

[2020-02-25 08:44] jmgurney commented on #757
Why not just parse durations into a timedelta?

Though I guess timedeltas would have to be expanded to support years, months and weeks as those are not part of timedeltas though.

[2020-02-25 08:55] jmgurney commented on #690
confirmed on 3.7.5:
[code]

Looks like possible issue where the fact that the time is in DST (+2), but the standard time offset is the same (+3), so the time gets adjusted (-1 hour), but the DST flag isn't set, leaving it at +3.

[2020-02-25 09:18] jmgurney commented on #509
I haven't looked at the internal code, but this is likely due to:
[code]

Last I checked a day always has 24 hours (except on special days).  The issue is that as the originating timestamps traverse a DST time change, the day is a special day, and when asking the timedelta for total_seconds, it shouldn't return a "full" day's seconds.

Minor nit, on Python 3.7.5 + 0.15.5, I don't see the "correct"

[2020-02-25 10:53] systemcatch commented on #690
@jmgurney this is fixed in #758 which we are hoping to get merged and released in March.

[2020-02-25 15:27] systemcatch commented on #757
That is one option, we could also subclass timedelta to provide better usability and extra methods.

[2020-03-03 17:32] jadchaar commented on #725
We definitely need to figure out a way to make the regex simpler and more general. It would be nice to allow for n number of punctuation marks rather than hardcoding an amount.

[2020-03-03 18:45] jadchaar opened #760 "Replace class setup functions with Pytest fixtures"
Since we recently refactored the tests to use Pytest, it would be nice to convert the existing unittest-style setup/teardown class functions into Pytest-style fixtures. This would lead to better maintainability and compatibility going forward.

An example of the `setup_class(cls)` code that should be replaced: https://github.com/crsmithdev/arrow/blob/master/tests/test_factory.py#L17

[2020-03-04 17:42] jadchaar opened #762 "Add common format strings"
## Feature Request

Pendulum has a nice feature that allows you to make a function call on a Pendulum object to automatically get a pre-formatted, common string (e.g. a cookie time string). See this page for examples: https://pendulum.eustace.io/docs/#common-formats.

[2020-03-05 09:52] dongli commented on #362
It seems `interval` corresponds to `span_range`. What about `range`, when I just need one single value of time, not a tuple?

[2020-03-06 20:13] systemcatch commented on #362
@dongli something like this?

[code]

[2020-03-08 22:32] burritoIand commented on #612
is there a way to be strict about the string being parsed? for instance:
[code]
returns a valid arrow date, whereas I want it to fail since the string contains more than just the datetime string.

[2020-03-28 18:57] krisfremen commented on #760
I'm gonna tackle this issue this weekend.

[2020-03-28 19:44] rbandrews3 commented on #762
Hi, I am interested in working on this issue. I forked the repository, cloned that repo, and ran "pip install -U arrow". It seems to successfully install, but when I try to run some of the test files, I get various errors with import packages. I am wondering if this is normal, or if we have done something wrong in setup.

_Examples of some issues:_
"Traceback (most recent call last):
  File "tests

[2020-03-28 23:22] jadchaar commented on #762
Hey @rbandrews3, by doing `pip install -U Arrow`, you are installing the packaged version from PyPi. Since you are developing the package, you need to simply execute the pytest test cases like this:

[code]

Or, you can use Tox (recommended) since this handles creating the virtual environment and installing the dependencies for you:
[code]
The `tox` step runs linting and runs the tests on availabl

[2020-03-28 23:23] jadchaar commented on #760
Great to have you back @krisfremen!

[2020-03-29 01:36] krisfremen commented on #760
@jadchaar good to be back, pull request ready for review :)

[2020-03-29 19:19] ikoningstein commented on #762
Thanks so much! We got the library running smoothly now. @rbandrews3  and I read through the documentation on the Pendulum common formatting, and want to confirm that this feature requires the implementation of the following functions.

- dt.to_atom_string()
- dt.to_cookie_string()
- dt.to_iso8601_string()
- dt.to_rfc822_string()
- dt.to_rfc850_string()
- dt.to_rfc1036_string()
- dt.to_rfc1123_str

[2020-03-29 19:27] jadchaar commented on #762
You do not have to implement all of them if you do not want to, so you can make a call on which of the functions you would like to implement based on the workload. These functions will most likely live in the Arrow formatter`format.py`.

[2020-03-29 20:33] systemcatch commented on #762
Maybe just start with the most common RFC's and the cookie one.

[2020-03-30 10:51] systemcatch commented on #709
Hey @jadchaar I've been working on implementing this. Currently the format will always default to microseconds, what do you think?

[code]

[2020-03-30 15:43] jadchaar commented on #709
Looks good to me @systemcatch! You are keeping the 0s if there are any in the micro/milliseconds right?

[2020-03-31 14:17] systemcatch commented on #709
Yeah they don't get cutoff.

[code]

[2020-03-31 15:38] jadchaar commented on #709
Looks good! PR those changes!

[2020-04-01 19:12] sawhitt commented on #355
I am interested in working on this, can I look into it?

[2020-04-01 19:33] sawhitt commented on #360
I am interested in working on this, would that be alright?

[2020-04-01 19:43] jadchaar commented on #360
Sure go for it @sawhitt !

[2020-04-01 22:11] systemcatch commented on #709
Implemented in #766

[2020-04-01 22:11] #709 closed

[2020-04-06 21:12] #760 closed

[2020-04-06 23:46] amylavar1 commented on #762
Hi! I'm working on a different issue but had the same question as @rbandrews3 above! I cloned the repo and am trying to figure out how to build it but I am struggling a little - running the make command is not working and I'm not sure if I'm missing any build steps or installations. Do you have steps to share on how to properly build and run the code?

[2020-04-06 23:51] rbandrews3 commented on #762
@amylavar1 after installing arrow, we ran the tox commands that jad posted instead of the make commands and this worked for us! It’s the second comment on this post.

[2020-04-06 23:53] jadchaar commented on #762
@amylavar1 No problem. I should definitely create some getting started documentation in the future, but here is what I recommend:

Rather than cloning the repo, you need to fork it and clone your fork. Once you fork it, you can create a branch on your forked copy of the repo and that is what you can PR into this official repository.

Also, like Rebecca stated, we recommend using Tox as it is cross

[2020-04-08 14:44] remyroy commented on #436
French Canadian here. Formatting date patterns is slightly different in fr_CA compared to fr (fr_FR). You can see it if you compare the date provided by [CLDR](http://cldr.unicode.org/) for instance. There are also a few other minor differences.

See a recent diff [here](https://gist.github.com/remyroy/cc20da064059900eafbeb45367c7a68c).

[2020-04-09 22:26] amylavar1 commented on #762
@jadchaar Hi! So I tried to follow and run the tox commands but I am getting an invocation error when I run tox -e py27.

[2020-04-09 22:28] jadchaar commented on #762
Do you get this error when you just run `tox` without the environment argument?

[2020-04-09 22:35] amylavar1 commented on #762
Yes I get the same errors running tox alone

[2020-04-09 22:38] jadchaar commented on #762
@amylavar1 do you think you can make a new issue thread [here](https://github.com/crsmithdev/arrow/issues) and we can continue this debugging conversation there? In your post, please include a screenshot or a copy of the terminal output you are receiving.

[2020-04-09 22:58] amylavar1 opened #771 "Problem with building - running Tox commands"
I followed the commands I saw in comment thread - installing Tox and then running the tox -e 37 command (the tox command alone gave a lot of environment errors) and there were a ton of issues, but here is the summary:

![Screen Shot 2020-04-09 at 6 57 32 PM](https://user-images.githubusercontent.com/23154272/78947660-ff495a80-7a93-11ea-94d4-b965c911910f.png)

[2020-04-09 22:58] amylavar1 commented on #762
Yup, it's here: https://github.com/crsmithdev/arrow/issues/771

[2020-04-09 23:11] jadchaar commented on #771
Hmm this seems like an issue with your Python/pip installation. Can you try running `make build37` instead rather than using tox? Once you run that, you should be able to run the tests with `make test`.

[2020-04-09 23:16] amylavar1 commented on #771
it worked, thank you so much!

[2020-04-09 23:25] #771 closed

[2020-04-15 23:54] kdeodhar16 commented on #218
My classmate and I would like to take a look at this issue, if it is still relevant. We were thinking about implementing the solution using the shift() function, but wanted to get an opinion and see if it is even a possible approach. Let me know! Thanks!

[2020-04-16 16:09] systemcatch commented on #218
Hello @kdeodhar16, thank you for your interest in contributing to arrow.

A quick look over the code points to `span_range` using [span](https://github.com/crsmithdev/arrow/blob/d6753353002704cdf86e65e59c7c835340723a82/arrow/arrow.py#L740) under the hood. Messing around with the `count` arg gave me something similar to what we'd like to accomplish in `span_range`.

[code]

Maybe we can use this as

[2020-04-17 16:36] amylavar1 commented on #218
Hi @systemcatch, I am working with @kdeodhar16 on this task as well and was actually thinking something similar to this! Looking at how span_range works using span, it seemed to me like the best way to accomplish this is to create a new function that uses .span in the way you did up there and we are now testing what we have to see if it works properly. Thanks!

[2020-04-22 00:19] amylavar1 opened #774 "Comparing Arrow objects"
Is there currently a way to compare arrow objects? For example if I wanted to check if arrow object A was later or earlier than arrow object B?

I'm working on another issue where that functionality would be super helpful, wasn't sure if I was missing something.

[2020-04-24 01:12] Songyu-Wang commented on #749
Hello,
I am bored at home so I decide to take a look at this issue.
After examining the code,
I feel the humanize() is flawed.
[code]
[code]
[code]
    'a minute ago'
[code]
    '0 minutes ago'

Specify granularity should not cause an inconsistent result

[2020-04-24 01:20] Songyu-Wang commented on #749
I feel a better approach is to do something like this:
[code]

[2020-04-27 08:01] jhiver opened #777 "Dateparse using timezone produces error"
## Issue Description

arrow.get('2020-01-01', 'Indian/Mauritius') crashes.

## System Info

- 🖥 *Debian Buster 10 (stable) (docker)
- 🐍 IPython 7.13.0
- 🏹 0.15.5

## Crash output

    In [1]: import arrow
       ...:

    In [2]: arrow.get('2020-01-01', 'Indian/Mauritius')
       ...:
    ---------------------------------------------------------------------------
    error

[2020-04-27 17:05] jadchaar commented on #777
Hi @jhiver, the reason this is happening is because `arrow.get()` with two non-keyword arguments should be used with a datetime string and a format string for parsing (e.g. `arrow.get("2020-01-01", "YYYY-MM-DD")`). If you want to use it for other use cases, like the one you described, you need to pass in a `tzinfo` keyword argument like this:

[code]

We will look into improving the error message

[2020-04-27 17:05] #777 closed

[2020-05-03 11:01] systemcatch commented on #512
0.15.6 has just been released, several new features and bugfixes which I'll describe in the changelog.

[2020-05-03 16:17] kloczek opened #782 "0.15.6: test suite is failing"
0.15.5 was OK.

Python 3.8.2.
[code]

[2020-05-03 16:23] systemcatch commented on #782
Hello @kloczek, with this release we have moved to using pytest instead of nose.

[2020-05-03 16:34] kloczek commented on #782
Thank you very much.

It works now :)
[code]

[2020-05-03 16:34] #782 closed

[2020-05-03 19:42] systemcatch opened #783 "Consider shipping tox.ini with package"
Since `python setup.py test` is now deprecated we should think about adding our tox.ini to releases.

https://github.com/pypa/setuptools/issues/1684
https://github.com/pytest-dev/pytest/issues/5534

[2020-05-06 20:35] systemcatch commented on #739
Latest download data for April.

| category | percent | downloads |
|----------|--------:|----------:|
| 3.7      |  34.55% |   849,440 |
| 3.6      |  28.69% |   705,355 |
| 2.7      |  19.69% |   483,931 |
| 3.5      |  10.34% |   254,070 |
| 3.8      |   5.86% |   144,129 |
| null     |   0.57% |    14,033 |
| 3.4      |   0.28% |     6,851 |
| 3.9      |   0.02% |       395 |
| 3.3      |   0.

[2020-05-06 20:52] #783 closed

[2020-05-14 03:59] krisfremen opened #789 "Floats in humanize output for languages overriding _format_timeframe"
## Issue Description

Doing humanize on languages that override _format_timeframe is spitting out floats instead of integers which is not nice on the eye.

[code]

## System Info

- 🖥 **OS name and version**: Debian Buster(10)
- 🐍 **Python version**: 3.7.3
- 🏹 **Arrow version**: 0.15.6

[2020-05-15 19:02] longavailable commented on #753
I met the same problem when I used [scholarly](https://github.com/OrganicIrradiation/scholarly).
And I solved it by add `"YYYY/M"` to list of "formats" in [arrow/parser.py](https://github.com/crsmithdev/arrow/blob/master/arrow/parser.py).

[2020-05-15 21:14] #436 closed

[2020-05-19 20:35] systemcatch commented on #739
After some internal discussions we have come up with the following plan.

Python 2.7 and 3.5 will be dropped after 2020-09-13 (this is Python 3.5's [eol date](https://devguide.python.org/#status-of-python-branches)), this is simpler for us than cutting out 2.7 code only right now.

Also the next version after this drop will be 1.0.0 :partying_face:

[2020-05-19 20:40] systemcatch commented on #739
Things to do in 2.7/3.5 drop

- [ ] Convert all formatting to f-strings
- [ ] Implement type checking
- [ ] Remove all future imports
- [ ] Remove any remaining python 2 import shadowing
- [ ] Audit and overhaul requirements file
...more to be added

[2020-05-31 18:34] manos opened #795 "Parsing ms and us int/float timestamps in arrow.get"
## Issue Description

Reading the docs, I should be able to supply a timestamp in milliseconds or microseconds, formatted as an int or float. When I pass a millisecond timestamp, I get ValueError - it only seems to work with seconds.

Expected:
[code]

Actual:
[code]

## System Info

- 🖥 **OS name and version**: OS X 10.15.4
- 🐍 **Python version**: 3.7.6
- 🏹 **Arrow version**: 0.15.6

[2020-05-31 18:48] systemcatch commented on #795
Hi @manos I don't think that is possible right now, timestamps (int or float) only work in seconds. However parsing a mili/microsecond timestamp string will work.

[code]

Currently the formatting part will always show microseconds.

[2020-06-01 12:24] jadchaar commented on #795
This seems to be related to our expanded timestamp logic only being limited to the control flow for parsing strings @systemcatch: https://github.com/crsmithdev/arrow/blob/e7a567628092f16189b0f9f5247d67fbff899ce5/arrow/parser.py#L414-L430.

We should decouple this functionality into a separate static method in `arrow.py` and make a call to it in all timestamp parsing cases (int, float, formatting s

[2020-06-05 03:25] krisfremen commented on #739
Excellent.

I'm going to start at least some parts to prepare for this.

[2020-06-09 08:15] comfuture opened #803 "Korean local can broken when humanize() `n weeks` timeframe."
## Issue Description

Korean local does not contains key "week" and "weeks" of timeframes, so It's possibly met a ValueError when trying to format n weeks timeframe.

and some of korean translation seems wierd, so need to fix it. I'll try some

## System Info

- 🖥 **OS name and version**: all
- 🐍 **Python version**: all
- 🏹 **Arrow version**: 0.15.6

[2020-06-09 21:39] systemcatch commented on #541
The regression test for this issue very occasionally fails (see https://github.com/crsmithdev/arrow/pull/799/checks?check_run_id=742912216) which is annoying as it would break installs. Seems to happen only on Windows but no idea why yet.

/cc @jadchaar @krisfremen

[2020-06-11 04:41] oakt commented on #446
Can we work on this bug?

[2020-06-11 04:42] oakt commented on #421
Can we work on this?

[2020-06-11 04:43] oakt commented on #355
Can we work on this?

[2020-06-11 05:18] jadchaar commented on #355
Hey @oakt, if you’d like to contribute this change, PRs are welcome :).

[2020-06-12 21:48] #795 closed

[2020-06-15 08:29] impact27 opened #807 "Extend parse_iso to accept '2020-06-10 14:33:23.489 +0200'"
## Feature Request

I would like
[code]
To work. For now it doesn't like the second space. It would be easy for me to fix this but it kind of looks like this is something that should work.

I understand that it might not be striclty ISO 8601 compliant but the following comment suggest that the function is a bit more inclusive:
https://github.com/crsmithdev/arrow/blob/0a37fa5643ed2a0fe7714854fc3d91

[2020-06-15 08:39] impact27 commented on #807
For reference, this is the format used by micromanager:

https://github.com/micro-manager/micro-manager/blob/9e32d4c66b1fdf3bf038994a016dc5449f108cc1/mmstudio/src/main/java/org/micromanager/acquisition/internal/DefaultAcquisitionManager.java#L58

[2020-06-15 10:24] impact27 commented on #807
PS: This is also the format used in the doc at https://arrow.readthedocs.io/en/latest/:

[code]
but on my computer I don't get the space so it might be an error in the doc:
[code]

[2020-06-15 22:41] systemcatch commented on #807
Hello @impact27, we've thought about adding white space normalization before (#421) but I guess this is slightly different.

I'm not opposed to adding support for this as it's a reasonable format but we need to avoid breaking too much stuff in the parsing methods. The snippet from the docs is wrong and needs fixing.

[2020-06-16 19:36] #803 closed

[2020-06-16 19:51] systemcatch commented on #807
Hey @impact27 just checking you know that custom formats can be passed to arrow?

[code]

You can also escape special characters (i.e. regex) using `[ ]`
[code]

[2020-06-17 07:01] impact27 commented on #807
Thanks for the tip about regex :) I think that if arrows accept `'2020-06-10 14:33:23.489+0200'` in addition to the `T` notation of ISO 8601, it would make sense to accept a space before the time zone as well. I am using `"YYYY-MM-DD HH:mm:ss.SSS Z"` in my code for now.

[2020-06-19 15:32] MaximBazarov opened #809 "AttributeError: module 'arrow' has no attribute 'FORMAT_RFC3339'"
## Issue Description
Hi there, I'm trying to use the code from the documentation, but get this weird error

[code]

[code]

## System Info

- 🖥  macOS 10.15.1
- 🐍 Python 3.7.7
- 🏹 0.15.6

[2020-06-19 15:41] jadchaar commented on #809
Hi @MaximBazarov, apologies for this. This is a feature in the upcoming 0.15.7 release: https://github.com/crsmithdev/arrow/pull/810, which should hopefully be released today if all goes well. Stay tuned. We need to work on making our docs update based on package versions :).

[2020-06-19 15:41] #809 closed

[2020-06-20 17:08] jadchaar commented on #807
Glad to hear you found a solution with a custom format string. Regarding this issue, I am going to close it since it is very similar to https://github.com/crsmithdev/arrow/issues/421.

Also, we are looking to keep the `parse_iso` function (the function that is called when `arrow.get()` is invoked with one argument and without a format string) primarily focused on ISO 8601 formats. When we say "sup

[2020-06-20 17:08] #807 closed

[2020-06-22 00:14] mohtamba commented on #789
I would be interested in fixing this issue.

[2020-06-22 06:01] krisfremen commented on #789
Hmm, I must've not pushed my fixes. I have two fixes, one of which breaks some tests due to ints vs floats.

Will push soon.

[2020-06-26 20:51] systemcatch commented on #762
Done in #791

[2020-06-26 20:51] #762 closed

[2020-06-27 05:17] jadchaar commented on #739
### May 2020 stats from `pypistats`

| category | percent | downloads |
|----------|--------:|----------:|
| 3.7      |  33.23% |   817,458 |
| 3.6      |  29.29% |   720,332 |
| 2.7      |  18.88% |   464,420 |
| 3.5      |   9.39% |   231,028 |
| 3.8      |   8.14% |   200,139 |
| null     |   0.65% |    16,049 |
| 3.4      |   0.39% |     9,653 |
| 3.9      |   0.02% |       464 |
| 3.10     |

[2020-06-27 09:56] systemcatch commented on #739
Rough guide to version usage - https://libraries.io/pypi/arrow/usage

[2020-06-29 13:08] mdxs commented on #757
Perhaps https://pypi.org/project/isodate/ provides some ideas on how this could be supported?  Both formatting and parsing would be features I would like to see in Arrow if possible.

[2020-06-30 11:50] mesemus opened #815 "Week granularity not found in czech locale"
## Issue Description

CzechLocale does not contain "week" and "weeks" timeframes. I'll add a pull request if it helps.

[2020-07-01 06:18] akshayah3 commented on #343
`>>> arrow.now(pytz.timezone('Asia/Calcutta')).tzinfo.zone`
`'Asia/Calcutta'`

@nugend @andrewelkins I am trying to reproduce this but unable to get the above output. The tzinfo call returns a tzfile which doesn't have a zone attribute

[2020-07-01 19:01] systemcatch commented on #343
Hi @akshayah3 arrow now uses dateutil tzinfos everywhere which is why the example code no longer works.

[2020-07-02 00:24] jadchaar commented on #343
Reopening this issue so that we get this addressed.

[2020-07-02 04:43] akshayah3 commented on #343
So is there a way in arrow to get the full time zone string like `Asia/Kolkata`?

Right now I am doing a hack where I parse the tzfile string to get this

[2020-07-02 10:14] systemcatch commented on #343
There is an issue about implementing support for this (https://github.com/dateutil/dateutil/issues/76) in the dateutil repo. I might take a look at doing it since it's a useful feature.

Until then you'll have to rely on parsing the tzfile name.

[2020-07-02 12:58] mkumar118 commented on #495
hi @jadchaar

unfortunately I am faced with the same issue, here are my details:

`mkumar@ip-172-16-1-151:/var/www/archive$ lsb_release -a
No LSB modules are available.
Distributor ID: Debian
Description:    Debian GNU/Linux 10 (buster)
Release:        10
Codename:       buster
mkumar@ip-172-16-1-151:/var/www/archive$ pip -V
pip 20.1.1 from /usr/local/lib/python2.7/dist-packages/pip (python 2.7)
m

[2020-07-03 05:51] jadchaar commented on #495
Hi @mkumar118, I recommend removing `arrow`, `backports` and `backports.functools_lru_cache` globally and installing them in a virtual environment. This issue seems to stem from having backports installed globally and this conflicts with the local usage in a venv.

[2020-07-03 09:27] #815 closed

[2020-07-03 15:54] mkumar118 commented on #495
Hi @jadchaar
thanks for your input. In my case, setting up a virtual env wouldn't work because these modules are used by a web2py application. If I set up a virtual env, I'll have to modify the entire framework.
For now, my issue is resolved by uninstalling the latest versions of `arrow` and `backports` and installing version 0.12.0 of `arrow` globally.

thank you,

[2020-07-03 19:44] systemcatch commented on #360
#772 was a good try at implementing this functionality but it failed to account for any locales other than English. Future attempts at this should take into account that many languages don't separate with spaces (Chinese, Japanese) and don't always have a value followed by a unit (Swedish).

[2020-07-05 18:51] virresh opened #818 "Support for capitalisation in date formatting"
## Feature Request
In glibc strftime, we have the `^`  operator which provides this functionality. However, it's not cross-platform, and surprisingly there exists no clean way to uppercase alphabets in Windows. I have faced this issue and am looking for an alternative that will allow me to do this in a platform-agnostic way. It is supported out of the box by Java's `String.format()`.

PS: I can't

[2020-07-05 19:05] jadchaar commented on #818
Thanks for the feature request @virresh. Until support for this is added, would the following solution work for your use case?

[code]

[2020-07-05 19:17] virresh commented on #818
Thanks for the prompt response!
Unfortunately, that wouldn't be sufficient. The server url is configurable entity, so I cannot be sure that the date needs to be inserted between "www.example.com/" and "/file.csv".

There are cases such as:
[code]

My current workaround is to write a custom regex-based parser with if-else for the desired format strings (year, month and day family)

I'm not sure if

[2020-07-05 23:33] jadchaar commented on #818
If you would like to craft a PR, that would be much appreciated. I think an implementation that adds a flag to arrow.format() may be best. A solution that allows users to specify which token they want capitalized may be best, but we can maybe start with a flag that capitalizes the entire format string.

[2020-07-07 14:52] systemcatch commented on #818
So this would affect the `MMM`, `MMMM`, `DDD` and `DDDD` tokens (also `A/a`?).

Without seeing your code it's hard to know how to solve the second problem. You could try breaking the date components apart for flexibility but maybe that doesn't help much.

[code]

[2020-07-07 19:01] virresh commented on #818
Yes, these are the ones I can think of.

I don't think that the regex solution would be of any help since most likely a custom python format string specifier would be required (not sure, guessing only). But using Glibc extension in linux systems, I can provide an idea of how that should look:
(the pre-defined templates will need to be changed when using arrow, but general idea of workflow would be

[2020-07-08 17:19] #305 closed

[2020-07-08 17:44] systemcatch commented on #446
I tend to think this shouldn't work at all, @jadchaar what do you think?

[2020-07-09 19:58] virresh commented on #818
Update: I fiddled around with custom format strings, and turns out a wrapper is much much more convenient for my purposes.

Here is a snippet of my wrapper:
[code]

[2020-07-09 22:11] systemcatch commented on #818
@virresh nice that you've found a solution.

As a bare minimum we should update the docs to mention that things like `AUGUST/AUG` will parse using `MMMM/MMM`. At the moment that's not clear.

[2020-07-10 00:47] jadchaar commented on #818
Yeah I think we use `re.ignorecase` in most regex statements involved with parsing.

[2020-07-11 20:16] jadchaar opened #819 "Audit and improve docstrings"
## Issue Description

In preparation for the v1.0.0 release, we should audit all the docstrings in the package to make sure they conform to the [Sphinx docstring standards](https://sphinx-rtd-tutorial.readthedocs.io/en/latest/docstrings.html).

We should make sure `:param:` and `:return:` are included at the very least on every function, including internal utility functions. Type documentation may

[2020-07-11 20:24] jadchaar commented on #446
This is a peculiar use case, but I nonetheless put a quick patch together to fix it.

[2020-07-12 04:21] jadchaar commented on #675
Reopening this issue as the old patch was reverted due to DST issues. Currently, the negative timestamp tests are being ignored on Windows: https://github.com/crsmithdev/arrow/blob/6c74b8c84eded5d50bb97120972322da4586b481/tests/test_parser.py#L243-L257, but it would be nice to support this on Windows through the use of timedeltas (ref: https://stackoverflow.com/q/36179914/)so we have feature parit

[2020-07-14 19:15] #446 closed

[2020-07-14 19:49] #541 closed

[2020-07-18 21:25] systemcatch opened #825 "Consider backporting PEP 615"
Just to make clear, [`backports.zoneinfo` already exists](https://pypi.org/project/backports.zoneinfo/) and in Python 3.6+, I (as the maintainer of `dateutil` and the creator of PEP 615) highly recommend you use it whenever possible. The "backport" I'm referring to is that I'm planning to take the underlying logic from the pure-Python implementation of `zoneinfo` and move it into `dateutil.tz`, to

[2020-07-23 04:02] workingenius opened #829 "Consider handling incomplete dates and times"
## Feature Request

In our project working on plain texts, we encounter many dates like "2017-05", "August 3rd", which contains only partly information. When I do `arrow.get("2017-05")`, it would be `<Arrow [2017-08-01T00:00:00+00:00]>`. The lack of day is handled by adding a default value to be "01", and we even could not know it was originally incomplete.

But we want the "lack of information" t

[2020-07-23 08:08] systemcatch commented on #739
@jadchaar @krisfremen stats for June.

| category | percent | downloads |
|----------|--------:|----------:|
| 3.7      |  33.26% |   830,076 |
| 3.6      |  31.15% |   777,558 |
| 2.7      |  15.63% |   390,187 |
| 3.8      |   9.69% |   241,944 |
| 3.5      |   9.11% |   227,414 |
| null     |   0.76% |    18,985 |
| 3.4      |   0.34% |     8,401 |
| 3.9      |   0.03% |       730 |
| 3.10

[2020-07-24 03:42] jadchaar commented on #829
Hi @workingenius thanks for reaching out. You could potentially specify a custom format string and if data is missing, a `ParserMatchError` will be raised:

[code]

You can even pass a list of formats to `arrow.get` and if none of them match, a `ParserMatchError` is raised:
[code]

You can then wrap this call in a try/except or keep these "faulty" date strings in a data structure to handle them la

[2020-07-24 05:29] anishsane commented on #537
I stumbled upon this problem on a raspberry-pi+kodi setup.
pip install was giving me problems. (I might have messed up because of python 2.7 and python 3 pip install attempts)

Finally, this option worked correctly:
`apt-get install python-backports.functools-lru-cache`
(Adding it in case anybody benefits from this comment.)

[2020-07-24 05:31] jadchaar commented on #537
Thanks for sharing @anishsane. This is an elusive issue that we are not able to nail down. We talked with the creator of the lru cache backport (who also happens to also be a maintainer of setuptools) and he was unable to figure out the fundamental problem as well. Glad you found a workaround!

[2020-07-25 08:41] workingenius commented on #829
@jadchaar Thank you for your advice. I'll try specifying format strings and `ParserError`.

But, once the Arrow object is initiated successfully, the incomplete info are missed, like "if it was an incomplete date", and "which part were unknown". Of course, I can create my own class encapsulating those information along with an Arrow object, but it looses all methods that arrow supports, e.g. they

[2020-07-25 17:04] jadchaar opened #832 "Migration Guide for v1.0.0"
As we ready the v1.0.0 release of Arrow, we should add a migration guide that outlines the changed APIs and funtionality.

[2020-07-25 18:20] jadchaar commented on #829
I talked with @krisfremen and @systemcatch and we think this is functionality best kept to the user since it is a niche use case and official support will require big changes to the API that Arrow provides. We think subclassing Arrow to expand its functionality may be the best course of action here.

This kind of ties in with the idea of fuzzy parsing (https://github.com/arrow-py/arrow/issues/409)

[2020-07-25 18:20] #829 closed

[2020-07-25 18:21] jadchaar commented on #829
If you would like to contribute this feature to Arrow though, we'd be happy to review the PR.

[2020-07-26 22:58] #421 closed

[2020-07-27 22:49] systemcatch opened #834 "Consider changing __repr__ for Arrow"
Here are the current str and repr methods for Arrow.

[code]
`__str__` should be human readable which I think is achieved, however `__repr__` is designed for debugging and therefore needs to be explicit. It's also nice (but not required) if the `__repr__` can be instantiated into a new object.

This would be a breaking change so fits well for 1.0.0 if we decide to do it.

[2020-08-11 20:54] westhomas opened #835 "Could not parse timezone expression "PDT""
## Issue Description

I'm sure I'm doing something wrong, but I only see three timezone parsing options available to me (ZZZ, ZZ, and Z) and none of them seem to work.  I believe ZZZ is the correct one to use, but it complains.

What's the proper way of parsing the PDT timezone?

[code]

FYI, this is a date that gmail's IMAP is handing me in my email messages.

## System Info

macOS 10.15.5 (19F10

[2020-08-12 01:50] workingenius commented on #829
Yeah, I also think it will bring a big change on current API. The code may even no longer "look like arrow".

A simple example, binary compare operators are not going to work. ">" "<" can only return True or False, which has no place to hold "Unknown". So we must change it to something like:

[code]

Or if it's a little refined:

[code]

Even `__equal__` will be no longer naive. What if `incomplet

[2020-08-12 02:36] jadchaar commented on #835
Hmm this seems to be due to our dependency, dateutil, not being able to properly map PDT to an offset:

[code]

Because `gettz` returns `None`, Arrow throws an error complaining that the timezone is invalid.

This seems to be related to https://github.com/dateutil/dateutil/issues/932 and https://github.com/dateutil/dateutil/issues/575, and the fundamental issue that PDT can be an ambiguous abbrevi

[2020-08-12 22:21] systemcatch commented on #835
Unless dateutil alters how these abbreviations are parsed (unlikely given past discussions) the only way round this is the fixes Jad mentioned.

Interestingly `GMT` works and will override a fixed offset.

[code]
We should update the docs for the `ZZZ` token with an explanation why things like `PDT` don't work.

[2020-08-13 14:49] westhomas commented on #835
Thanks for all the details! I just removed it from my string as workaround. I agree it would be nice to have the docs updated.

[2020-08-15 16:13] #835 closed

[2020-08-19 11:32] ZeusFSX opened #837 "Add support for parsing natural language dates"
## Feature Request

Can add some tokens in table **Supported Tokens**  for parsing the type of date: _"yesterday"_, _"today"_, _"month ago"_, etc?

[2020-08-19 16:01] jadchaar commented on #837
This seems directly related to #360. We recently got a PR adding support for this (https://github.com/arrow-py/arrow/pull/772), but it did not account for locales and became inactive, so we decided to close it. If you would like to submit a PR for this, using https://github.com/arrow-py/arrow/pull/772 as a template, we would love to review it.

[2020-08-19 16:01] #837 closed

[2020-08-20 02:38] cnkailyn opened #838 "Hope to support an api like auto_parse(time_str)"
## Feature Request
Hope to support an  api like auto_parse(time_str)

when i use arrow in web spider project, i hava to parse the datetime string to a datetime object, and do other handle. but the datetime string always like '2018-05-14',  '2018-05-4',  '2018-05-14', 'Mar, 05, 2020', 'February 2020', '2020-08-17 00:20'...,so i hope to have an api like auto_parse(time_str) to parse out all kinds of

[2020-08-20 02:48] jadchaar commented on #838
Hi @cnkailyn, an automatic parsing function like this is hard to create since there are a number of ambiguous date formats. Calling `arrow.get()` with a single string argument only works with [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date formats (and a few other unambiguous combinations).

You can, however, pass a list of formats as a second argument. Arrow will then iterate through thes

[2020-08-20 02:59] cnkailyn commented on #838
thanks, it's works although not smart.

[2020-08-20 02:59] #838 closed

[2020-08-20 03:08] jadchaar commented on #838
I wish there was a better solution to this, but with web scraping especially, it is hard to create a large database of all the possible date and time formats that can be used. That is something we need to delegate to users to prevent bloating the package.

[2020-08-22 22:17] systemcatch opened #840 "Implement remaining datetime methods"
We need to implement `toordinal()` and `fromordinal()` along with the new `timestamp()` method.

Also our `isoformat()` method should be updated to include the `timespec` arg.

[2020-08-23 20:52] jadchaar opened #842 "Range gives inconsistent results for month end"
## Issue Description

[code]

When months in a range end on different dates (e.g. January and February), the range seems to continue with the end date of the previous month.

## System Info

- 🖥 **OS name and version**: macOS 10.15.6
- 🐍 **Python version**: 3.8.5
- 🏹 **Arrow version**: 0.15.8

[2020-08-23 20:55] jadchaar commented on #842
This issue may occur as well with years since leap years can increase the number of days in a year.

[2020-08-25 20:12] systemcatch commented on #739
Stats for July.

| category | percent | downloads |
|----------|--------:|----------:|
| 3.6      |  34.66% |   805,401 |
| 3.7      |  30.45% |   707,620 |
| 2.7      |  15.81% |   367,493 |
| 3.8      |  11.07% |   257,144 |
| 3.5      |   6.99% |   162,342 |
| null     |   0.66% |    15,245 |
| 3.4      |   0.31% |     7,306 |
| 3.9      |   0.04% |     1,037 |
| 3.10     |   0.01% |       201

[2020-08-29 21:02] pganssle commented on #686
I would note that changes to this behavior would mean arrows are no longer drop-in replacements for datetime, as this is a deliberate (if, in some cases, counter-intuitive) property of `datetime`.

See [this article on datetime arithmetic](https://blog.ganssle.io/articles/2018/02/aware-datetime-arithmetic.html) for more details.

[2020-08-30 10:00] mattiaverga opened #848 "humanize() rounding problem"
## Issue Description
Not sure if this is wanted or a bug. `humanize()` returns "a week ago" for deltas < 7 days.
For example:
[code]
I would expect "a week ago" to be returned after 7 days have passed.

## System Info

- 🖥 **OS name and version**: Fedora 32
- 🐍 **Python version**: Python 3.8.5
- 🏹 **Arrow version**: arrow 0.16.0

[2020-08-30 15:31] systemcatch commented on #686
In that case we can close this as there is nothing to really fix here.

[2020-08-30 15:31] #686 closed

[2020-08-30 16:27] pganssle commented on #686
Well, I just meant the arithmetic part of it. The proposal here is not entirely clear IMO, but anything using arrow-specific methods won't affect compatibility with datetime.

There might be room for some sort of "absolute time difference" method, or custom timedelta types that encode whether or represents an absolute or calendar difference.

Also, pendulum did abandon this particular but of compa

[2020-08-30 16:38] jadchaar commented on #848
It seems that the `humanize` function was originally designed with impreciseness in mind to give ballpark estimates for humanized date/time formats. That said, I think it would be nice to add an `exact` or `precise` keyword argument to allow users to choose which type of functionality they want, and we can adjust the bounds appropriately. What do you think @systemcatch ?

[2020-08-30 20:58] systemcatch commented on #686
Yeah maybe we could implement some custom timedelta types, possibly as part of adding support for ISO 8601 durations.

[2020-09-16 17:10] #72 closed

[2020-09-18 10:16] systemcatch commented on #72
Hopefully most of the bugs mentioned in this issue have been solved now. We will release 0.17.0 with these fixes asap.

[2020-09-24 14:28] NestorTejero opened #851 ""dddd" and "ddd" tokens no longer support different capitalisations from 0.15.8"
## Issue Description

From the [0.15.8 release](https://github.com/arrow-py/arrow/releases/tag/0.15.8 ), the `dddd` and `ddd` tokens are not case insensitive. For this, only proper capitalisations work: 'Monday' in English, 'lunes' in Spanish and so on. Any different capitalisation breaks on [`DateTimeParser._parse_token()`](https://github.com/arrow-py/arrow/blob/0.15.8/arrow/parser.py#L320).

For

[2020-09-24 21:48] jadchaar commented on #851
Ah yes, this is indeed a bug. We originally handled this fully in regular expressions, but to fix a day of week bug we needed to resort to this technique instead. I just posted a PR to fix this by normalizing the strings before checking.

[2020-09-25 14:05] Google-Autofuzz opened #854 "Weird exception when using arrow.get on malformed string"
I'm getting an exception from `re` when running the following script on the attached output:

[code]

[clusterfuzz-testcase-minimized-fuzz_get-5739607865688064.txt](https://github.com/arrow-py/arrow/files/5283269/clusterfuzz-testcase-minimized-fuzz_get-5739607865688064.txt)

[code]
I would be nice to catch it, and to raise an `arrow`-related exception instead.

## System Info

- 🖥 **OS name and ve

[2020-09-26 16:43] #851 closed

[2020-09-26 16:54] jadchaar commented on #854
Thanks for reporting this. As part of a fix, we should probably do the following:

- [ ] Audit regular expression logic to ensure that we are escaping in all control paths (at least, whenever possible)
- [ ] Wrap `re`-related exceptions in an `ArrowParserError`

[2020-09-26 20:02] systemcatch commented on #842
Fixed in #844

[2020-09-26 20:02] #842 closed

[2020-09-28 22:32] jadchaar opened #856 "Add flake8 checks for annotations"
## Feature Request

As part of the Python 2.7/3.5 deprecation PR https://github.com/arrow-py/arrow/pull/800, we are adding type annotations. It would be nice to add a flake8 plugin that helps with annotations (e.g. reminds us to place them, static type checking, etc).

[2020-09-30 10:12] systemcatch opened #857 "Use strptime tokens internally for parsing ISO 8601 week dates"
Available once we drop Python 2.7

https://github.com/arrow-py/arrow/blob/master/arrow/parser.py#L414

[2020-10-02 09:56] Google-Autofuzz opened #860 "TypeError when using arrow.get on malformed string #854"
I'm getting a `TypeError` exception when running the following script on the attached output:

[code]

[clusterfuzz-testcase-minimized-fuzz_get-5667779260841984.txt](https://github.com/arrow-py/arrow/files/5317182/clusterfuzz-testcase-minimized-fuzz_get-5667779260841984.txt)

[code]

## System Info

- 🖥 **OS name and version**: Linux x64 (Debian)
- 🐍 **Python version**: 3.8.5
- 🏹 **Arrow version**

[2020-10-02 17:55] jadchaar opened #861 "Remove Python 2.7/3.5-specific pragma or skipif statements"
There are a few places in our codebase where we ignore code coverage (`pragma: no cover`) due to skipping tests on older Python versions. We need to remove these along with skipif statements that are specific to Python 2.7/3.5.

[2020-10-07 01:24] kloczek opened #864 "Tox lint failing when run from dist tarball (non-git repo)"
[code]

[2020-10-07 01:33] jadchaar commented on #864
Hi @kloczek, it seems like the lint command is failing due to an issue with git not being installed:

[code]

Would you mind taking a look at the `pre-commit.log` file to see if there is any extra information regarding this issue?

I just ran`tox` on my end with success:
[code]

[2020-10-08 03:46] jadchaar commented on #864
Feel free to re-open this issue if the errors persists, but I am going to close this for now.

[2020-10-08 04:18] jadchaar opened #866 "Support ZoneInfo timezones"
## Feature Request

It would be nice to allow for `ZoneInfo` objects to be passed into arrow as an alternative to dateutil timezones.

A `backports.zoneinfo` package is available that supports Python 3.6+ https://pypi.org/project/backports.zoneinfo/. We'd also need to bundle in the `tzdata` package to enable timezones on Windows with ZoneInfo: https://pypi.org/project/tzdata/.

[2020-10-08 15:47] jadchaar commented on #864
After looking into this more, it seems like you have downloaded the tar from PyPI https://pypi.org/project/arrow/#files and extracted it before running tox. It makes sense that `lint` would fail since it uses pre-commit hooks, which do not work outside of a git repository. We should probably enlist a standalone solution for linting outside of a git repo.

[2020-10-08 21:03] systemcatch commented on #866
Linked to #825

[2020-10-08 22:41] kloczek commented on #864
I'm sorry that I did not reply sending log but I was a bit busy :/

[2020-10-09 16:30] jadchaar commented on #864
No problem. Since we rely on pre-commit for linting, it might be best if we just check for the presence of a git repo (e.g. `.git` folder), and if we don't find it, just pass the lint command.

[2020-10-10 12:15] CatNofishing opened #867 "Please support time str or any params that arrow.get can sparse to replace datetime expression in Arrow.range"
I notice that Arrow.range Arrow.span_range or other method  only can sparse Arrow or datetime object,  i thinks this is  unconvenient.  If  it can sparse any expressions that arrow.get can sparse, it  is will be good.
![image](https://user-images.githubusercontent.com/33288114/95654808-219c5d80-0b35-11eb-82fe-397ea0c6f2b6.png)

Last, i think it is good to add all Arrow class method  api to arrow.a

[2020-10-13 09:35] systemcatch commented on #867
Hi @CatNofishing, we're not planning on changing the accepted inputs for `range` or `span_range`. I can take a look at changing some `arrow.Arrow.` imports to `arrow.`

[2020-10-13 09:35] #867 closed

[2020-10-14 03:33] #860 closed

[2020-10-14 03:33] #854 closed

[2020-10-17 14:07] kloczek opened #869 "0.17.0: test suite is failing"
I've skipped all bug rapot details because all is in tox output.
Looks like tox test suite cannot be used with dist tar ball and want to be executed in git tree.
How to remove that pre-commit test on which everything is failing?
100% tests are OK axcept that pre-commit.
[code]
[code]

[2020-10-17 15:46] jadchaar commented on #869
Hi @kloczek, I am closing this in favor of your other post https://github.com/arrow-py/arrow/issues/864.

The solution to this is to only run the test suites: `tox -e py27,py35,py36,py37,py38,py39 --skip-missing-interpreters`. I am thinking of a way to elegantly add linting to tox since we rely on pre-commit for it.

[2020-10-17 15:46] #869 closed

[2020-10-17 17:07] kloczek commented on #869
As I'm working on multiple packages I forgot to add to my spec refference to the prev ticket :/
My fault.
Sorry.

[2020-10-17 17:11] jadchaar commented on #869
No problem! This issue has been on my mind, and I am still trying to figure out the best solution. I wish there was a way to skip test environments easily in Tox. Do you know of a way to do this @kloczek ?

[2020-10-17 17:38] kloczek commented on #869
With suggested in ypour prev comment command `tox -e py27,py35,py36,py37,py38,py39 --skip-missing-interpreters` you gave me hint what I need to modify to not have `lint` executet on running my standard tox command which I'm trying to use across all my python packages which are using tox in test suite framework which is `tox --skip-missing-interpreters`.
I've just added to my package patch:
[code]

[2020-10-17 17:46] jadchaar commented on #869
Ah yeah, I guess that makes sense. I am going to remove lint and docs targets from the default `tox` command since they are primarily used in CI. I will submit a PR to get this fixed. Thanks for bringing it up!

[2020-10-17 21:23] msarrel opened #871 "Range() doesn't work properly on twenty-five hour days"
## Issue Description

The `range()` method does not work properly on days with 25 hours in them when we switch from daylight savings time to standard time.

I would expect this fragment of code to produce a list that has twenty-five elements.
[code]

But, the list contains only twenty-four entries.  If we look at the first few entries, we can see that `2001-10-28T02:00:00-07:00`, corresponding to

[2020-10-18 09:32] systemcatch commented on #871
Hi @msarrel thanks for the bug report.

arrow has now implemented [PEP 495](https://www.python.org/dev/peps/pep-0495/) for all tzinfos that it uses. This allows us to work with ambiguous (same clock, different offset) datetimes.

With your example;

[code]

So the result for your range method is correct, however it would be nice to be able to pass `fold` as a kwarg to `arrow.get()`.

[2020-10-18 20:06] msarrel commented on #871
Thank you for telling me about the `fold` option.  That is useful.  But, I'm still not completely convinced on the correctness of the `range()` result.  I think that `range()` should return a list of 25 values for 2001-10-28.

[code]

Currently, `range()` works correctly in two of the three cases.  That is for short (23 hour) and normal (24 hour) days.  I'd like it to work correctly for long (25 h

[2020-10-18 21:32] msarrel commented on #871
Another way to illustrate is this code:

[code]

It produces the expected 25 hour result.
[code]

[2020-10-19 09:01] systemcatch commented on #871
Yes there's plenty of room for slip ups with how complex this stuff can get. Given how python represents ambiguous datetimes it's not easy or necessary to implement this change.

However it's worth adding the `fold` kwarg to `arrow.get()`.

[2020-10-19 09:15] systemcatch opened #872 "Allow fold kwarg in arrow.get()"
Currently there is no way to specify which side of an ambiguous datetime we want when creating with `arrow.get()`. It'd be nice to be able to do the following.

[code]

[2020-10-20 04:01] #864 closed

[2020-10-26 10:48] systemcatch commented on #871
Given that there's been no further discussion and we're not planning on making any changes here I'll close this.

[2020-10-26 10:48] #871 closed

[2020-10-27 23:43] ashleysommer opened #874 "Pinned `pytz` version is not latest"
## Issue Description

The `pytz` library in [`requirements.txt`](https://github.com/arrow-py/arrow/blob/master/requirements.txt) is [pinned to `2019.*`](https://github.com/arrow-py/arrow/blob/fe9602e2171d49d0d95d775e71f9735c3aaf92e4/requirements.txt#L11).
[pytz v2020.1](https://pypi.org/project/pytz/2020.1/) has been out since April.
Just wondering if there is a reason arrow hasn't moved the pin t

[2020-10-27 23:55] ashleysommer commented on #874
Update:
Nevermind, I just realized that dependencies in requirements.txt are not installed.
The setup.py has its own `install_requires` list.
Looks like the dependencies in requirements.txt are only used in the test suite for checking conformance and compatibility.

[2020-10-27 23:57] jadchaar commented on #874
Hi @ashleysommer, we have not upgraded our pytz dependency yet since we are waiting on `dateutil` to release a new version with an updated `tz` database. Paul, dateutil's maintainer, has been quite busy lately since he spearheaded the `zoneinfo` feature of Python 3.9.

We have some tests that iterate through all the timezones included in `pytz` and `dateutil`:
https://github.com/arrow-py/arrow/blo