[2020-10-27 23:57] #874 closed

[2020-11-01 12:02] bernhardboehmer opened #875 "DST handling is not inline with pytz dst handling and most probably incorrect"
## Issue Description
The handling of the dst switch does not seem to be right. While changing from dst to non-dst in October, the 2am hour is repeated in local time. However, in terms of time zones the repeated hour should not be utc+2 but utc+1 as pytz is doing as well. Otherwise, e.g.,  checks for time gaps in timeseries will work incorrectly since we have twice 02:20+2 for instance. Please look

[2020-11-02 23:04] systemcatch commented on #875
Hi @bernhardboehmer this type of bug was fixed in version 0.17.0.

[code]

We added support for PEP 495 (fold attribute) to disambiguate ambiguous times along with a new property.

[code]

[2020-11-03 06:47] bernhardboehmer commented on #875
Excellent! I missed this new version, sorry for this.

[2020-11-03 06:47] #875 closed

[2020-11-04 14:37] systemcatch commented on #875
I'm not sure what you mean by comparison, maybe a code example would help?

[2020-11-06 09:26] bernhardboehmer commented on #875
Hi systemcatch,
thanks for your reply.
Here's a code example. The method receives a set of localized arrow-timestamps and it shall check whether there are gaps within. Offset (period) can be set freely. The nodes are the complete list of arrow-timestamps between start and end. The gaps found do not include "end".

The second line (the set statement) is BTW the location triggering my initial bug re

[2020-11-07 08:13] pgogri commented on #840
Hi, I would like to work on this request and contribute to Arrow. Is this request still up for grabs?

[2020-11-07 16:19] jadchaar commented on #840
It should be. Just keep in mind though that these methods are not supported on python <3.6, and our code base has not fully dropped support tor py27 and py35 just yet.

[2020-11-07 20:31] pgogri commented on #840
I see, so the manner in which these methods interact with the rest of Arrow's codebase could be tricky. Is it important for these new methods to also work well with py27 and py35?

I wish to get a deeper understanding of the Arrow's codebase and its structure. Are there any suggestions or resources to help me do so?

[2020-11-07 22:50] svanita00 commented on #360
Hi! I'm interested in working on this issue. I'll be taking a look at it for the next few weeks.

[2020-11-08 00:22] jadchaar commented on #840
Currently, we are supporting Python 2.7+, but we are planning to drop 2.7, 3.5 very soon. You can submit your PR with support for 3.6+, but it may take some time to get merged once we are fully committed to the deprecation.

[2020-11-08 03:20] egannon commented on #789
I can give this a try as well!

[2020-11-08 03:20] egannon commented on #498
I can give this a try as well!

[2020-11-08 14:36] systemcatch commented on #498
Hi @egannon you might want to look at the old PR for this (#731), the fix worked bar a few edge cases.

[2020-11-08 15:47] jadchaar commented on #177
We will be dropping support for Python 2.7 in version 1.0.0, so I am going to close this.

[2020-11-08 15:47] #177 closed

[2020-11-08 16:17] systemcatch commented on #749
After we fix #848 we're left with a few edge cases.

[code]
Also leap years will still be an issue.

[2020-11-08 20:09] jadchaar commented on #498
Yeah take a look at the existing PRs for sure. It seems like there were some existing edge cases that came up during our manual testing, so the PR was 90% there, but couldn't get merged in the end.

[2020-11-08 21:38] #848 closed

[2020-11-09 02:34] yiransii commented on #872
Hello, I am interested in implementing this. After reading the arrow.get() API, I still find the description ambiguous. Can you elaborate on "which side of an ambiguous datetime"? Are both tzinfo="US/Pacific", fold=1 new features and what does fold=1 mean? thanks.

[2020-11-09 03:16] yiransii commented on #834
Hello, I would like to implement this feature. It seems that currently, __repr__  is "[class_name] + __str__". Can you be more specific with what additional data __repr__ would need to have?

[2020-11-09 04:36] jadchaar commented on #834
We should aim for a `__repr__` similar to that of `datetime`: https://stackoverflow.com/a/19597196/3820660.

[2020-11-09 07:07] yiransii commented on #505
Hello, what is the status of this issue? do we want to make it such that span() always starts on Monday?

[2020-11-09 20:37] yiransii commented on #872
@systemcatch
Hello I saw this stackoverflow post regarding fold. Fold is related to ambiguous local time due to reasons like local time change. Is this what you mean by fold? https://stackoverflow.com/questions/43359227/python-3-6-local-time-disambiguation-pep-495

[2020-11-09 20:52] yiransii commented on #857
Hello, I am interested in working on this as well.

[2020-11-09 21:17] systemcatch commented on #872
Hi @yiransii that is exactly what I meant by fold.

[2020-11-10 19:29] systemcatch commented on #834
How about this?

[code]

[2020-11-10 19:34] systemcatch opened #878 "Update usage of dateutil's enfold method"
As part of dropping Python 2.7/3.5 we no longer need `enfold` to wrap datetime objects.

[2020-11-10 19:56] jadchaar commented on #834
@yiransii it might be better if @systemcatch takes this on since he has had a design in mind for the repr for a while.

[2020-11-10 21:02] #465 closed

[2020-11-10 21:02] #861 closed

[2020-11-10 21:02] #739 closed

[2020-11-11 14:07] systemcatch commented on #840
@pgogri now that the big Python 2.7/3.5 PR has been merged I think you should be good to go here.

[2020-11-11 14:08] systemcatch commented on #857
Hi @yiransii now that 2.7/3.5 are dropped this is doable, shall I assign you?

[2020-11-11 16:17] yiransii commented on #857
@systemcatch yea sure

[2020-11-12 06:19] pgogri commented on #840
Hi, I had a clarification, so I found that below is currently possible:

`>>> import arrow

<Arrow [2020-11-12T06:09:02.869023+00:00]>

737741`

I was just wondering whether this means that arrow can already support the toordinal() method of datetime?

For fromordinal() method, I think we need to build support so that it can return an arrow object with the command arrow.fromordinal()?

`>>> import

[2020-11-13 11:03] systemcatch commented on #840
Hey @pgogri no need to bother about the `timestamp()` stuff, we've already done that.

Seems like `toordinal()` works fine. For `fromordinal` we would normally integrate that with `arrow.get()` however this would conflict with unix timestamps. Let's do what you suggested.

[code]

@jadchaar any thoughts here?

[2020-11-13 13:35] pgogri commented on #840
Hi @systemcatch , thanks for your reply,
Won't it be more like:
[code]
Or does that not work? Can you share a bit more on what you mean "when you say this (integrating with arrow.get()) would conflict with unix timestamps"?

[2020-11-13 17:00] krisfremen commented on #840
Technically, 737741 is a valid unix timestamp, I believe @systemcatch was referring to the fact it would create ambiguity in parsing ordinals vs UNIX timestamps.

[code]

[2020-11-13 19:12] systemcatch commented on #840
@pgogri you are right I provided the new `__repr__`

[2020-11-14 11:59] pgogri commented on #840
Thanks for all the clarifications! I have started to work on this, I will provide an update soon.

[2020-11-17 08:39] pgogri opened #880 "MAX_TIMESTAMP throwing value error as of latest commit (windows10 + WSL2) [Possible bug in datetime]"
So, I was trying to run the test suite after working on my forked repo for a bit when I got this below message:

[code]
Just to be sure, I cloned the original repo and it still gave the same error. After taking a closer look it looks like the MAX_TIMESTAMP initialization in the newest commit has problem:
[code]
Especially the else branch - `datetime.max.timestamp()` is the issue. This problem has

[2020-11-17 16:33] jadchaar commented on #880
Thanks for reporting this. Luckily this change has not yet made it to release, and was part of our recent Python2.7/3.5 deprecation PR. Just to clarify, this is occurring on a Windows-based system using WSL correct?

[2020-11-17 16:37] pgogri commented on #880
Glad to help. Yes correct, I am on Windows 10 with WSL2.

[2020-11-17 17:22] jadchaar opened #881 "Add support for WSL on GitHub actions"
It is worthwhile to test against WSL on Windows in our CI pipeline. We can use this action to set it up: https://github.com/marketplace/actions/setup-wsl.

[2020-11-17 18:18] jadchaar commented on #881
Would help catch issues like those in https://github.com/arrow-py/arrow/issues/880.

[2020-11-18 05:08] yiransii commented on #857
@systemcatch hello, I am a bit confused with exactly where to use ```datetime.strptime()```. Could you please clarify?

Under the function ```_build_datetime``` delcaration, there is a comment on line 420 about using ```strptime()```, which I think is for line 421 ```year, week = int(weekdate[0]), int(weekdate[1]) ```
However, I did some testing and it seems that ```weekdate``` is already a tuple:

[2020-11-18 15:20] systemcatch commented on #857
Hey @yiransii my idea is to do something similar to https://github.com/arrow-py/arrow/blob/master/arrow/parser.py#L464

That way there's no need for the `iso_to_gregorian` util function in the parser or https://github.com/arrow-py/arrow/blob/master/arrow/factory.py#L206

Does that make sense?

[2020-11-18 16:14] #880 closed

[2020-11-22 01:29] msarrel opened #884 "Shift() doesn't work properly across dayling savings time changes"
## Issue Description

The `shift()` method does not work properly across daylight savings time changes.

When changing from standard time to daylight savings time, it skips an hour.  I would expect the following two for loops to produce the same results, but they do not.  The first is correct and the second is incorrect.

The first one does the shift in `UTC` and then converts to `US/Pacific`.  Th

[2020-11-23 10:19] areyal commented on #505
Hi, i don't think this is a bug, it is coherent with the 'span' behaviour. If it changes here, it should change in 'span' also.

[2020-11-23 10:47] areyal opened #885 "range and span_range behave different if explicit tz is provided"
The functions range and span_range behave different if explicit tz is provided, being tz the same of the provided start and end datetimes.
They provide an unexpected additional interval at the end of the range.

## Issue Description

Setup:
[code]

Test without explicit tz:
[code]

Test with explicit tz:
[code]

Test with naive datetimes and explicit tz

[code]

## System Info

- 🖥  **OS name and

[2020-11-23 18:30] msarrel commented on #885
I opened a similar bug report last month.

https://github.com/arrow-py/arrow/issues/871

It also looks like shift() has a similar issue.

https://github.com/arrow-py/arrow/issues/884

[2020-11-23 18:32] msarrel commented on #884
See https://github.com/arrow-py/arrow/issues/885

[2020-11-23 18:32] msarrel commented on #871
See https://github.com/arrow-py/arrow/issues/885

[2020-11-23 18:33] msarrel commented on #884
See https://github.com/arrow-py/arrow/issues/871

[2020-11-23 18:34] msarrel commented on #871
https://github.com/arrow-py/arrow/issues/884

[2020-11-23 18:37] msarrel commented on #885
I've found a work-around.  Convert to UTC, do the range() or span_range() and then convert back to Europe/Madrid.

The above is not ideal, and I would prefer that they fix this bug.

[2020-11-23 20:06] systemcatch commented on #884
Hi @msarrel, these results occur because the `UTC` timezone is never adjusted for dst, meaning no duplicates or gaps occur.

So the order of operations matters, starting in UTC then going to US/Pacific isn't the same as US/Pacific => UTC. All the examples shown look to be correct though I grant you the duplicate in the last one is weird but that tends to happen with datetimes that don't exist.

[2020-11-23 20:38] msarrel commented on #884
Hi @systemcatch, I think we disagree on the nature of the issue.  I think there should never be duplicates or gaps, even when working in a time zone that uses daylight savings time.  I view this as a bug that needs to be fixed.  The same is true for my earlier issue https://github.com/arrow-py/arrow/issues/871.

In the Fall Back Incorrect case, it is incorrect to say that 2001-10-28T03:00:00-08:00

[2020-11-23 20:53] msarrel commented on #884
@systemcatch
Just to add to the above, when calculating the difference between two times, you need to both take into account the different in the nominal hours and the UTC offsets.

In the Fall Back case, the correct difference is 4 h = (03 - 00) + ((-07) - (-08)).

In the Spring Forward case, the correct difference is 3 h = (04 - 00) + ((-08) - (-07)).

Although, as I do in my example, it's also

[2020-11-23 21:22] systemcatch commented on #885
Hey @areyal there's a couple of points to note here.

- pytz has a very different model for timezones compared to `python datetime`/`dateutil` (which we use internally), this can lead to unexpected results if you're not careful.
- `Arrow` objects are never naive.

[code]

I need to investigate your problem more thoroughly but thought the above points would be helpful.

[2020-11-23 22:00] msarrel commented on #884
@systemcatch, Here's another way to think about it.  Look at this code:

[code]

and it's output:

[code]

We can see that the difference between t2 and t1 is incorrectly shown as 3 hours, while the difference between t4 and t3 is correctly shown as 4 hours.  Further, it seems that t3 is equal to t1 and t4 is equal to t2.  But, the difference between t2 and t1 is not equal to the difference betwee

[2020-11-23 23:37] msarrel commented on #884
@systemcatch @areyal

Upon further investigation, it seems that the root cause of the bug (of this issue and of https://github.com/arrow-py/arrow/issues/871 and https://github.com/arrow-py/arrow/issues/885) is the Python `datetime` library.  Look at [PEP 431](https://www.python.org/dev/peps/pep-0431) and specifically the [Withdrawal section](https://www.python.org/dev/peps/pep-0431/#withdrawal).

[2020-11-24 00:01] msarrel opened #886 "Help users deal with datetime arithmetic"
## Feature Request

There is a fundamental choice when doing date time arithmetic across time changes for daylight savings time.  One option is to always treat a day as exactly 24 hours.  In that case if you add a day across a time change, the "wall clock" time of the event shifts by an hour.  The other choice is to treat days as things of flexible length, such that the "wall clock" time remains f

[2020-11-24 04:56] jadchaar commented on #840
We should also make sure we support the `timespec` argument for `isoformat()`: https://docs.python.org/3/library/datetime.html#datetime.datetime.isoformat.

[2020-11-24 10:40] pgogri commented on #840
Yes, am on it :)

[2020-11-24 10:52] systemcatch commented on #834
We have decided not to proceed with this change.

[2020-11-24 10:52] #834 closed

[2020-11-24 11:22] systemcatch commented on #884
@msarrel as you said this behaviour originates in `datetime` itself. Posting in the datetime mailing list might provide you with a better explanation of why this way was chosen. The blog posts below are from the author of PEP 615 and contain lots of detail about python datetime semantics.

https://blog.ganssle.io/articles/2018/02/aware-datetime-arithmetic.html
https://blog.ganssle.io/articles/2018

[2020-11-25 04:24] svanita00 commented on #498
Hi! Emma and I are working on this issue together. We were able to replicate that bug after integrating Arrow's most up-to-date code with the code additions from #817 and seem to have found the fix to that specific sample test that was causing a bug (where floor==end). We're new to open source contributions - what would be the best way to continue tackling this issue? Should we continue adding tes

[2020-11-25 18:41] msarrel commented on #886
@systemcatch Thanks for forwarding those two blog posts.  They really helped clarify things for me.  I've adjusted the above feature request accordingly.

[2020-11-25 19:41] systemcatch commented on #498
Hi @svanita00 the best way to proceed would be to open a PR with your changes. That way we can see what changes you've made and point you in the right direction.

[2020-11-28 21:19] yiransii commented on #857
@systemcatch

Thank you so much for the clarification.

I have updated ```parser.py``` and submitted a pull request. I have some dependency issues running tests locally but it has passed all tests as it shows in the pull request.

Please review my pull request and let me know if anything is off. I can work on https://github.com/arrow-py/arrow/blob/master/arrow/factory.py#L206 as well.

[2020-11-29 16:49] yiransii commented on #872
@systemcatch
Hello Chris,

I traced back to the ```get()``` method, and it points to the ```arrow constructor``` when there are more than 3 args.
https://github.com/arrow-py/arrow/blob/1278a21b46fcf145592f15b47a8169f97f54415a/arrow/factory.py#L250

I am wondering if we are still updating the enfold method in the arrow constructor?
https://github.com/arrow-py/arrow/blob/1278a21b46fcf145592f15b47a81

[2020-11-29 20:13] systemcatch commented on #872
Hey @yiransii for now we can stick with the `enfold` method. We just need to make sure that the fold kwarg is handled correctly in the `get()` method (https://github.com/arrow-py/arrow/blob/master/arrow/factory.py#L146).

[2020-12-01 01:33] jadchaar opened #890 "CI failing on humanize test"
## Issue Description

Current [CRON CI build on master](https://github.com/arrow-py/arrow/runs/1477209342) is failing. The test case `tests/test_arrow.py::TestArrowHumanize::test_day` is failing on the current master between 7:00-7:59pm EST. The tests pass when run at 8pm EST.

[code]

This test case reproduces it locally:

[code]

## System Info

- 🖥  **OS name and version**: macOS 11.0
- 🐍  **Py

[2020-12-01 01:38] jadchaar commented on #890
Given our recent changes to the bounds, I personally do not see any point in us converting the shifted Arrow object's `datetime` object to a `date`. Instead, we should be doing this in the `tests/test_arrow.py::TestArrowHumanize::test_day` test case:

[code]

Thoughts @systemcatch?

[2020-12-02 19:57] #857 closed

[2020-12-02 20:13] systemcatch commented on #890
Hey @jadchaar I agree with you about changing the tests to not use `date`.

But I don't get why this is failing 7-7:59, this is what I get as output from your example.

[code]
We expect `'23 hours ago'` right?

[2020-12-02 21:05] jadchaar commented on #890
Yeah! I am not really getting it either... it seems to be 7EST because that is when UTC crosses over to the next day. 23 hours ago there is correct, but our test case is searching for `1 day ago` since it is looking for less than a two day shift. I think the test case needs to just change.

[2020-12-02 21:52] yiransii commented on #749
Hi, I can take a look at fixing the edge cases.

Is it supposed to print "1 month ago" and "in 1 month" for the month+=1 example?

@systemcatch

[2020-12-03 06:07] yiransii commented on #355
@jadchaar
Can I take this?

[2020-12-03 10:57] systemcatch commented on #749
@yiransii yes that is what we would expect to happen here.

[2020-12-03 11:09] #498 closed

[2020-12-07 21:37] Gregliest opened #892 "Bug when formatting an arrow created from a local date"
Am I missing something, or is this a bug? I created an arrow from a date, and it showed at UTC hour 0 as expected. I then formatted it in UTC, and it gave me hour == 12. My local machine is on Pacific time, which at -8h is probably not the issue.

[code]
This works as expected when I create the arrow with hh:mm.
[code]

[2020-12-07 21:41] Gregliest commented on #892
Nvm I think I figured it out, it's not defaulting to 24h time.

[2020-12-07 21:41] #892 closed

[2020-12-07 21:51] Gregliest commented on #892
This does bring up the question of why this library diverges from ISO8601: "[hh] refers to a zero-padded hour between 00 and 23," but I assume that has been discussed elsewhere.

For anyone searching this issue, in arrow `HH` refers to zero padded hour between 00-23, while `hh` refers to zero padded hour between 01-12. [Docs](https://arrow.readthedocs.io/en/stable/#format).

[2020-12-10 05:28] yiransii commented on #749
@systemcatch
So the edge case happens because a month might have 30 or 31 days, but  ```self._SECS_PER_MONTH:``` is always set to the value of 31 days in the condition ```elif diff < self._SECS_PER_MONTH:```

In the above month+=1 example, ```dt=arrow.get("2020-11-08T15:12:18.911919+00:00")``` returns ```4 weeks``` cause Nov has 30 days, which is smaller than 31 days, so it enter the if statement

[2020-12-13 15:31] nkitsaini commented on #552
I use arrow almost in each of my project. I'll be glad to contribute.

[2020-12-13 16:46] jadchaar commented on #552
@nkitsaini great to hear! Feel free to pick up an open issue :D!

[2020-12-14 02:46] MisterL2 opened #896 "Module "arrow.arrow" has no attribute 'get'"
## Issue Description

I enter the two first lines from the tutorial:

import arrow
arrow.get('2013-05-11T21:23:58.970460+07:00')

I get:
AttributeError: module 'arrow.arrow' has no attribute 'get'
## System Info

- 🖥  **Windows 10**
- 🐍  **3.7.3**
- 🏹  **0.17.0**:

[2020-12-14 03:04] jadchaar commented on #896
Hi @MisterL2, is this after creating a new virtual environment and running `pip install arrow`? I just created a fresh virtual env, installed Arrow, and ran the tutorial without any issue.

[2020-12-14 03:04] #840 closed

[2020-12-14 03:11] MisterL2 commented on #896
No, I installed it about a week ago.
I uninstalled an old conda installation and reinstalled the package twice using pip, but no changes.
The file used by the IDE links to the correct path and I can see the arrow.py, as well as the init file linking to the api file which contains the function.
It sounds like a strange issue that should be on my end, but this is the only package which is causing th

[2020-12-14 03:14] jadchaar commented on #896
Are you running WSL or just a regular Windows command prompt? Are you only using Anaconda or are you also using a stock Python install?

[2020-12-14 09:13] MisterL2 commented on #896
Standard CMD, Stock Python install. I removed my Miniconda installation completely in case it was causing interference

[2020-12-14 16:31] jadchaar commented on #896
Peculiar, I cannot seem to reproduce this on my end. @krisfremen @systemcatch any ideas?

[2020-12-14 17:38] krisfremen commented on #896
hmm, peculiar indeed.

[code]

It seems like somehow you're calling arrow.arrow.get() instead of just arrow.get()? maybe some imports are wrong somewhere or you have arrow.py somewhere else in your PATH?

Since this:
[code]

results in the same error as what you have.

[2020-12-14 18:34] MisterL2 commented on #896
Ahh yes that was the issue... One of my dependencies uses "from arrow import *" in its source code, so as a result it used that instead of my import statement :D
Thanks guys ❤️❤️❤️

[2020-12-14 18:34] #896 closed

[2020-12-16 17:08] mredaelli opened #897 "Return matched string after successful parsing"
## Feature Request

Desiderata: have a way to retrieve the part of the string that `arrow` matched to the format in a successful parse.

I see at least two use cases.

### Get the "rest"

It is not an uncommon need, at least in the domain of web scraping, to extract a date from a string **and** to store the remaining information from that string somewhere else.

Getting the date with `arrow` is aw

[2020-12-20 19:34] jadchaar opened #899 "Add docs support for type annotations"
Once #883 is merged, we need to add support for types to docs using this plugin: https://pypi.org/project/sphinx-autodoc-typehints/.

[2020-12-20 20:15] systemcatch opened #900 "Should arrow.get(None) work?"
As per the title should the following work?

[code]

https://github.com/arrow-py/arrow/blob/master/arrow/factory.py#L169

There could be an issue where someone unintentionally passes `None` in but gets no error. Realistically is this used?

[2020-12-20 20:56] jadchaar commented on #899
This package needs to be added to both our `requirements.txt` and our `docs/conf.py`:
https://github.com/arrow-py/arrow/blob/67732ee6f18c8208e2077f1bbb42e34bbd560c08/docs/conf.py#L22

[2020-12-22 12:20] #884 closed

[2020-12-24 06:59] nkitsaini commented on #900
Never had any issue with this. But it seems to be too implicit.

[2020-12-24 15:27] systemcatch commented on #900
I think it's a potential gotcha but as you say I've never been caught by it myself.

[2020-12-24 15:37] jadchaar commented on #897
One possibility could be to introduce an internal method that gets the indices of the matches, and this could be called in these special use cases (but otherwise would largely be internal). We could also introduce a new flag or method that does a multi-match regex and returns a list of arrow objects. This could require a decently sized refactor though.

I do know that the dateparser package is rel

[2020-12-24 16:44] systemcatch commented on #885
Hey @areyal I can't replicate your results, can you show me your installed python packages with `pip list`?

[2020-12-24 19:29] mredaelli commented on #897
Dateparser is what we used before, but ran away from, so I'd much rather have the functionality in arrow :)

Not sure how "nice" it would be, but I'd be more than happy with just an optional parameter of `get`, say `return_matched_string`, which if `True` returns a tuple `(date, match object)` or simply `(date, matched_string)`, instead of just the date.

But also just the dedicated low-level func

[2020-12-25 12:23] Rich700000000000 opened #904 "Cannot import arrow"
## Issue Description

As part of another program, I installed arrow, and it seemed to proceed without errors:
[code]
Despite this, when I attempt to install it, I simply cannot.

[code]

I am not using Anaconda, Docker, or any type of system abstraction. What could make a package simply not appear like this, and how would you suggest I resolve it?

## System Info

- 🖥  **Ubuntu 20.04 LTS**:
- 🐍  *

[2020-12-26 00:44] krisfremen commented on #904
Doesn't seem like a bug in arrow.

You seem to be installing the package locally as root.

Are you also running python interpreter as root? If you're running as another user, the packages of course, won't show up.

[2020-12-26 11:29] krisfremen commented on #900
I would agree toward it not working.

Everything that in theory isn't an actual string or object that can be parsed into an Arrow, should raise an exception at least.

[2020-12-26 13:44] nkitsaini commented on #904
Yeah not an arrow issue. @Rich700000000000  try running this
[code]
It'll help you see what are the locations where python is trying to find 'Arrow'

[2020-12-27 15:15] Rich700000000000 commented on #904
Here they are:

[code]

Should snudown be in there?

[2020-12-28 04:58] Armaxxx commented on #900
Can I help with this issue raising an exception?

[2020-12-28 06:05] jadchaar commented on #900
Go for it @Armaxxx!

[2020-12-28 21:01] krisfremen commented on #904
`/root/.local/lib/python3.8/site-packages` is where you're installing the package, yet this isn't in your PATH.

Install arrow as a regular user and not root. Or if you're running Python as root, and this is your path setup, then add that path to your PYTHONPATH.

[2020-12-28 21:01] #904 closed

[2020-12-31 03:23] krisfremen commented on #890
[code]

Hmm, I guess another test failing also for some weird times, coming from https://github.com/arrow-py/arrow/pull/907/checks?check_run_id=1628813383

[2020-12-31 04:12] krisfremen opened #908 "Python versions mismatch in README"
## Issue Description

![68747470733a2f2f696d672e736869656c64732e696f2f707970692f707976657273696f6e732f6172726f772e737667](https://user-images.githubusercontent.com/1108071/103392921-0f0b4200-4aee-11eb-802f-eb0f5bf29fee.png)

The badge coming from shields.io is displaying incorrect "Python versions supported".

[2020-12-31 04:31] jadchaar commented on #890
Ugh good find. Might be related to https://github.com/arrow-py/arrow/issues/749

[2020-12-31 04:32] jadchaar commented on #908
This is correct @krisfremen. The current stable release v0.17.0 still supports Python 2.7 and 3.5, but when v1.0.0 is released very soon, it should show the correct versions. The current master branch is well ahead of the last tag for v0.17.0.

[2020-12-31 04:32] #908 closed

[2020-12-31 04:41] krisfremen commented on #908
LOL, my bad. my wires must've gotten crossed

[2020-12-31 04:44] jadchaar commented on #908
All good, v1.0 was supposed to ship back in October hah!

[2020-12-31 06:18] jadchaar commented on #890
Seems to be a new years edge case. This test case reproduces it:

arrow.py::TestArrowHumanize::test_months

[code]

[2021-01-01 13:28] systemcatch commented on #890
This was one of the problems I encountered in #868. Any value we pick for `_SECS_PER_MONTH` will result in something being wrong. To fix this properly the "month" duration has to be calculated at runtime imo.

The annoying thing is that this could break installation in some cases. I suggest we find a fix before 1.0.0 or mark the month test as xfail for now.

[2021-01-02 21:33] #890 closed

[2021-01-03 12:05] systemcatch commented on #878
I plan to do this once #883 is merged.

[2021-01-07 12:10] systemcatch commented on #343
If we choose to implement PEP 615 the ZoneInfo objects from that would allow us to do this easily.

[2021-01-07 17:19] jadchaar opened #912 "Create arrow timezone interface and wrapper"
## Feature Request

It would be useful for users to directly import an arrow timezone object and create Arrow timezones rather than having to use `datetime.timezone`, `ZoneInfo`, or `dateutil.tz.gettz`. This will allow for full feature encapsulation within Arrow, so users can create timezones like this:

[code]

This `arrow.timezone` wrapper can simply wrap the `TzinfoParser` and `dateutil.tz.gett

[2021-01-07 17:20] #900 closed

[2021-01-09 12:38] b10011 commented on #912
There's even easier way to do this already:

[code]

I haven't seen a single function in arrow that didn't support strings as timezone definition. Additionally, arrow supports the "local" timezone.

[2021-01-09 13:07] b10011 commented on #886
This was my initial approach, but I found another bug during daylight saving time conversions:

[code]

Both timestamps are the same after converting the timezone to Europe/Helsinki due to Arrow not understanding to convert second_3am to UTC+2. Instead Arrow thinks both times are in UTC+3.

@msarrel Do you think I should report this as a separate bug or is these all related to each other?

[2021-01-09 14:55] systemcatch commented on #886
Python's datetime module made certain choices about dealing with ambiguous/imaginary times and how to handle timezones. Arrow relies heavily on dateutil and datetime for tz management and the amount of work (assuming its possible) to change this behaviour isn't worth it. So we will not be implementing the requested feature.

@b10011 what version of arrow are you using? That bug is fixed in 0.17.0.

[2021-01-09 14:55] #886 closed

[2021-01-09 17:30] jadchaar commented on #912
Yup, all timezone's of type `str` are passed to the `TzinfoParser`. I totally agree, I think arrow's support for timezone string parsing might make this feature kind of pointless. @krisfremen @systemcatch what do you all think? I think @b10011 has a good point.

[2021-01-09 18:11] b10011 commented on #912
Your point of view also has its advantages, for example, it's more optimal to only parse the timezone once, but I think if one is optimizing at such a detailed level, one wouldn't care that much about using `dateutil.tz.gettz` at that point. Also, dateutil.tz.gettz doesn't support `local`, instead you need to use `dateutil.tz.tzlocal` (you can't select local timezone using string). At the same tim

[2021-01-09 19:09] b10011 commented on #886
Oh, good catch, for some reason my version was 0.15.6. I didn't consider the possibility that another package could have installed this one way earlier and I just ran "pip install arrow" when I found out about this library, which doesn't upgrade the package.

Upgraded to 0.17.0 and can confirm that I couldn't reproduce the bug. Thanks!

[2021-01-10 17:50] krisfremen commented on #912
I think the timezone approach would be very nice to have, even if the benefits are marginal.

Would be nice if it's extended to do some timezone arithmetic without an actual date time behind it?

[2021-01-11 10:05] b10011 opened #913 "Holiday support for Arrow"
## Feature Request

It would be nice to be able to call the following methods on an arrow object:
- `.is_holiday(locale="FI")` to get boolean telling whether the date is a holiday or not
- `.holiday(locale="FI")` to get the name of the holiday (or None if it's not a holiday)

This would be easy to implement using [python-holidays](https://github.com/dr-prodigy/python-holidays). The library include

[2021-02-01 15:02] Gravitar64 opened #914 "Support 360-day-method"
Actual it is possible to calculate the time-difference between 2 arrow.dates b.e. diff = dat1 - dat2. The result (diff) is an arrow-time-diff-object. With diff.days we can get the difference in days.

Actual it is not possible to calculate the difference in days with the 360-day-method. Where every month is calculated by 30 days. It would be very helpfull (i.E. for calculating interest values) to

[2021-02-11 02:53] SoundsSerious commented on #738
Also seeing this bug on windows system linux

[2021-02-11 05:48] jadchaar commented on #738
Could you post some more information on the issue you are seeing? E.g.a snippet of code that is triggering the exception?

[2021-02-16 21:20] systemcatch commented on #914
Hey @Gravitar64 I'm glad you find arrow useful.

As I understand it you want a an `Arrow` subclass with a fixed 30 day months?

[2021-02-17 12:30] Gravitar64 commented on #914
Yes! It's for interest calculation where every month calculated with 30 days and a year has always 360 days.

[2021-02-17 16:29] systemcatch opened #918 "Refactor formatter to avoid nullable type bugs"
mypy still complains about `Optional`.
[code]

First one is `return dt.tzname()` case.
I know that `Arrow` always store non naive `datetime` now. but because `DateTimeFormatter` is public, someone could pass naive `datetime` object to `DateTimeFormatter.format()` and in that case `DateTimeFormatter._format_token()` will return `None`.

Second one is `return self.locale.meridian(dt.hour, token)`.

[2021-02-17 23:37] jadchaar commented on #856
This is the flake8 package we want: https://pypi.org/project/flake8-annotations/.

[2021-02-18 20:21] #899 closed

[2021-02-18 21:08] systemcatch commented on #914
Reading about this convention I don't think we'd put it in arrow directly due to it's specialized nature and potential for causing confusion. However I think this could work well as a custom subclass or more likely an independent package.

I found https://pypi.org/project/bond-pricing/, maybe that helps you?

[2021-02-18 21:08] #914 closed

[2021-02-18 21:23] systemcatch commented on #512
Hey everybody, we're approaching the 1.0.0 release which is a big thing! :smile:

I think this issue has served it's purpose and can be closed now.

[2021-02-18 21:23] #512 closed

[2021-02-20 21:03] #878 closed

[2021-02-22 04:35] jadchaar commented on #913
Hi @b10011 apologies for never getting back to you on this! @systemcatch what are your thoughts on this? Do you think it is worth introducing the hard holiday dependency to Arrow? It seems actively maintained, so it might be a cool feature addition.

[2021-02-22 18:33] larsyunker commented on #353
Apologies for necroing this issue, but I've run into this exact situation except I'm on Windows so the easy_installed workaround doesn't help me. I'm posting this solution in case some other poor soul runs up against this.

I've traced back the issue to PyInstaller not including the `dateutil.zoneinfo.dateutil-zoneinfo.tar.gz` reference information during packaging. When accessed, the `getzoneinfo

[2021-02-23 21:18] systemcatch commented on #913
@jadchaar reading through the `holidays` module (which is a very neat idea) it seems easy to feed in dates/strings from arrow already, I'm not sure adding a dependency gains much here.

[2021-02-26 21:10] danieldjewell commented on #874
At the very least, perhaps clarifying/renaming/moving the ```requirements.txt``` file to reduce the possibility of the issue @ashleysommer ran into (I just did the same thing ... so in the habit of looking at requirements.txt and had to check ```setup.py``` for the actual list.) Perhaps renaming it to ```test_requirements.txt``` if that's appropriate?

[2021-02-26 21:19] jadchaar opened #926 "Break down requirements.txt into separate files"
We should probably break down our requirements.txt file into multiple files (e.g. one for tests, one for docs, one for standalone operation).

This will help prevent confusion and issues like https://github.com/arrow-py/arrow/issues/874.

[2021-02-26 21:20] jadchaar commented on #874
Thanks for bringing this up, it is a good idea! I have filed a new issue for it: https://github.com/arrow-py/arrow/issues/926.

[2021-02-27 08:00] loverdos opened #928 "Is timestamp a property?"
## Issue Description
In the documentation, `timestamp` is treated as a property and so no parentheses are used but in the code it is not declared as a property, so parentheses are used. In fact, if we try to `@property`-ize it, tests fail. This hints at fixing the documentation vs fixing the code, so the purpose of the ticket is to ask the question and help provide a definitive answer. Once the in

[2021-02-27 19:07] jadchaar commented on #928
Hi @loverdos, thanks for bringing this up. This is actually a part of the documentation we forgot to update for the v1.0 release. We now have a few ways to access timestamps:

[code]

The `int_timestamp` and `float_timestamp` properties were added in v1.0 for legacy purposes. The primary way to access timestamps is to now use the function.

[2021-02-27 20:03] JoshPaulie opened #930 "OverflowError on 32 bit Raspberry Pi 4"
I moved my bot to my Rpi4. Arrow throws this error on script launch.

## Issue Description

[code]

## System Info

- 🖥  **OS name and version**:
[code]
- 🐍  **Python version**: Python 3.7.3
- 🏹  **Arrow version**: 1.0.1

[2021-02-27 20:05] jadchaar commented on #930
@JoshPaulie thanks for reporting this. Are you running a 32 bit or 64 bit OS?

[2021-02-27 20:10] jadchaar commented on #930
Also, what do you get when you type `datetime.max.timestamp()` into the python console? Do you get an overflow error?

[2021-02-27 21:34] JoshPaulie commented on #930
@jadchaar

32 bit!

[code]
Let me know if ran the test incorrectly.

[2021-02-27 23:15] krisfremen commented on #930
@JoshPaulie thanks for testing

This would be the correct invocation:
[code]

Cheers!

[2021-02-27 23:21] krisfremen commented on #926
Nice!

I was thinking of reporting this a few days ago as well!

[2021-02-27 23:55] JoshPaulie commented on #930
Thanks @krisfremen.
[code]
Yes @jadchaar, same exception

[2021-02-28 00:25] #928 closed

[2021-02-28 00:31] jadchaar commented on #930
Mind trying a few other values for me? Tell me what you get for the following:

[code]

I am trying to figure out what a sane default max timestamp would be for 32 bit OSes. It seems like the current one we have (`datetime(2038, 1, 18, 23, 59, 59, 999999).timestamp()`), based on the Windows documentation, does not work for Linux.

[2021-02-28 03:09] JoshPaulie commented on #930
Interesting outcome!
Test script
[code]
Output
[code]
Very weird that a 17-day difference breaks it 🤔

[2021-02-28 05:00] jadchaar commented on #930
Very interesting... I was using the `datetime(2038, 1, 18, 23, 59, 59, 999999)` object only because I expected all Linux systems to work fine with `datetime.max.timestamp()` (hence why I used the date referenced in the Microsoft docs). Really odd to see `datetime.max.timestamp()` overflow--it must be forcing the creation of a 64-bit integer, which doesn't work on a 32 bit system.

I will get a pat

[2021-02-28 05:01] jadchaar commented on #930
Thank you so much for the feedback and assistance on this issue @JoshPaulie, we really appreciate it!

[2021-02-28 05:02] jadchaar commented on #881
We should also test against ARM distributions of Python (since M1 macs are becoming common) along with 32-bit OSes to prevent issues like https://github.com/arrow-py/arrow/issues/930.

[2021-02-28 18:00] JoshPaulie commented on #930
Wow! Glad we were able to figure this out in < 1 Day! Thanks for the quick response and tests ❤️
Excited to use my scripts on the Rpi 🥧

[2021-02-28 18:19] jadchaar commented on #930
No problem! v1.0 was a big release, and we are not surprised some small bugs slipped through. For now, to get your bot running, you can lock the `arrow` dependency version to `v0.17.0` until we release `v1.0.2`!

[2021-02-28 20:04] #930 closed

[2021-02-28 22:50] jadchaar commented on #930
@JoshPaulie Arrow v1.0.2 has just been released to PyPI. Mind installing it with `pip install -U arrow` to see if this issue is resolved?

Thanks again for the help!

[2021-03-01 00:02] mpnowacki-reef opened #933 "format XSSS outputs too many digits and a dot"
## Issue Description

New release changed the behaviour of `.format('XSSS')`, for example:

on 0.17.0 `arrow.utcnow().format('XSSS')` yields `'1614555372217'`

on 1.0.2 it yields `'1614556907.369226369'`

## System Info

- 🖥  **OS name and version**: macOS 10.15.7 (visible also on ubutnu and windows)
- 🐍  **Python version**: 3.7.10
- 🏹  **Arrow version**: 1.0.2

[2021-03-01 17:25] JoshPaulie commented on #930
@jadchaar Works swell. Thanks gang 🤗

[2021-03-01 21:13] systemcatch commented on #933
Hi @mpnowacki-reef I don't think this is bug however it seems we did forget to mention the changes to the `"X"` token in the migration guide.

In 1.0.2.
[code]

To get a microsecond timestamp.
[code]

[2021-03-02 20:47] jadchaar commented on #749
Once this is fixed, we should revert coverage requirement to 100%: https://github.com/arrow-py/arrow/issues/749.

[2021-03-02 21:27] systemcatch commented on #505
Now that we have added the `exact` kwarg for `span_range`, `interval` this allows the behavior expected.

[code]

I'll close this now but feel free to make further comments.

[2021-03-02 21:27] #505 closed

[2021-03-02 21:34] systemcatch commented on #427
I don't think we have a strong interest in building this into arrow, I'll close this issue for now but feel free to keep discussing the proposal.

[2021-03-02 21:34] #427 closed

[2021-03-02 21:38] systemcatch commented on #819
Hey @jadchaar do you think we still need to do this? I'm happy to give this a go if needed.

[2021-03-02 21:49] jadchaar commented on #427
This is an interesting proposal, but I feel like it would require an external dependency, which might be a tough sell to introduce into Arrow.

[2021-03-02 21:50] jadchaar commented on #819
I think it would be good to go through all the docstrings for typos and make sure they are aligned with new features/functionality introduced over the years. Also, I think we should make sure the docstrings are not redundant now that we are bundling types into our docstrings using the sphinx plugin.

[2021-03-09 04:10] zachriggle opened #941 ""humanize" should return "end of tomorrow" instead of "two days""
## Feature Request

[code]

This prints

[code]

It would be nice to be able to configure `arrow.get(...).humanize` to print something like:

[code]

Similarly, it might be nice to get `"Wednesday"` instead of `"in two days"` (if today is e.g. Monday) via  some fiddly knob.

[2021-03-09 20:56] syd3n commented on #738
I am seeing this error message on Windows when trying to install a Kodi addon/script (one which @Razzeee is a contributor for) - so not sure if it is specific to Arrow or the script itself:

[code]

[2021-03-09 21:08] systemcatch commented on #738
Hey @syd3n what version of arrow are you using? Try upgrading to the latest release (1.0.3) if possible.

[2021-03-09 21:13] syd3n commented on #738
@systemcatch thanks for the response!

Here's the addon script I was installing within Kodi: https://github.com/Razzeee/script.trakt

[2021-03-09 21:20] syd3n commented on #738
Actually, I believe it is this one as it has more recent commits: https://github.com/trakt/script.trakt

[2021-03-09 21:29] systemcatch commented on #738
Woah `0.10.0` is pretty ancient! :sweat_smile:

What python versions do you need to support? Latest `1.0.3` is python 3.6+ only but has specific fixes for `datetime.max` on Windows.

[2021-03-09 22:05] Razzeee commented on #738
I think 3.8+ would be fine for us. But I think `trakt.py` itself wants to be py2 and py3. Not sure if that's still what they want, as it has been like that for years.

[2021-03-09 22:19] systemcatch commented on #738
@Razzeee well in that case `0.17.0` is the last version they could use, still a big improvement over `0.10.0` though!

[2021-03-09 22:54] f0rk opened #942 "New type definitions prevent `arrow.get(2021, 3, 9)` (three integer arguments) from passing type checks."
## Issue Description

New type definitions prevent `arrow.get(2021, 3, 9)` (three integer arguments) from passing type checks.

[code]

## System Info

- 🖥  **OS name and version**: Linux 4.15.0-136-generic #140-Ubuntu SMP
- 🐍  **Python version**: Python 3.6.9
- 🏹  **Arrow version**: 1.0.3

[2021-03-10 02:10] zachriggle opened #944 "arrow.get(datetime.now()).humanize() == "6 hours ago""
# Issue Description

It looks like `arrow` is doing something weird timezone information when operating `datetime` objects, including `datetime` objects returned by e.g. `dateparser.parse('now')`.

What is the appropriate incantation to get `arrow` and `datetime` to agree?  I've managed to do it in one of my projects by using epochseconds, but would prefer to keep my dates as either `datetime` or

[2021-03-14 19:30] #942 closed

[2021-03-14 19:35] systemcatch commented on #944
Hey @zachriggle there definitely looks to be some weirdness going on with the tzinfo setting here. i will investigate this further.

Two other points, Arrow objects are never naive, they default to UTC if no tzinfo is provided. Also `arrow.get(dateparser.parse('now'))` is not officially supported but will probably work.

[2021-03-17 21:47] systemcatch commented on #944
The problem is that the `tzinfo` supplied to `arrow.get()` is being ignored in certain cases, for example:

[code]

It defaults to UTC which causes strange results.

The bug is in https://github.com/arrow-py/arrow/blob/master/arrow/factory.py#L241 where the `tzinfo` kwarg is dropped.

[2021-03-18 22:51] zachriggle commented on #944
Glad you found the culprit!  I eagerly await a new Arrow release.

I can't contribute to FOSS (employer rules) otherwise I'd create the PR
myself.

On Wed, Mar 17, 2021 at 4:47 PM Chris ***@***.***> wrote:

[2021-03-22 06:36] majorisgit opened #945 "Support for handling dates in BC"
## Feature Request
Thank you for the wonderful library and your efforts.
Please add support for handling dates before 0AD, in BC.

<Arrow [2013-05-05T00:00:00+00:00]>

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.7/dist-packages/arrow/api.py", line 80, in get
    return _factory.get(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-pa

[2021-03-22 11:28] systemcatch commented on #945
Hey @majorisgit this is not something we would be able to support, Python's `datetime` module has `min/max` year values of `1/9999` and we depend heavily upon it.

You may have better luck using the `calendar` module but be warned old dates can be difficult to work with.

https://stackoverflow.com/questions/1310740/what-is-the-oldest-time-that-can-be-represented-in-python

[2021-03-22 11:28] #945 closed

[2021-03-26 18:48] ketiltrout opened #946 "Docstring for Arrow.timestamp still shows the old syntax"
## Issue Description

The example in the docstring of `Arrow.timestamp` still shows the old syntax (property instead of method):
https://github.com/arrow-py/arrow/blob/cf8a0cc746c39cdc7109dbc91522429e82da3781/arrow/arrow.py#L852

I think this was missed in #929.

[2021-03-27 13:32] systemcatch commented on #946
Thanks for spotting that, we'll correct it in the next release.

[2021-04-01 18:06] anish-nya commented on #360
I am interested working on this issue.

[2021-04-04 03:26] anishnya opened #948 "Humanize Bug when using multiple Granularities"
## Issue Description
Humanize appears to have a bug when dealing with multiple granularities.

[code]

The shift function returns the expected time of May 3rd 2018, however running humanize on this object says "in a year 4 months 0 days 6 hours and 2 seconds." We would expect to see "in a year 4 months 2 days 6 hours and 2 seconds." Initially, I ran into this issue while attempting to shift across

[2021-04-06 12:26] skupr-anaconda opened #949 "test_shift_kiritimati - AssertionError"
## Issue Description

[code]

## System Info

- 🖥  **OS name and version**:  linux64 (py36-py39), ppc64le (py36, py39)
- 🐍  **Python version**:  python 3.6-3.9
- 🏹  **Arrow version**: 1.0.3

[2021-04-07 17:02] jadchaar opened #952 "Standardize separator and casing used in locale names"
The separator we use for locale names seems to be inconsistent. Some locales like Swahili use the underscore for their locale names: https://github.com/arrow-py/arrow/blob/d515e7463700b7da4c89caf81bcb736395abf898/arrow/locales.py#L4308-L4314. Others like Croatian use the hyphen: https://github.com/arrow-py/arrow/blob/d515e7463700b7da4c89caf81bcb736395abf898/arrow/locales.py#L4393-L4395.

As for ca

[2021-04-07 23:12] jadchaar commented on #952
We should be using dashes internally in `locales.py` since that seems to align with the ISO standard: https://en.wikipedia.org/wiki/Language_code. That said, we need to replace underscores on locale inputs to ensure backward compatibility.

[2021-04-08 05:14] jadchaar commented on #949
Hmm I am unable to reproduce this myself and it does not seem to be occurring on our Linux CI runners. Any ideas @systemcatch?

[2021-04-08 19:46] systemcatch commented on #949
My first thought is that an old `dateutil` package (< 2.7.1) is being used somewhere and causing the test to fail. However that should be covered by the pytest mark.

@skupr-anaconda can you give us a list of installed python packages on your system and the dateutil version that is being used?

[2021-04-08 20:31] systemcatch commented on #948
Right so I've been able to reproduce this locally and I think the bug is happening due to an issue with arrow's month humanize limits (see #749).

In brief the humanize method currently works on the assumption that every month has `30.5` days. Over the course of a year (non leap) this results in being one day short.

This causes problems in several areas and we are looking at ways to fix this.

[2021-04-09 07:39] skupr-anaconda commented on #949
## Package Plan ##

  environment location: /tmp/build/80754af9/arrow_1617953470930/_test_env_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_pla

The following NEW packages will be INSTALLED:

    _libgcc_mutex:      0.1-main                 defau

[2021-04-11 18:35] #819 closed

[2021-04-11 18:35] #946 closed

[2021-04-15 01:07] #355 closed

[2021-04-15 01:27] tlitetrasci opened #958 "Tokens A/hh seem to work on invalid time stamps"
## Issue Description

Arrow does not seem to perform validation on timestamps for unusual formats where the information conflicts.

The following code snippet runs just fine:

[code]

First of all, since `hh` is documented to go to a maximum value of 12, I expect `arrow` to raise an error because the value is 14. Secondly, I expect arrow to notice that 14:00:00 (2 PM) conflicts with the string "AM

[2021-04-15 09:57] systemcatch commented on #958
Looks like we're missing some validation checks here, thanks for reporting this. I expect we can roll this into a bugfix release.

[2021-04-17 15:37] tlitetrasci commented on #958
Thanks for confirming that this is unexpected behavior. I'm looking forward to seeing the bugfix.

[2021-04-18 15:14] ALee008 commented on #958
Hey @systemcatch , @jadchaar ,

I would like to help out with this one. Do you have any details on how you imagine the validation check?

[2021-04-18 17:29] #952 closed

[2021-04-18 17:36] jadchaar commented on #958
You can probably carry out the check similar to how we validate errors in parser.py's `parse()` function:

https://github.com/arrow-py/arrow/blob/1310dbbc32ce41adac4840e4e399da0f77836041/arrow/parser.py#L300-L305

You can check the parsed values and raise an appropriate `ParserError`. If you think there is a more appropriate place to put the validations, feel free to make that choice :)!

[2021-04-20 21:44] ALee008 commented on #958
Hey again,
could you check my attempt for the first issue (if token == "hh" then hour must be between 00 and 12):

https://github.com/ALee008/arrow/blob/3c09bb87f253271900906e75d8927a3c8620ce16/arrow/parser.py#L333

For the second issue I am not sure about the location. I have also added a question:
https://github.com/ALee008/arrow/blob/3c09bb87f253271900906e75d8927a3c8620ce16/arrow/parser.py#L576

[2021-04-25 09:43] KgBruce02 opened #960 "The ChineseCNLocale doesn't have matching test in test_locales.py"
## Feature Request
As said in the title. The ChineseCNLocale doesn't have a matching test in test_locales.py. I'd like to pull my codes to fulfill this feature.

[2021-04-25 16:36] systemcatch commented on #360
Now that #956 has been merged I think we can close this.

[2021-04-25 16:36] #360 closed

[2021-04-25 16:40] systemcatch opened #961 "Improve locale support for dehumanize"
Now that #956 is merged let's focus on getting more locales to work with dehumanize.

- list of unsupported locales to follow....

[2021-04-25 19:58] anishnya commented on #961
I think in general there needs to be some clean up of legacy locales. From my experience, there is too much variation between their implementations. Granted, this task may end up being extremely difficult given that some of these locales haven't been touched in years.

In my opinion, the best plan to get dehumanize to 100% locale support is to first standardize locale implementations (we may want

[2021-04-25 20:03] anishnya commented on #749
What level of accuracy are we seeking? I can working on a solution with similar accuracy to https://www.timeanddate.com/date/duration.html, however, this may not necessarily be the most efficient solution.

[2021-04-29 08:55] skupr-anaconda opened #967 "Failed test_one_arg_dateparser_datetime - SystemError (on win32 py36)"
## Issue Description

test_one_arg_dateparser_datetime failed only in the test environment (not build environment) on win32 with py36 when arrow 1.1.0 was built with `conda build`. Maybe the problem with `dateparse v1.0.0`:

[code]

## System Info

- 🖥  **OS name and version**: win32
- 🐍  **Python version**: 3.6.13
- 🏹  **Arrow version**: 1.1.0

[2021-04-29 15:10] systemcatch commented on #967
Weird I have no idea why this is failing as all our CI builds are green and we have pinned dateparser at `1.0.*` for ages in our requirements.

Looking at dateparser's code the error is being raised [here](https://github.com/scrapinghub/dateparser/blob/master/dateparser/languages/dictionary.py#L153), I'm guessing this is something specific to the win32 platform.

[2021-05-03 02:47] #944 closed

[2021-05-05 13:49] kjoyce77 commented on #941
The default behavior is very confusing at the day level...  If an object is 47 hours in the future  it shows up as 'in a day' instead of 'in about 2 days' or 'in a day and 23 hours'.  The simplest change would be to add an option for levels of granularity.  So if I say 2 levels it will do in 0 minutes 47 seconds, in a day and 3 hours, in a week and six days, and so on.

But +1 for day of week logi

[2021-05-06 20:58] c0dezer019 opened #973 "Humanize should be more dynamic"
## Feature Request

humanize is great, and being able to specify granularity is great, but it needs to be more dynamic. Say, for instance, we want to to specify how long ago something happened in years, months, weeks, days, hours, and seconds. However, let's say that it only happened 5 hours ago. Notice how I didn't say 0 years, 0 months, 0 weeks, 0 days, 5 hours, and 0 seconds from now. I just sa

[2021-05-07 07:59] anishnya commented on #973
I think this is something we could definitely implement. Thoughts @jadchaar @systemcatch? If we choose to add this feature, I could add it into #971.

[2021-05-07 09:06] systemcatch commented on #973
@anishnya I like the idea but tend to think we keep it in a separate PR to avoid the refactor getting too big.

[2021-05-08 02:03] anishnya commented on #941
I think this is a nice feature to be added to humanize. However, I think it is worth noting that we have to be able to make it work with the 60+ locales we support. Something like returning "Wednesday" instead of "in 2 days" I think can work across locales. However, some of the other suggested features/behaviours will need contributions and updates on all the locales.

[2021-05-08 08:04] anishnya opened #974 "Adding Support for English Alphabet Output on Indian Language Locales"
## Feature Request

I think it would be really nice if we were able to add support for English alphabet output for some of our Indian language locales. It is quite common for many websites to use the English alphabet when writing text in languages such as Hindi, so I think this would be a nice feature to add to Arrow.

Example with Humanize:

"a month ago" -> "एक महीने पहले" (Devanagari script)
"a

[2021-05-11 03:01] anishnya commented on #974
@systemcatch How would we want to name it? hi-en? I think we have to be careful about breaking any naming locale naming conventions when doing so.

[2021-05-11 05:18] tlitetrasci commented on #958
Hi, has there been any update on this issue? I see @ALee008 has made some changes in a fork.

[2021-05-12 07:39] anishnya commented on #958
Hi @ALee008 and @tlitetrasci. Apologies on behalf of the entire Arrow team for not getting back to you on this sooner (some professional and personal events have popped up for all of us). I'll be taking a look at @ALee008's fork and reviewing it over the next 48 hours.

[2021-05-13 06:59] tlitetrasci commented on #958
No worries, thanks for the update!

[2021-05-13 10:50] PyGeek03 opened #976 "Add wildcard as a supported token"
## Feature Request
While doing some data wrangling, I have to parse a column of dates with a lot of date formats mixed in and extract the year part of those dates (Arrow has been of immense help!). However, there is a format that's quite peculiar: almost all instances of them conforms to MM-YYYY, but one instance has MM as 14 (which must have been a data entry error). The application I'm building

[2021-05-13 11:12] ALee008 commented on #958
@anishnya
No worries, I have been busy myself recently. I'll be awaiting your update.

[2021-05-13 13:09] PyGeek03 opened #977 "Add support for Excel date format"
## Feature Request
In Excel files, date is represented as an integer that counts how many days have passed from [either January 1st, 1900 (on Windows) or January 1st, 1904 (on Mac)](https://docs.microsoft.com/en-US/office/troubleshoot/excel/1900-and-1904-date-system).

The function ([xlrd.xldate.xldate_as_datetime](https://xlrd.readthedocs.io/en/latest/api.html#xlrd.xldate.xldate_as_datetime) from

[2021-05-16 21:31] #926 closed

[2021-05-18 02:21] anishnya commented on #958
Hey @ALee008. I've taken a closer look at the issues you've outlined. The token check appears to be correct. For the location, I think we'd prefer it to be in parse_token rather than in parse. Even though parse_token is only called by parse, I think it makes more sense to have the validation functionality within parse_token. In terms of the error message generated, I wouldn't worry about including

[2021-05-18 02:26] anishnya commented on #976
Thanks for the request @PyGeek03! @jadchaar what are your thoughts? I also think we should link this to #725.

[2021-05-18 02:30] jadchaar commented on #976
Interesting request. I think this is definitely something that we can do since we form a regular expression from the input datetime format string and a wildcard is natural in regex.

[2021-05-18 02:52] anishnya commented on #977
Hi @PyGeek03. Do you mind giving us some examples of inputs and expected outputs?

[2021-05-18 05:41] PyGeek03 commented on #977
These examples are from the [Microsoft documentation page](https://docs.microsoft.com/en-US/office/troubleshoot/excel/1900-and-1904-date-system):

- For the 1900 date system (starts counting from January 1, 1900):
Input: 0. Output: January 1, 1900
Input: 34519. Output: July 4, 1994
Input: 35981. Output: July 5, 1998

- For the 1904 date system (starts counting from January 1, 1904):
Input: 0. Outp

[2021-05-20 05:44] anishnya commented on #977
Hi @PyGeek03, I was looking a little more into the documentation. Is the input ever a fraction, or float? I just want to make sure there aren't any weird edge cases I'm missing before I propose a solution.  Some of our dependencies don't play nicely with floats.

[2021-05-20 05:52] PyGeek03 commented on #977
From the [source code of xlrd.xldate](https://github.com/python-excel/xlrd/blob/master/xlrd/xldate.py), that seems possible. I reckon we can just write some wrapper functions around xlrd.xldate, and add it as a dependency?

[2021-05-21 23:33] anishnya commented on #977
Hey @PyGeek03. I was playing around with some possible solutions and it looks like we could just create a wrapper that uses our built-in shift function with a start date of either January 1, 1900 (or January 1, 1904).  Both xlrd and Arrow use datetime as dependencies, so the behaviour from Arrow would be presumably the same as you are experiencing with xlrd. Also, this way avoids creating an addit

[2021-05-22 02:32] jadchaar commented on #977
I think a native shift solution would work nicely. Since this is a niche use case, we probably want to avoid adding an additional dependency.

[2021-05-22 07:21] PyGeek03 commented on #977
Wow Arrow is even cooler than I thought. Great work guys!

On Sat, May 22, 2021 at 12:02 PM Jad Chaar ***@***.***> wrote:

[2021-05-28 09:53] maweki opened #981 "Documentation doesn't mention comparison"
## Issue Description

The documentation does in no way mention that comparison of `Arrow`-objects (and therefore sorting, adding them to a search tree, etc.) is possible. The api reference does not list `__lt__` and `__gt__`, etc.. As dates and timezones are difficult (hence the existence of this library) it is not entirely clear that this is allowed and how it should be handled. Not the most intu

[2021-05-30 11:25] krisfremen commented on #981
Nice find @maweki!

Thanks for reporting this in! Documentation is always a challenge :)

Would you like to have a go at filling in the gap with a PR?

[2021-05-31 06:06] anishnya opened #983 "Add a Locale Implementation Guide"
## Issue Description

As we've started added new features such as dehumanize, it's starting to become clear there are some major discrepancies between locale implementations. I think it would be a good idea to create some kind of adding new locale guide. This would hopefully help avoid some of the issues/ambiguity we've been having (i.e locale implementations using the translation of "week ago" in

[2021-05-31 11:15] maweki commented on #981
@krisfremen Sure I can give it a try. In terms of general applicability I would think it goes very far up either between "Creation" and "Properties" or before or after "Convert" (though I would think that "Format" would be better after "Convert" and right before "Humanize", as humanizing is also a kind of formatting).

What do you think where I should put this (probably small) section?

[2021-05-31 23:48] anishnya opened #984 "Nepali Years Time Frame is Unspecifc"
The "years" time frame for Nepali is unspecific.  When using humanize with the Nepali locale, for a date multiple years ago, it returns the string "बर्ष  पहिले", which translates to "years ago". We would like there to be a specific number of years included as well. For example, we would like the output to be a string that roughly translates to "2 years ago" or "5 years ago".

[2021-06-02 05:54] anishnya opened #985 "Azerbaijani Second Time Frame Issue"
Similar to the issue pointed out in #982, it appears in the Azerbaijani locale, the second time frame translates to "second" (saniyə) instead of "a second." I would assume looking at the rest of the time frame object within the locale, it should be "bir saniyə", but I would like to confirm with the community that this is in fact the correct translation.

[2021-06-07 16:32] ALee008 commented on #958
Hey @anishnya ,
thanks for your feedback. Haven't forgotten about this. But been too busy lately. Hope to update the code in the days to come.

[2021-06-09 15:01] ParadoxShmaradox opened #987 "span_range usage with Arrow objects"
## Issue Description
The span_range function typehint the start and end as datetime objects.

`    def span_range(
        cls,
        frame: _T_FRAMES,
        start: dt_datetime,
        end: dt_datetime,
        tz: Optional[TZ_EXPR] = None,
        limit: Optional[int] = None,
        bounds: _BOUNDS = "[)",
        exact: bool = False,
    ) -> Iterable[Tuple["Arrow", "Arrow"]]`

It's will h

[2021-06-10 03:57] anishnya opened #988 "Improve Doc Strings in parser.py"
## Issue Description

I think we should improve the doc strings in parser.py to be more descriptive and similar like the rest of Arrow.

[2021-06-10 23:40] anishnya commented on #958
@ALee008, that looks good to me. Once you get the tests added, feel free to make the PR. Let us know if you need any further guidance, or have any additional questions.

[2021-06-14 21:02] matthuisman opened #991 ".to() fails with large dates due to dateutil timestamp overflow"
## Issue Description
[code]

"ValueError: timestamp out of range for platform time_t"
or "ValueError: (22, 'Invalid argument')"

Due to the timestamp being too large here:
https://github.com/dateutil/dateutil/blob/master/dateutil/tz/tz.py#L259

If you update _naive_is_dst to something like below
[code]

it works as intended.
**So maybe arrow needs to do it's own astimezone() so it can use it's nor

[2021-06-15 05:48] anishnya commented on #991
Thanks @matthuisman for the report. @jadchaar, @krisfremen and I will take a look at this soon and see what we can do.

[2021-06-21 07:30] beucismis commented on #985
So is this true @anishnya ?
[code]

[2021-06-21 18:22] jadchaar commented on #960
@KgBruce02 are you still down to tackle this feature request/test suite enhancement?

[2021-06-22 17:11] jadchaar commented on #991
I am unable to reproduce this on my 64-bit macOS machine, so I think it is limited to Linux and windows. I think this is where the exception is triggered (our `to()` wrapper calls the Arrow constructor):

https://github.com/arrow-py/arrow/blob/7c9632c09161b1edb67fadb4bf8f3c1c0f5cb101/arrow/arrow.py#L176-L178

Therefore, we may be able to wrap this in a try/except and in the except block, get the t

[2021-06-22 20:58] matthuisman commented on #991
[code]
The first print will print fine - it's just the "to" that fails.
The line it fails on is dt = self._datetime.astimezone(tz)
I'm pretty confident the issue is inside dateutil.

[2021-06-23 18:54] anishnya commented on #991
@matthuisman dateutil has seen some recent work on it, but there was about a year stretch where there were zero commits to dateutil. I'm not too sure how likely it is dateutil will fix this issue and if they do fix it, when that fix will be merged in. We've had some internal discussions (well before this issue came up) about dropping the dateutil dependency from Arrow because of the inconsistency

[2021-06-23 18:56] anishnya commented on #991
I've tried on my local machine as well (macOS 64bit) and haven't been able to reproduce this issue as well.

[2021-06-23 21:41] matthuisman commented on #991
I think the issue is the same timestamp bug that requires the below lines in constants.py:
https://github.com/arrow-py/arrow/blob/master/arrow/constants.py#L16
So maybe only Windows and 32-bit system are affected

[2021-06-24 03:36] #789 closed

[2021-06-25 07:32] systemcatch commented on #981
I tend to think it should go after properties. Let's use the title "Compare" and keep it in a similar style to the other sections.

[2021-06-25 17:48] jadchaar commented on #991
Finding the max timestamp in a platform agnostic manner has proven to be very difficult (no standard ways to do this in the Python standard library or in dateutil). So the MAX_TIMESTAMP is used as a rought guide for when to compute the normalized timestamp, but it is imperfect because datetime seems to have trouble with its own max timestamp (which is what we use in `constants.py`):

[code]

[2021-06-27 18:01] anishnya opened #996 "Humanize Format Relative Error For Multiple Granularities"
## Issue Description

## System Info

- 🖥  **OS name and version**:
- 🐍  **Python version**:
- 🏹  **Arrow version**:

[code]

"in 0 years 0 months 0 days an hour and 0 seconds" should be "0 years 0 months 0 days an hour and 0 seconds ago". I suspect this is dude to the fact in describe-mutli we take timeframes[-1], which in this case would be 0. This results in format relative defaulting to it's p

[2021-06-29 20:21] barneygale opened #999 ""Dehumanize" is a terrible name for a function"
Arrow's `dehumanize()` parses an informal interval like 'a week ago' or 'in 2 months'.

I'm not sure of the best name for such a function, but "dehumanize" surely isn't it! In English this word has connotations far beyond the formality of expression, e.g. from wiktionary:

It's usually employed when discussing some of the worst chapters of human history.

I'm not a big fan of `humanize()` either,

[2021-06-29 20:28] jadchaar commented on #999
Thanks for the report @barneygale. I agree that `dehumanize()` is not the best word to use for this function. We should probably make `reverse_humanize()` the primary inverse method name, but we'd most likely have to keep `dehumanize()` in the code base until a breaking release like v2.0. We can slate dehumanize for deprecation (with an appropriate warning message) if we decide to go through with

[2021-06-29 20:50] anishnya commented on #999
Yeah I'll be honest here, I didn't put an ounce of thought into naming the method dehumanize. I just kept the name proposed by the original issue and went with it. I have to agree with @jadchaar, we should probably wait until a major release like v2.0 to change it.

[2021-06-29 20:52] systemcatch commented on #999
I think it's fine and works well as an inverse to humanize.

[2021-06-29 20:52] jadchaar commented on #999
What we can do is rename the current function to another name like `digitize()` or `roboticize()` or `reverse_humanize()` and make another function called dehumanize which just calls the renamed function and contains code raise a deprecation warning. That way we won't break compatibility with the current 1.x codebase, but we can make the more appropriate name the primary method.

[2021-06-30 04:48] krisfremen commented on #999
I concur with @systemcatch and think the naming is fine as it is.

[2021-06-30 11:36] emilian commented on #999
I am not a contributor, but have used arrow in my projects. Dehumanize is fine with me.

[2021-06-30 15:13] barneygale commented on #999
I'm not sure if you guys are native english speakers, but 'dehumanize' is a word that already exists, has a widely-understood meaning, and has very little to do with the casualness of the language used. It's imprecise and therefore not good naming.

The arrow API already has a well-named function for applying an offset - `shift()`. Could add a new keyword argument like `string` or `casual`, `idiom

[2021-06-30 15:24] jadchaar commented on #999
I’m in agreement with @barneygale in that we should change it just to prevent offending anyone going forward. It shouldn’t be too hard to do but we’d need to slate dehumanize for deprecation and alias it like I suggested. That would be the best happy medium for everyone :).

[2021-06-30 15:31] emilian commented on #999
It is very clear to me what that function does based on the name. It is the inverse of humanize, so I don't know why you would consider it imprecise. Never had a problem with the name of the function.

[2021-06-30 15:42] barneygale commented on #999
So I need to look up another function just to understand this one? Why not name the function something that conveys what it does without external reference?

[2021-06-30 15:45] barneygale commented on #999
I agree it's probably offensive to some. For me the issue is its incongruousness and lack of precision more than its offensiveness.

[2021-07-01 21:51] ALee008 commented on #958
Hey @anishnya,

I removed the first ParseError because it would raise a ParseError if hour is not between 0 and 12, which is not desired.

I also added a test called `test_parse_am` in `test_parser.py`.

I push the latest code and added my adjustments. When running tox I got the following error:

![grafik](https://user-images.githubusercontent.com/39236016/124193487-30fa7700-dac7-11eb-8c79-534f256

[2021-07-02 18:46] Alalalalaki opened #1000 "Processes killed and semaphore objects leaked when reading pandas data"
## Issue Description

When I run `pa.Table.from_pandas(df)` for a >1G dataframe, it reports

[code]

## System Info

- 🖥  **OS name and version**:  macOS 11.4
- 🐍  **Python version**: 3.8.10
- 🏹  **Arrow version**: 4.0.1

[2021-07-02 19:08] jadchaar commented on #1000
Hi @Alalalalaki, I don’t think this is related to arrow but is instead a Pandas issue. What made you think it was an arrow issue :)?

[2021-07-02 19:12] Alalalalaki commented on #1000
@jadchaar Thanks for your reply. I am not sure what issue this error belongs to. I think I might load more data than my RAM capacity. Is there a way in arrow to avoid this issue?

[2021-07-02 19:38] #1000 closed

[2021-07-03 12:38] beucismis opened #1001 "Brief parameter for humanize function"
## Feature Request

This parameter is False by default. When true, it shortens the date and time terms. For example:
[code]

[2021-07-03 19:07] anishnya commented on #1001
I think this is a nice feature to add. Only issue I see is the fact it needs to be supported

[2021-07-03 19:28] beucismis commented on #1001
Yes, this is a issue.

[2021-07-03 19:53] anishnya commented on #1001
@jadchaar @systemcatch @krisfremen what do we think? I would prefer we have at least 10 locales that can support this feature before we implement it?

[2021-07-03 20:21] anishnya commented on #958
That does seem odd, especially since you aren't modifying the shift method.  @jadchaar, I noticed the test is skipped if the dateutil version if below a certain version. @ALee008 do you mind checking what version of dateutil you have installed?

[2021-07-04 01:38] anishnya commented on #985
@beucismis Yes that would work, but we are also looking for a more accurate translation of "a minute" in the AZ locale. I think the current translation is roughly equivalent to just "minute".

[2021-07-07 21:10] ALee008 commented on #958
Hey @anishnya, I've got Version 2.8.1 installed

![grafik](https://user-images.githubusercontent.com/39236016/124829145-824bb000-df78-11eb-9764-03c872800999.png)

[2021-07-08 04:52] anishnya commented on #958
@ALee08, you're working out of the master branch of your forked repo correct? I'll pull it down and see what's happening.

[2021-07-14 19:41] alexchandel opened #1005 "No documentation of format of get() and format()"
## Issue Description

There is no documentation of all the allowed format characters for `arrow.get()` and `Arrow.format()`.  The documentation mentions a few examples, like `arrow.get('June was born in May 1980', 'MMMM YYYY')` and `arrow.utcnow().format('YYYY-MM-DD HH:mm:ss ZZ')`, but these are far from exhaustive.

For example, how does one output a human-readable weekday name, like "Thursday, J

[2021-07-14 20:35] jadchaar commented on #1005
Hi @alexchandel, the token documentation can be found [here](https://arrow.readthedocs.io/en/latest/#supported-tokens).

[2021-07-14 20:35] #1005 closed

[2021-07-20 21:43] ALee008 commented on #958
Hey @anishnya ,
yes, that's what I did first (using the explanation here because I haven't done it before) [How to update a forked Git repo](https://www.section.io/engineering-education/how-to-sync-and-update-a-forked-repo/).

[2021-07-21 16:10] systemcatch commented on #958
I pulled down the branch but can't reproduce that error, can you update your branch to be equal with arrow master to see if that helps?

[2021-07-27 20:29] ALee008 commented on #958
Hey @systemcatch,
I updated my fork and added my changes. Test is still failing. My origin should be up-to-date now. As recommended I will submit a PR.

[2021-07-29 16:11] izhun commented on #988
@anishnya Could you please concrete `the rest of Arrow`? What module or class can be used as reference?

[2021-07-30 02:07] #958 closed

[2021-07-30 02:11] anishnya commented on #988
@izhun So for example arrow.py, we use the rest (see rest here for a more detailed explanation https://stackoverflow.com/questions/3898572/what-is-the-standard-python-docstring-format) doc string format. We would like to see the doc strings in parser.py use the same format.

[2021-08-01 21:36] krisfremen opened #1009 "Chinese Numerals instead of Arabic in Chinese Locales"
## Feature Request

While doing some tests for the Chinese, I noticed that some translations have Chinese and some Arabic numerals.

[code]

would be nice to equalise all of them to Chinese numerals, or provide an argument in the locale to be able to switch between Chinese or Arabic numerals?

[2021-08-01 21:56] anishnya commented on #1009
I think this would be a good idea to extend to all locales. The question becomes we should have a way of standardizing it such that, we are able to support it with both within humanize and dehumanize.

[2021-08-02 03:15] krisfremen commented on #988
@anishnya hey, I've started on this, first pass, opened up a draft PR for now

[2021-08-02 07:22] anishnya opened #1011 "Add Support For Timeframe Units With Zero Delta in Icelandic Locale"
## Feature Request

Currently we do not have timeframe strings in the Icelandic locale that correspond with a time delta of zero. For example, we do not have a string that represents "0 seconds" in the Icelandic locale. We would like to fix this. For the time being, since we don't cover this case within the Icelandic locale, I think we'll resort to any time delta of 0 corresponding to the future t

[2021-08-02 07:22] #960 closed

[2021-08-07 02:37] MarkKoz opened #1013 "Add a parameter to limit the amount of units returned by humanize"
## Feature Request

Add a parameter to `arrow.Arrow.humanize` which limits the amount of units in the returned string.

[code]

Just like the `granularity` parameter, it simply truncates the output; no rounding should be performed. It should start counting from the largest unit. In the example above it starts counting at hours; at minutes it reaches the specified limit of 2 units. Anything after (

[2021-08-07 02:48] MarkKoz opened #1014 "Add an "all" granularity to humanize"
## Feature Request

Once #997 is implemented, using full precision would become more viable. However, it's currently cumbersome to specify that; it requires a list of all units. Sure, a wrapper can be made to abstract that away, but it'd be convenient to just pass the string `"all"`.

[2021-08-07 08:32] anishnya opened #1015 "Empty List of Granularities For Humanize Doesn't Raise Value Error"
## Issue Description

It appears that we don't do any error checking if we pass in an empty list of granularities for humanize.

[code]

@jadchaar @krisfremen @systemcatch are you able to reproduce this? If it's an error, I'll add a check as a part of #997 or open up a separate PR to fix this.

## System Info

- 🖥  **OS name and version**:
- 🐍  **Python version**:
- 🏹  **Arrow version**:

[2021-08-07 18:24] krisfremen commented on #1015
@anishnya yes, I'm able to reproduce. raises IndexError

[2021-08-07 18:45] krisfremen commented on #1014
I concur, this is a good idea.

@jadchaar @anishnya @systemcatch what is your opinion?

@MarkKoz would you like to give it a go and do a PR?

[2021-08-07 18:56] krisfremen commented on #1013
hmm, this is a neat thing to have!

I think we should probably have an option to return the humanized strings as a list or dict as well?

[2021-08-07 20:03] anishnya commented on #1014
I agree this is a good idea.

[2021-08-07 20:05] anishnya commented on #1013
I think we should probably give some kind of preference like highest order time frames first. This would make the feature well with the Dynamic Flag as well.

[2021-08-07 20:21] MarkKoz commented on #1014
Sure.

[2021-08-07 20:32] MarkKoz commented on #1013
You need to be careful about this. I think adding too many customisation parameters can result in a confusing and overwhelming API. It also sets a precedent for adding even more customisation, and it can quickly get out of control. Just off the top of my head, I can also imagine someone wanting a way to customise the separator.

This sounds promising, since it would provide a lot of flexibility to

[2021-08-07 20:38] anishnya commented on #1013
It definitely would need to be a separate function. Humanize is already a pretty messy function to begin with, so adding even more flags and parameters to it is going to make it even more unreadable.

[2021-08-08 19:58] systemcatch commented on #1014
Chiming in late but I think this is a really good idea.

[2021-08-09 05:24] krisfremen opened #1019 "Humanize doesn't support "quarter" for granularity"
## Issue Description

Humanize doesn't seem to support granularity of "quarter".

But the error raised seems to suggest that it does:
[code]

## System Info

- 🖥  **OS name and version**: Debian 10.10
- 🐍  **Python version**: Python 3.9.1
- 🏹  **Arrow version**: 1.1.1 or master

[2021-08-14 08:17] anishnya opened #1022 "More Detailed Test Cases For Locales"
## Feature Request

Many locales have the bare minimum when it comes to test cases. While I understand it can be tedious and repetitive to write out test cases that appear the same for multiple timeframe units, I still believe we should make it necessary. If we do ever make changes to any locale files, which seems to be more often as of late, we want to ensure we aren't being mislead by passing te

[2021-08-18 06:43] anishnya opened #1026 "Standardized Locale Testing Framework/Design"
## Feature Request

It would be nice if we could create/develop some kind of framework, or testing design to standardize the testing of locales. It would help clean up the locale testing file, as well as give us a much more comprehensive and thorough way to ensure to test locales (see #1022).

[2021-08-18 07:06] #984 closed

[2021-08-25 12:47] cyriaka90 commented on #983
I think a checklist would be good - something like:

- [ ] add locale variant names in lower case (e.g. `names = ["en", "en-us"]`)
- [ ] add preposition meaning "ago" (e.g. `past = "{0} ago"`)
- [ ] add preposition meaning "in" (e.g. `past = "future = "in {0}"`)
- [ ] add conjunction meaning "and" (e.g. `and_word = "and"`)
- [ ] add timeframes dict with "just now", "a second", "{0} seconds" etc. i

[2021-08-29 17:52] systemcatch commented on #949
Closing this for now as we cannot reproduce at our end, let us know if it needs reopening.

[2021-08-29 17:52] #949 closed

[2021-08-29 17:54] systemcatch commented on #967
Closing this for now as we can't reproduce our end, let us know if we should reopen.

[2021-08-29 17:54] #967 closed

[2021-09-03 08:24] almaslov opened #1032 "Parsing date from file path"
## Issue Description

Hello!
I'm trying to parse date from file path and facing an issue:

[code]
Gives
[code]
This workaround works fine:
[code]

But if path gets little more complicated it fails again:
[code]
## System Info

- 🖥  **OS name and version**: macOS 10.15.7
- 🐍  **Python version**: Python 3.8.5
- 🏹  **Arrow version**: 1.1.1

[2021-09-04 04:37] mousehappy opened #1033 "Arrow 1.1.1 doesn't support get from decimal, but 0.15.2 support"
## Issue Description

Arrow 1.1.1 doesn't support get from decimal, but 0.15.2 support

![image](https://user-images.githubusercontent.com/5227779/132082537-95bb3257-ab3f-4391-8717-05fea44142ca.png)

OS: Darwin Kernel Version 20.3.0
OS: Centos7
## System Info

- 🖥  **OS name and version**:
- 🐍  **Python version**:
- 🏹  **Arrow version**:

[2021-09-04 14:53] krisfremen commented on #1033
@mousehappy Thanks for reporting this in!

I can replicate, 0.16.0 and above fail on parsing a decimal.

[2021-09-04 16:32] krisfremen commented on #1032
Interesting use case.
Arrow's parser wasn't designed to handle file paths, rather it has an affinity towards natural language with whitespaces as separator at the moment.

Example:
[code]

This is something we can improve, indeed. Something similar is discussed in #976.

[2021-09-05 05:21] #1033 closed

[2021-09-05 06:26] krisfremen commented on #1033
@mousehappy hey, this just got fixed in the latest master commit.

Thanks again for taking the time to report this in!

[2021-09-06 15:38] kloczek opened #1038 "1.1.1: pytest is failing when `pytest-randomly` is used"
## System Info

- 🖥  **OS name and version**: Linux/x86_64
- 🐍  **Python version**: 3.8.12
- 🏹  **Arrow version**: 1.1.1

Looks like pytest is failing when `pytest-randomly` is installed.
Example:
[code]
As long as randomly plugin is disaled everything is fine:
[code]
To diagnose that kind of issues https://github.com/mrbean-bremen/pytest-find-dependencies/ can be used.

[2021-09-07 08:48] systemcatch commented on #1038
Thanks for this @kloczek, after running `pytest --find-dependencies` I get the following result.

[code]

[2021-09-07 09:14] systemcatch commented on #1001
I like it, but would some locales not have shortened forms?

[2021-09-07 09:21] systemcatch commented on #991
Can't reproduce on my machine.

[code]

[2021-09-11 07:57] matthuisman commented on #991
how about this

[code]
or
[code]

[2021-10-13 22:52] Alig1493 commented on #1019
Quarter as in every three months?
I could take a look at this issue if it's up for grabs

[2021-10-14 05:36] krisfremen commented on #1019
Correct. Sure, go for it!

[2021-10-21 00:47] sania-dsouza commented on #985
PR created for this: https://github.com/arrow-py/arrow/pull/1052

[2021-10-27 14:02] manlix opened #1056 "Incorrect plural for seconds in Russian (locale: ru_RU)"
## Issue Description

Incorrect plurals for`seconds` in Russian using `shift()` with `humanize()`.

**Actual result:**
[code]

**Expected result:**
[code]

## System Info

- 🖥  **OS name and version**: Ubuntu 21.10
- 🐍  **Python version**: 3.10.0
- 🏹  **Arrow version**: 1.2.1

[2021-10-29 03:35] #1056 closed, assigned to nobody

[2021-10-29 13:15] manlix opened #1062 "No support for quarter granularity in Russian (locale: ru_RU)"
## Issue Description

No support for quarter granularity in Russian (locale: `ru_RU`).

## Actual result

[code]

## Expected result

[code]

## System Info

- 🖥  **OS name and version**: Ubuntu 21.10
- 🐍  **Python version**: 3.10.0
- 🏹  **Arrow version**: 1.2.1

[2021-10-30 18:07] systemcatch commented on #872
@sania-dsouza we would expect the following.
[code]

[2021-11-01 04:29] spacemanspiff2007 opened #1064 "Publish some benchmarks"
When searching for different python time libraries there still countless articles popping up who suggest that especially pendulum has a huge speed advantage over arrow.
While these might have been true, it's absolutely unclear how the situation has changed since then.
It would be nice if there was a small benchmark section in the docs which would compare basic operations.

[2021-11-02 00:58] anishnya commented on #1064
@jadchaar, I think we should do this.

[2021-11-02 00:59] #1062 closed

[2021-11-02 03:43] jadchaar commented on #1064
Agreed especially so we can compare before and after the Cython work we are planning. Could be cool to constantly update a wiki page (with benchmark graphs) with a CI workflow on every tag and every python version.

[2021-11-05 22:49] #856 closed

[2021-11-07 17:44] rtphokie opened #1065 "improved parsing of timezone abbreviations"
## Issue Description

The documentation suggests agains using abbreviated timezone strings (e.g. EST, UTC, etc.):

_timezone names from tz database provided via dateutil package, note that abbreviations such as MST, PDT, BRST are unlikely to parse due to ambiguity. Use the full IANA zone name instead (Asia/Shanghai, Europe/London, America/Chicago etc)_

Arrow can successfully parse each of the sta

[2021-11-07 19:43] rtphokie opened #1066 "handling of leading spaces in month, day, and hours by parser"
## Issue Description

Currently arrow can parse 1 or two digit day of the month with or without a leading zero.  It does not handle a leading space however.  A leading space before a single digit day of the month, month number, or hour is formatting found commonly (lines up better, offers some sorting benefits, etc.) and should be handled better.

Workaround: replace double spaces with a single sp

[2021-11-07 19:45] rtphokie commented on #1032
It isn't so much that it's a filepath, Arrow can and should be able to parse strings that the use clearly describes the rules for.

[2021-11-07 19:49] rtphokie commented on #999
Humanize is a great name, this is its opposite.

Is there a description of why this might be offensive, or a thought that it might offend someone?  If it's the former, let's discuss, if it's the latter, I question the value of putting effort in here.

I'm not seeing strong arguments above.

[2021-11-08 11:33] barneygale commented on #999
https://en.wikipedia.org/wiki/Dehumanization

It already means something, and it's nothing to do with parsing colloquially expressed dates.

[2021-11-14 12:06] systemcatch commented on #1066
Hello @rtphokie, your example seems to work fine for me without replacement.

[code]

For situations with extra whitespace use the `normalize_whitespace` flag.
[code]
https://arrow.readthedocs.io/en/latest/#redundant-whitespace

[2021-11-14 20:14] koonan opened #1067 "Issue with the timezone preserving while invoking the shift method."
## Issue Description

Creating the same error, and converting it to Los Angeles time, and then shifting it with 0 seconds decreases the timezone offset with one, I think there is a problem with the daylight savings calculations.

[code]

The desired outcome should be the same for the two invocations in there.

## System Info

- 🖥  **OS name and version**: Mac OS Big Sur Version 11.6
- 🐍  **Python

[2021-11-14 21:32] rtphokie commented on #1066
Missed that flag, thanks for pointing it out.

Shouldn't that be default behavior though?

[2021-11-14 22:05] systemcatch commented on #1066
We don't like to assume what the user wants, or do too much hidden processing of the string. Easier for them to explicitly invoke the flag.

[2021-11-18 09:33] marc-fouquet opened #1068 "Wrong calculation during DST switch"
## Issue Description

[code]

## System Info

- 🖥  **OS name and version**: Ubuntu 18.04.6 LTS
- 🐍  **Python version**: Python 3.6.9
- 🏹  **Arrow version**: '1.2.1'

[2021-11-18 10:41] marc-fouquet commented on #1068
[code]

[2021-11-20 14:24] systemcatch commented on #1068
Hello @marc-fouquet, responding to your first post this is what we expect to see based on how python handles DST switch backs.

[code]
`2021-10-31T02:00:00+02:00` and `2021-10-31T02:00:00+01:00` are the same time in the `Europe/Berlin` zone. This creates problems because this point is now ambiguous when referred to, PEP 495 created the `fold` attribute to handle this situation.

Further reading:
h

[2021-11-20 14:41] systemcatch commented on #1068
@marc-fouquet running your code from the second post I get the following result.
[code]
Second and third attempts do not match, are you perhaps using an old version of arrow?

[2021-11-21 18:11] systemcatch commented on #1067
Interesting, this is mainly due to this time being ambiguous in the `America/Los_Angeles` zone.

[code]
However the zero second `shift` does give a bizarre result on the surface, I will investigate further.

[2021-11-23 09:57] marc-fouquet commented on #1068
Thanks for getting back to me.

Regarding the first post: I was not aware that there is a deeper debate behind this. I think I will just convert my times to UTC, as such timestamps appear to work correctly. However regarding the semantics article, I think the main error is the assumption that one day is always equal to 24 hours.

Regarding the second post: You are right, I played around with diffe

[2021-11-29 04:15] neelrpatel commented on #1001
Hi! @akotha7 and I would like to work on this. We aim to have the functionality supported by at least 5 locales for now. Please let us know if there is anything we should know.

[2021-11-29 04:15] neelrpatel commented on #1022
Hi! @akotha7 and I would like to work on this. We aim to improve and increase testing for at least 5 different locales. Please let us know if there is anything we should know.

[2021-11-29 20:10] anishnya commented on #1022
Hi @neelrpatel! Both you and @akotha7 are welcome to work on this issue. For this issue, what we want to see is for locales, such as Finnish, that have multiple variations on each timeframe unit, we would like our test cases to cover all the variations within those timeframe units (i.e all variations of the strings for seconds, hours etc).  Currently, many of the test cases for these locales only

[2021-11-30 17:53] systemcatch commented on #1001
Hi @neelrpatel, I think for this kind of work we need a spec detailing how this will work and what locales will be supported. i.e. expected inputs and outputs, how locales that don't support this respond.

[2021-11-30 17:56] systemcatch commented on #1068
Ahh good to hear that, I will close this for now.

[2021-11-30 17:56] #1068 closed

[2021-12-02 10:20] #1066 closed

[2021-12-02 16:36] systemcatch commented on #1064
Using code from https://aboutsimon.com/blog/2016/08/04/datetime-vs-Arrow-vs-Pendulum-vs-Delorean-vs-udatetime.html and modifying it to run on Python 3.9 I was able to get the following results.

Note - I couldn't get udatetime to install and quite a bit has changed with pendulum making some of the comparisons difficult.

[code]

[2021-12-03 02:37] jadchaar commented on #1064
We should probably add descriptions to each benchmark and work on graphing the results.

[2021-12-03 15:05] systemcatch commented on #1064
Absolutely, we also need to check this is actually doing fair comparisons as well. Looks like `parse/now/fromtimestamp` are where arrow is slower.

[2021-12-04 03:43] Swizzler121 opened #1072 "Day of the week as number 'd' does not format back to day of the week"
## Issue Description
When formatting from a date as an integer, it does not always translate correctly.

example code:

[code]

example output:

[code]

**Sample 1: Single digit input**
As you can see, when using arrow.get to fetch day of the week as an integer, no matter what number you give it, it instead grabs the date of 0001-01-01 which is a Sunday, but then more confusingly, it formats 0001-

[2021-12-04 15:10] Swizzler121 commented on #1072
Ran the example code on my windows system just to show it's not one particular environment:

[code]

## System Info

- 🖥  **OS name and version**: Windows 10 Version 21H1 (OS Build 19043.1348)
- 🐍  **Python version**: Python 3.10.0
- 🏹  **Arrow version**: 1.2.1

[2021-12-12 09:00] neelrpatel commented on #1022
@anishnya I've created a [PR](https://github.com/arrow-py/arrow/pull/1073) for additional testing on locales with multiple timeframe variations. The PR description lists which locales I've increased testing on.

[2021-12-12 10:26] anishnya commented on #1022
Hey @neelrpatel. Sorry for just seeing this, but the PR you submitted does give us the coverage of the locales that we wanted. I'll take a closer a look at the PR later today and approve it.

[2021-12-12 22:12] neelrpatel commented on #1022
@anishnya Awesome, thanks!

[2021-12-13 18:41] systemcatch commented on #1072
Hey @Swizzler121 when I try your second example I get the following result.

[code]
I think `wkday2` is being overridden at some point.

For the first example I can see the bug, @jadchaar I think we worked on this at one point?

[2021-12-13 18:48] #999 closed

[2021-12-15 17:42] akotha7 commented on #1001
Hi @systemcatch and @anishnya! I've put up a [PR](https://github.com/arrow-py/arrow/pull/1075) for this issue. I added tests and documentation as well, and would love feedback on locales and edge cases I mentioned in the PR.

[2021-12-16 20:15] kaiyang-code commented on #1022
Hi! @anishnya. In particular, I have noticed that some locales have fewer test cases than others. I plan to expand test cases for those locales

[2021-12-16 20:19] anishnya commented on #1022
Hi @kaiyang-code, yes feel free to open a PR on the issue and I'll be more than happy to take a look at it. Let us know if you have any questions.

[2021-12-16 22:17] kaiyang-code commented on #1022
@anishnya I am ready to create a PR. I read that I have to update documentation? Could you elaborate on which documentation should I update? Thank you in advance!

[2021-12-16 23:02] anishnya commented on #1022
For this PR there wouldn’t need to be any additional documentation.

On Thu, Dec 16, 2021 at 5:17 PM kaiyang-code ***@***.***>
wrote:

[2021-12-16 23:06] kaiyang-code commented on #1022
@anishnya Got it, I just create a PR #1076

[2021-12-18 04:17] #985 closed

[2021-12-18 19:18] #996 closed

[2021-12-19 19:46] #885 closed

[2021-12-26 07:30] anishnya opened #1078 "Czech/Slovak Locales Humanize Error When Zero Delta"
## Issue Description

The Czech and Slovak locales fail when using Humanize on a delta of zero. See the following example below.

[code]

I suspect this is due to the fact that typically humanize when it sees a zero delta, defaults to the plural timeframe (i.e second vs seconds). This causes an issue for these locales since the "zero" string for a timeframe is located in the non-plural timeframe u

[2021-12-27 21:07] #1078 closed

[2021-12-28 21:51] systemcatch commented on #755
https://github.com/pandas-dev/pandas/pull/37329 has been merged in to the pandas master branch. I believe this issue can be closed now.

[2021-12-28 21:51] #755 closed

[2022-01-07 07:09] krisfremen opened #1081 "Add ability to use CLDR"
## Feature Request

Add the ability to use CLDR in Arrow for locales to replace and/or supplement the current ones.

CLDR updates can be frequent, so packaging this in Arrow as an extras_require, where a user can update the definitions separately from Arrow and not overwhelm Arrow with many frequent releases would be ideal.

Example: https://unicode-org.github.io/cldr-staging/charts/37/verify/date

[2022-01-11 15:39] Distortedlogic opened #1082 "weird behavior difference: arrow.utcnow().timestamp and arrow.utcnow().timestamp()"
I have two screenshots of running `arrow.utcnow().timestamp` and `arrow.utcnow().timestamp()` both on google colab and a local jupyter lab instance. On google collab, `arrow.utcnow().timestamp()` returns as expected, and as per the arrow docs. On the jupyter lab instance, `arrow.utcnow().timestamp()` raises `TypeError: 'int' object is not callable` and `arrow.utcnow().timestamp` returns the expect

[2022-01-11 16:09] Distortedlogic commented on #1082
Upon further investigation, it appears this is an OS difference. I ran the same lines of arrow in the python interpreter on my windows machine to one result and in a linux docker container to a different result replicating the scenario above with linux producing the expected behavior.

On windows
![11-01-2022-11-05-11](https://user-images.githubusercontent.com/54854447/148978188-f1db145e-bd1d-45bb

[2022-01-11 16:41] #1082 closed

[2022-01-11 16:43] systemcatch opened #1083 "Python 3.6 is EOL"
Python 3.6 reached EOL in December, here is the current split by version for arrow usage.

| category | percent | downloads |
|:---------|--------:|----------:|
| 3.7      |  38.26% | 1,910,775 |
| 3.8      |  32.76% | 1,635,938 |
| 3.6      |  12.85% |   641,712 |
| 3.9      |   6.48% |   323,713 |
| null     |   3.70% |   185,035 |
| 2.7      |   3.07% |   153,354 |
| 3.10     |   2.26% |   112,

[2022-01-11 17:04] krisfremen commented on #1083
Thanks for the version numbers breakdown @systemcatch

[2022-01-12 17:15] talhajunaidd commented on #1083
Is there any technical reason to remove the support for python 3.6?

[2022-01-12 17:19] jadchaar commented on #1083
Nope not as of now. Most new language features are backported back to 3.6 so I doubt we will drop it anytime soon. I think we should wait at least a year before dropping support to give teams time to migrate to newer versions of Python.

[2022-01-13 19:12] jhonnattan123 opened #1084 "force exact match on .get()"
## Issue Description

when executing the following statement:

[code]

the library returns me the date, but I gave it a single M, so it shouldn't have done the .get() but it did. one would expect it to fail, as the correct format should be 'YY-MM-D HH:mm:ss' for that same example.

I would like to know if this is a bug or is there a parameter to force the match to be exact?

## System Info

- 🖥  u

[2022-01-19 16:30] systemcatch commented on #1084
Hi @jhonnattan123 this is a bug with the `M` and `MM` tokens, we will look into fixing it.

[2022-01-19 17:35] systemcatch commented on #1083
@jadchaar do you think we should do a deprecation warning for 3.6 on install like we did for 2.7?

[2022-01-19 20:59] jadchaar commented on #1083
Eventually we should, but I think until we have a concrete path to deprecation and an exact timeline I don’t know if it’s worth throwing a deprecation warning which annoyed some users during 2.7 deprecation.

I think we should give users some time to migrate away from 3.6 since it just went EOL. And down the line we can issue a warning once the numbers trend downward and supporting 3.6 becomes an

[2022-01-21 14:37] systemcatch commented on #1083
Agreed I think that is the best course of action for now, I will keep posting the usage stats every month so we stay up to date.

[2022-02-07 21:26] ashleybellomy commented on #1022
I submitted some additional test cases, as well.

[2022-02-21 14:56] isac322 opened #1094 "[Question] Can remove `dateutil` from dependency?"
## Feature Request

Python 3.9 introduced `ZoneInfo` and it backported 3.6+ (https://pypi.org/project/backports.zoneinfo/).
Looking at the code, except for `dateutil.rrule` and `dateutil.relativedelta`, it seems that `dateutil` is being used for some reason related to timezone. Can `ZoneInfo` replace the part and delete `dateutil`?

[2022-02-22 02:27] anishnya commented on #1094
@jadchaar, @krisfremen and @systemcatch are more well-versed on this than I am. From what I recall, there was talk about removing dateutil as dependency earlier last year.

[2022-02-22 03:03] jadchaar commented on #1094
Yup, it would be great to lose a dependency wit ZoneInfo, but we'd need to port over rrule and relativedelta or find potential alternatives before dropping the library. A PR would be appreciate @isac322 :)!

[2022-02-22 03:04] jadchaar commented on #1094
Related to:
https://github.com/arrow-py/arrow/issues/825
https://github.com/arrow-py/arrow/issues/825

[2022-03-01 09:23] JosEnerv opened #1095 "MAX_TIMESTAMP calculation error"
## Issue Description

There are some issues related to the way max values are handled (partially because of how python's datetime works) :

The way how Arrow calculates the max timestamp constant value also fails on Linux in **constants.py** :

`_MAX_TIMESTAMP = datetime.max.timestamp()`

Which will raise a ValueError in non-utc timezones (timestamp() ) will try to return a timestamp in the local

[2022-03-07 17:33] systemcatch commented on #1095
Hi @JosEnerv, thanks for the bug report, we've struggled a lot with max timestamp calculations in the past. Can you put together a minimal example so we can try to reproduce on our end?

[2022-03-09 11:15] JosEnerv commented on #1095
Sure, this is the example :

[code]

As background info, the ticket I opened on the python bugtracker : https://bugs.python.org/issue46856

[2022-03-15 20:11] mbartenschlag opened #1097 "`span_range` produces questionable output following DST time change"
## Issue Description

I believe the `span_range` function produces erroneous output stemming from the time change to DST in the US.

In the example below at ndx=1, the upper bound for the span is `<Arrow [2022-03-13T03:59:59.999999-04:00]>` when I believe it should be `<Arrow [2022-03-13T01:59:59.999999-05:00]>`.

[code]

## System Info

- 🖥  **OS name and version**: Ubuntu 18.04.6 LTS
- 🐍  **Pyth

[2022-03-17 02:41] mbartenschlag commented on #1097
I've simplified the test case. The assertion below fails:

[code]

Lines 1040-1043 in [arrow/arrow.py](https://github.com/arrow-py/arrow/blob/c9cae9e8c25f021bc1b0075ad7eba25d10463308/arrow/arrow.py#L1040) reveals what's going on under the hood:

[code]

For the `shift_back` case, the `dateutil_tz.datetime_exists` condition fails, so it gets overwritten with the result of `dateutil_tz.resolve_imagi

[2022-03-24 16:09] anarcat opened #1100 "support dates like "next tuesday""
## Feature Request

It would be great if arrow supported more human-readable date specifications like "next tuesday" or "previous year"... This is something only parsedatetime does right now, as far as I know.

[code]

[2022-03-25 02:29] anishnya commented on #1100
This definitely is something we want to add going forward. #1081 would help making sure this has broad support beyond just English.

[2022-03-25 13:48] anarcat commented on #1081
coming from the land of the dateparser module, i will say to be careful in how you implement this. large datasets like this tend to impact run (and sometimes particularly load) time significantly. right now, arrow loads in a few miliseconds and it would be a shame to ruin that. ;)

[code]

(that's an old arrow, 0.17 in debian stable, but still... i think latest releases are comparable)

[2022-03-25 15:58] krisfremen commented on #1081
@anarcat we were thinking of going with a more modular approach, to have this as an addon to arrow that can be loaded on demand instead of as a fully built-in feature with all the locales inside the main repo.

As CLDR updates quite often, we don't want to spam releases for a CLDR only update, but have a separate arrow-cldr lib that can follow as closely as possible while keeping the arrow lib fre

[2022-04-01 07:35] MarkusEh commented on #738
Hi,

I checked in git, and
`        if tzinfo is None:
            if dt.tzinfo is None:
                tzinfo = dateutil_tz.tzutc()
            else:
                tzinfo = dt.tzinfo`
is still part of "https://github.com/arrow-py/arrow/blob/master/arrow/arrow.py".
On my rpi3 system: Kodi (19.4 (19.4.0) Git:20220315-c9de65b422). Platform: Linux ARM 32-bit,
`2022-04-01 06:00:41.538 T:3290    ERR

[2022-04-20 22:15] krisfremen commented on #1083
@systemcatch hey, would you be able update the stats to see if we should consider making a decision on this?

[2022-04-28 14:19] Gravitar64 opened #1106 "Error in datediff calculation"
If i calculate the time difference between 2 datetime objects, the result is incorrect. Here an example:

import arrow
start = arrow.get('28.04.2022 14:00','DD.MM.YYYY HH:mm' )
end   = arrow.now()
print(f'Start-Datetime: {start}')
print(f'End-Datetime  : {end}')
print(f'Time-Difference: {end-start}')

Start-Datetime: 2022-04-28T14:00:00+00:00
End-Datetime  : 2022-04-28T16:17:06.144073+02:00
Time-D

[2022-04-28 14:58] krisfremen commented on #1106
seems to be correct, the timezones differ by 2 hours, which makes up in the resulting time difference.

try specifying the timezones explicitly for now(), as it uses the local timezone, or switch to using utcnow().

[2022-04-30 10:24] Gravitar64 commented on #1106
Hi,

ok, I replaced the tzinfo for start to "Europe/Berlin". But that has no effect

[code]

Start-Datetime: 2022-04-30T12:22:02.977434+02:00
End-Datetime : 2022-04-30T13:00:00+00:00
Time-Difference: 2:37:57.022566

The correct Time-Difference should be 00:37:57......

[2022-05-03 19:00] systemcatch commented on #1083
@krisfremen no problem, here are the stats for April.

| category | percent | downloads |
|:---------|--------:|----------:|
| 3.8      |  33.20% | 2,175,467 |
| 3.7      |  32.77% | 2,147,326 |
| 3.9      |  11.80% |   773,300 |
| 3.6      |   9.75% |   639,097 |
| 3.10     |   5.29% |   346,789 |
| null     |   4.51% |   295,713 |
| 2.7      |   2.36% |   154,787 |
| 3.5      |   0.22% |    14,4

[2022-05-03 19:09] systemcatch commented on #1097
Hi @mbartenschlag thank you for the detailed bug report and diving into the code.

While this does give a slightly strange result I believe we are following datetime std library logic here.

[2022-05-06 09:51] olivebay commented on #749
I'm still seeing this on arrow 1.2.2, for example:

[code]

This should be a month ago. Are you working on a fix, or there is a different way to do this?

Thanks

[2022-05-07 21:28] anishnya commented on #749
Hi @olivebay, we're currently evaluating various ways to improve this. The current method for calculating relative dates relies upon fairly basic math operations and assumptions. Our concern with implementing something more accurate and precise would be reduced performance for batch processing jobs. Most likely we'd either introduce a flag or new method for more precise results (similar to https:/

[2022-05-19 10:58] systemcatch commented on #1106
@Gravitar64 start and end are still in different timezones, you need to specify it for both of them.

[2022-05-22 14:50] pritisolanki opened #1108 "Missing timezone string for utc+5:30 TZ"
Date format missing timezone string

## Issue Description
[code]
**Output**
flight scheduled departure is 22,May 10:40 AM EDT and expected arrival at destination is 24,May 00:10 AM
**which is missing "IST" at end**

But when I add ZZ, I get correct tz expression
flight scheduled departure is 22,May 10:39 AM **EDT** and expected arrival at destination is 24,May 00:09 AM **+05:30**

## System Info

[2022-05-24 04:17] jrollins opened #1109 "GPS time conversion"
there is a strong need for GPS time conversion in many science applications.  Unfortunately none of the existing python date/time libraries support GPS time conversion.  The only library that does on a limited basis is [astropy](https://www.astropy.org).  I am the upstream maintainer of [gpstime](https://pypi.org/project/gpstime/), which is an attempt to fill that gap.  I (and likely much of the s

[2022-06-06 21:43] reagle opened #1111 "You say you support PEP 484 in README, but there's no .pyi file documenting types for library"
Hi, I've been trying to make use of type hints and just used this library for the first time. Your documentation says "Full support for PEP 484-style type hints" but I don't see what types I can use via a pyi file or documentation.

[2022-06-06 21:53] krisfremen commented on #1111
We don't have stub files(pyi) as the type hints are in the code itself.

[2022-06-06 22:59] reagle commented on #1111
Again, I apologize for my newb, but I looked briefly at the code and wasn’t sure what the annotations would be that I could use with mypy for instance. I looked at the tests in particular for annotations on function signatures.

[2022-06-09 08:05] ALee008 commented on #1084
Hey there,

I have checked the [supported tokens](https://arrow.readthedocs.io/en/latest/#supported-tokens) in the documentation. The token `M` seems to be valid, so
[code]
should not fail, but instead return (no leading zero in front of month):
[code]
Is this conclusion correct?

[2022-06-10 11:05] systemcatch commented on #1084
Hey @ALee008 not quite.

I think you are confusing formatting where this `M` would be valid. Arrow objects always store the month in zero padded form internally.

[2022-06-21 03:06] swxs opened #1113 "Error match in arrow.get"
## Issue Description

## System Info

- 🖥  **OS name and version**:  Windows 11
- 🐍  **Python version**: 3.8.6
- 🏹  **Arrow version**:  0.14.2

![image](https://user-images.githubusercontent.com/18203761/174707568-f7c67646-6775-4df8-a63e-b87f5fb3ecdf.png)
the return of arrow.get("2020/6/17\xa0\xa000:00:00") is not as expected

[2022-06-22 00:26] krisfremen commented on #1113
hey @swxs,

0.14.2 is a very old version! Try out the latest version.

1.2.2 currently outputs:
[code]

[2022-06-22 00:34] krisfremen commented on #1109
@jrollins this would indeed be a great addition to arrow!

We do try to keep arrow as light and standalone as possible, as doing this would require fetching the leap seconds on systems other than Linux.
We'll need to see what trade offs it will require to implement in arrow and keep the experience as smooth as possible.

[2022-06-22 00:44] krisfremen commented on #1108
hey @pritisolanki,

In order for ZZZ to be used, the timezone expression must be the time zone name, and not the numeric values("+05:30")  as they are ambiguous and can match back to multiple named time zones.

Example:
[code]

Cheers!

[2022-06-22 07:20] swxs commented on #1113
I'm sorry, actually I try to upgrade to 1.2.2 and forget to reload the package

but in 1.2.2 it has another
![image](https://user-images.githubusercontent.com/18203761/174967659-b1ab54b1-5e1c-4b5a-9a63-dd17f2d91613.png)

[2022-06-22 15:20] jrollins commented on #1109
The leap second database is only updated very rarely.  One possibility is just distributing the leap second list with arrow, so you wouldn't have to depend on something external.  The problem with that of course is that it would get out of date for people who don't update regularly.  A warning could be issued if the leap second file is out of date though, telling people to update their install.

W

[2022-06-23 11:33] Kaju-Bubanja commented on #832
Also microseconds was renamed to microsecond in the arrow_object.replace() function. Probably also in other places

[2022-06-23 11:53] Kaju-Bubanja opened #1115 "Be consistent with the pluralisation of units"
## Feature Request

In version 1.2.2 the function `replace` takes the units without the ending s and the `shift` function takes it with the s.

[code]

[2022-06-29 09:48] systemcatch commented on #1115
Hi @Kaju-Bubanja this is partly due to the old versions of arrow combining `replace` and `shift`. At this point I don't think this is worth altering.

[2022-06-29 11:13] Kaju-Bubanja commented on #1115
So is the idea to completely replace one of the functions?

[2022-06-29 22:23] thezoggy commented on #738
still running into this periodically on win10 with kodi's `script.module.arrow` addon

[2022-06-30 20:46] xiajingjie commented on #353
+1    It doesn' t work  in Windows+Anaconda..

[2022-07-14 22:09] sebtrack opened #1117 "Updated to latest string unix timestamp is not understood by 'get'"
## Issue Description

[code]
results in
[code]

worked beforehand but with the latest version it does not.

We would like to accept a lot of time formats and some of them are strings some of them are unix timestamps, so forcing a int/float conversion is unacceptable. It would be nice to use string unix timestamps.

## System Info

- 🖥  **OS name and version**: ubuntu
- 🐍  **Python version**: 3.8
-

[2022-07-17 19:46] vinraspa commented on #353
Unfortunately, `easy_install` is not available in recent python versions (at least in `3.10`).

I finlally found a very simple workaround which consists in hacking `my_python_script.spec` file the way below:
[code]
It works well on my side.

[2022-07-24 12:04] systemcatch commented on #1115
replace and shift used to be one function which had different actions based on use of plurals. This made errors based on input very likely, so the function was split into replace and shift.

We are not planning to make any changes to these.

[2022-07-24 12:04] #1115 closed

[2022-08-02 15:42] cornjuliox opened #1120 "How do I correctly parse abbreviated month names?"
I've got a number of datetimes in a spreadsheet that look like this:

[code]

I'm attempting to parse these with the following:

[code]

Documentation states that "MMM" is the token for abbreviated months, but it's expecting a number from 1 - 12 instead. Am I using the tokens incorrectly?

Python version: 3.10.4
Arrow version: 1.2.2

[2022-08-30 17:20] anishnya commented on #1117
@krisfremen @systemcatch @jadchaar any insight on this?

[2022-08-31 06:20] thezoggy commented on #738
fix noted here: https://kodi.wiki/view/Python_Problems

[2022-09-02 04:10] wesnm commented on #738
I don't think that's the fix for the "timedelta" bug. What's happening in this case is that _datetime.datetime.max_ is being corrupted and replaced by a _datetime.timedelta_ object.

One simple workaround is to replace the last two lines of _arrow.py_ as such:

`Arrow.min = Arrow.fromdatetime(dt_datetime.min)`
`Arrow.max = Arrow.fromdatetime(dt_datetime.max)`

with

`Arrow.min = Arrow.fromdatetime

[2022-09-09 14:30] joekohlsdorf opened #1124 "ceil("day") incorrect on the day before DST switch"
When reviewing this, make sure that you have an updated timezone database. The date of the DST switch for this location was moved ~3 weeks ago so if you try with an outdated database you will not see the DST switch occur on this date.

## Issue Description

For this timezone there is a DST switch from UTC-4 to UTC-3 occurring on 2022-09-11 00:00 to 2022-09-11 01:00 local time.
This makes `ceil("da

[2022-09-21 05:30] krisfremen commented on #1081
As a side effect to this, I was thinking of adding the ability for humanize to handle a custom locale class.

Currently, one has to add a custom locale class into the locale map and then use a string with humanize, dehumanize.

Thoughts?

[2022-09-21 05:33] krisfremen commented on #1100
Indeed, cldr has most of the relative types for many languages.

This would mean a bit of a refactor and changes to the current locale setup to accommodate the layout of cldr as well.

[2022-09-29 02:12] Ione03 opened #1125 "Humanize more human version"
Increased ability to convert to yesterday instead of 1 day ago, or tomorrow instead of in 1 day.
For example :
[code]
I got inspiration from whatsapp app

[2022-10-02 18:56] sanittawan opened #1127 "Proposal to change certain Thai translations in Locale"
Hello! I'm a native Thai speaker who happened to stumble upon your project. I would love to propose the following changes as detailed in the comments.

[code]
I'm happy to make these minor changes if you see fit and submit a pull request. I also saw that you are looking to improve test cases in various languages. I am happy to write some tests for Thai, but I need a bit more time to familiarize my

[2022-10-03 23:29] krisfremen commented on #1127
Hey @sanittawan,

Yes, please, go ahead and make a PR if you can.

We welcome all contributions!

[2022-10-04 17:58] vivekthedev commented on #1124
I would like to work on it, can you guide me how should I start?

[2022-10-05 04:10] sanittawan commented on #1127
Thanks @krisfremen! I will get to it later in the week and will send a PR.

[2022-10-06 18:51] scottfurry opened #1128 "User Documentation Difficult to Read Because of Index"
## Issue Description
User Documentation Difficult to Read Because of Index

The indentation of numerous languages under `arrow.locale` causes the document index to overlap the user examples. This makes reading and comprehending the arrow library difficult to understand. Screenshot of situation attached.

![Py_Arrow_ReadDocs](https://user-images.githubusercontent.com/6686571/194394689-49615a21-d101

[2022-10-10 21:15] nijek commented on #1125
Is there anybody working on this? If not I'd like to do it.

[2022-10-14 01:57] krisfremen commented on #1125
@nijek you can give it a shot, I'm working on generating locales off of CLDR, so if you can work within the data and ranges they have, that would be great!

[2022-10-15 18:09] haffi96 opened #1134 "Improving the documentation layout"
The current documentation is a little difficult to navigate for a couple of reasons:

- The table of content is overflowing on the text (as highlighted in #1128)
- The doc is a long one pager...
- The search box is right at the bottom

Most of these problems would be solved by simply using a more updated sphinx theme (https://sphinx-rtd-theme.readthedocs.io/en/stable/index.html)

I've opened a PR

[2022-10-16 01:28] lmmentel commented on #1128
This would be great to be fixed since the documentation right now is not very usable.

![image](https://user-images.githubusercontent.com/8989838/196013629-a8093c7d-c0fd-4326-add1-3f914a1eda96.png)

[2022-10-17 17:46] krisfremen commented on #1128
I will review and merge the PR for this later today.

[2022-10-18 12:47] #1120 closed

[2022-10-24 21:31] clarsen opened #1136 "incorrect time difference for times before and after DST switch"
## Issue Description

The time difference between two localized times isn't the actual difference in seconds, but rather the naive difference.

Example:
[code]
results in:
[code]

would expect 1.0 instead.

Workaround use timestamp() instead:
[code]

results in:
[code]

## System Info

- 🖥  **OS name and version**: CentOS 7
- 🐍  **Python version**: 3.8.11
- 🏹  **Arrow version**: 1.2.3

[2022-10-27 16:43] krowbar opened #1138 "Add "T" separator to FORMAT_RFC3339"
## Include "T" separator in the format string for FORMAT_RFC3339

Currently the FORMAT_RFC3339 does not include the "T" separator, but technically it is required.
From https://www.rfc-editor.org/rfc/rfc3339#page-7

I realize that str() already returns the RFC3339 format with the "T".

[2022-10-28 08:12] Nik-K11 commented on #872
Hello @systemcatch
I've opened a pull request for the feature.

BTW, this notation was already working, since all the arguments would be passed into Arrow constructor 🙃

[2022-10-29 09:53] nik-k11 commented on #1124
Hello there.

`ceil` uses `span`, which uses `shift`. [`shift` relies on](https://github.com/arrow-py/arrow/blob/master/arrow/arrow.py#L1042) `dateutil_tz.resolve_imaginary`, which always moves imaginary dates forward (per its docs and implementation).

This results in behavior like this:
[code]
It seems like the correct result should be `<Arrow [2022-09-10T23:59:59.999999-04:00]>`

It would be ni

[2022-11-01 18:34] #1134 closed

[2022-11-03 03:09] krisfremen commented on #1128
Resolved with #1134 and #1135.

[2022-11-03 03:09] #1128 closed

[2022-11-03 03:37] krisfremen commented on #1138
hey @krowbar, str() returns ISO8601 which does have the "T", as per https://github.com/arrow-py/arrow/blob/1.2.3/arrow/arrow.py#L792

in order to not break backwards compatibility of people that might already be using this formatter, I'd say we can add another one, FORMAT_RFC3339_STRICT, to add the "T".

@jadchaar @anishnya @systemcatch thoughts?

[2022-11-14 20:42] 13MK3 commented on #1117
From reading the release history, this behavior was intentionally changed in version 0.15.0 "to support the ISO 8601 basic format and to address bugs such as #447". Is this really something that people would want to revert?

[2022-11-15 16:24] anishnya commented on #1117
@krisfremen @jadchaar @systemcatch could you elaborate more for @13MK3

[2022-11-23 14:25] NikkiSatmaka opened #1144 "Pandas Timestamp from Arrow Object"
## Issue Description
I read #755 and thought that Arrow objects supposed to work with pandas TimeStamp object.
However, I couldn't get them to work together without accessing the property "naive".

The Arrow objects couldn't be parsed using `pd.to_datetime`
I couldn't sliced pandas Timestamp using Arrow objects as well. Is this how it's supposed to be?

I really like arrow that I can get the floor

[2022-11-30 09:23] not-so-rabh opened #1145 "passing a parameter to Arrow.shift function (to check for imaginary times or not)"
The shift function takes some time than absolute adding of relativedelta to datetime. If I am operating on a range where I know there is no dst change I should be able to bypass this check.